

.login {
  justify-content: center;
  align-items: center;
  background-size: 200%;
  background-image: linear-gradient(to bottom left, darkslateblue 0%, darkslategray 80%, darkslategray 100%);
  transition: 600ms ease;
}

.login:hover {
  background-position: 100% 0;
}

.login-container {
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

input {
  outline: none !important;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
}

.login-container {
  display: flex;
}

.brand {
  padding: 20px;
  background: url(https://goo.gl/A0ynht);
  background-size: cover;
  background-position: center center;
  color: #fff;
  width: 30vw;
  min-width: 450px;
  min-height: 560px;
  position: relative;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
  z-index: 9999;
}

.brand.active {
  width: 100%;
}

.brand::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

.brand a.logo {
  color: slateblue;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  line-height: 1em;
}

.brand a.logo span {
  font-size: 30px;
  color: #fff;
  transform: translateX(-5px);
  display: inline-block;
}

.brand .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 0.6s;
}

.brand .heading.active {
  top: 100px;
  left: 100px;
  transform: translate(0);
}

.brand .heading h2 {
  font-size: 3.5rem;
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.brand .heading p {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Raleway", sans-serif;
}

.brand .success-msg {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
}

.brand .success-msg p {
  font-size: 25px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.brand .success-msg a {
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 30px;
  background: slateblue;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
}

.brand .success-msg p, .brand .success-msg a {
  transition: all 0.9s;
  transform: translateY(20px);
  opacity: 0;
}

.brand .success-msg p.active, .brand .success-msg a.active {
  transform: translateY(0);
  opacity: 1;
}

.form {
  width: 30vw;
  min-width: 450px;
  position: relative;
}

.form .form-peice {
  background: rgba(0,0,0,.2);
  min-height: 500px;
  margin-top: 30px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  color: #bbbbbb;
  padding: 30px 0 60px;
  transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
  position: absolute;
  top: 0;
  left: -30%;
  width: 130%;
  overflow: hidden;
}

.form .form-peice.switched {
  transform: translateX(-100%);
  width: 100%;
  left: 0;
}

.login-form, .signup-form {
  padding: 0 40px;
  margin: 0;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.form .form-group:first-of-type {
  margin-top: 0
}

.form .form-group {
  margin-top: 1rem;
  margin-bottom: 5px;
  position: relative;
}

.form .form-group.hasError input {
  border-color: coral !important;
}

.form .form-group.hasError label {
  color: coral !important;
}

.form label {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transform: translateY(20px);
  transition: all 0.4s;
  cursor: text;
  z-index: -1;
}

.form label.active {
  transform: translateY(0px);
  font-size: 10px;
}

.form label.fontSwitch {
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
}

.form input {
  background: none;
  outline: none;
  border: none;
  display: block;
  line-height: 1;
  padding: .3rem 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}

.form input.hasError {
  border-color: coral;
}

.form span.error {
  color: coral;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 0;
  display: none;
}

.form input[type=password] {
  color: coral;
}

.CTA {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.CTA button {
  font-size: 12px;
  text-transform: uppercase;
  padding: .7rem 2rem;
  background: slateblue;
  color: #fff;
  border-radius: 30px;
  margin-right: 20px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.CTA a.switch {
  font-size: 13px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #bbbbbb;
  text-decoration: underline;
  transition: all 0.3s;
}

.CTA a.switch:hover {
  color: slateblue;
}
