/* Vacation Page - 연간휴가조회 */
.vacation .accordion-menu .submenuItems li {
    justify-content: space-between
}

.modal.vacation strong:after {
    content: '일';
    color: #333;
    font-weight: normal;
    margin-left: 3px
}

.modal-01.vacation li:first-child {
    border-bottom: 1px solid #ddd;
    margin-bottom: .5rem;
    padding-bottom: .5rem
}

.modal-01.vacation li:first-child p:before {
    content: none
}

.modal-01.vacation li:first-child strong {
    color: #003EB1
}

.bar-chart {
    margin-bottom: 1rem
}

.bar-chart .legend {
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: 1rem
}

.bar-chart .legend label:nth-of-type(1):before {
    content: "■";
    color: #003EB1;
    margin-right: 3px;
}

.bar-chart .legend label:nth-of-type(2):before {
    content: "■";
    color: #DDD;
    margin-right: 3px;
    margin-left: 1rem
}

.bar-chart .markers rect {
    fill: #BBB
}

.bar-chart .markers rect:last-of-type {
    transform: translateX(-1px)
}

.bar-chart .labels text {
    fill: #667788
}

.bar-chart .radio {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem
}

.fraction-container {
    width: 270px;
    margin: 0 auto 1rem;
    border-radius: .5rem;
    border: 1px solid #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.fraction,
.fraction .top,
.fraction .bottom {
    padding: 0 5px;
}

.fraction {
    display: inline-block;
    text-align: center;
}

.fraction .bottom {
    border-top: 1px solid #000;
    display: block
}



/* Contract Page - 계약품의조회 */
.main-content .submenuItems.guarantee li {
    flex-direction: column
}

/* .main-content .submenuItems.guarantee li:nth-child(1) span {font-weight:bold; color:#003EB1} */
.main-content .submenuItems.guarantee li:nth-child(2)>span {
    font-weight: bold
}

.main-content .submenuItems.guarantee li:first-child {
    flex-direction: row
}

.main-content .submenuItems.guarantee .bg-lightblue {
    border-bottom: 0;
    margin: .5rem 0 0;
    border-radius: 3px
}

.main-content .submenuItems.guarantee .total {
    margin: 0;
    margin-top: 1rem;
    background-color: #F7F8F9;
    border-bottom: 0
}

.main-content .submenuItems.guarantee li i.fa-minus-circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 1rem
}

.main-content .submenuItems.guarantee li span:nth-child(2) {
    margin-top: .5rem
}

.main-content .submenuItems.guarantee li.total span:nth-child(2) {
    margin-top: 0 !important
}

.main-content .submenuItems.guarantee li span:nth-child(3) {
    color: #A3A6A9
}



/* Overtime Page - 휴일근무신청 */
.extra-hours ul {
    display: flex
}

.extra-hours li {
    text-align: center;
    padding: .5rem;
    flex: 1 1 25%;
    position: relative
}

.overtime .extra-hours ul {
    grid-template-columns: 2fr 1fr 1fr
}

.overtime .extra-hours li:last-child {
    background: #F6F7F8;
    border-radius: .5rem;
}

.overtime .extra-hours li:last-child strong {
    color: #003EB1
}

.overtime .extra-hours li:nth-child(2) {
    border-left: 1px solid #EEE
}

.overtime .progress {
    padding: 0 .2rem
}

.overtime .accordion-menu .dropdownlink>*:first-child strong {
    margin-right: 1rem
}

/* Mortgage Page - 담보만기조회 */
.total {
    background: #E7E8E9;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between
}

.total span:last-child {
    font-weight: bold;
    color: #003EB1
}

.mortgage .submenuItems li span:last-child {
    margin-right: 0
}

.submenuItems li {
    display: flex;
    justify-content: space-between
}

.mortgage .accordion-menu li:nth-of-type(3) .information>li:first-of-type {
    flex-direction: column !important
}

.mortgage .accordion-menu li:nth-of-type(3) .information>li:first-of-type span {
    width: auto
}

.mortgage .accordion-menu li:nth-of-type(3) .information>li:first-of-type span:first-of-type {
    color: #333333
}

.mortgage .accordion-menu li:nth-of-type(3) .information>li:first-of-type span:last-of-type {
    color: #A3A6A9 !important
}

.mortgage .submenuItems li.plural li {
    flex-direction: column
}

.mortgage .submenuItems li.plural li span:nth-of-type(2) {
    color: #A3A6A9
}

/* Checking Page - 위생안전점검 */
.check-pm .header-2 {
    border-bottom: 0
}

.check-pm .header-2 .accordion-menu {
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD
}

/* .check-pm .header-2 .accordion-menu .submenuItems li {
    flex-direction: column;
    align-items: flex-start;
} */

.check-pm .header-2 .accordion-menu .submenuItems li:first-child {
    margin-right: 1rem;
    margin-bottom: .5rem !important
}

.check-pm .header-2 .accordion-menu .submenuItems li:last-child {
    border-bottom: 0;
    margin-bottom: .5rem !important
}

.check-pm .header-2 .search {
    width: 100%;
    margin-bottom: .5rem !important
}

.check-pm .header-2 .recently span {
    padding: 0
}

.check-pm .list-title.check {
    margin-left: .5rem
}

.check-pm .list-title.check .num>span:first-child:before {
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: #2FBA35;
    border-radius: 50%;
    margin-right: 3px
}

.check-pm .list-title.check .num>span:last-child:before {
    content: '';
    display: inline-block;
    width: .5rem;
    height: .5rem;
    background-color: #F94646;
    border-radius: 50%;
    margin-right: 3px
}

.check-pm .list-title.check .num.face>span:first-child:before {
    content: '\1F60A';
    color: #2FBA35;
    margin-right: 3px
}

.check-pm .list-title.check .num.face>span:last-child:before {
    content: '\1F621';
    color: #fff100;
    margin-right: 3px
}

.check-pm .tab-menu {
    margin-bottom: .5rem
}

.check-pm .accordion-menu .submenuItems h6:before {
    content: '* '
}

.check-pm .accordion-menu .submenuItems p:before {
    content: '• '
}

.check-pm .accordion-menu.arrow-center label {
    line-height: 1.5;
}

.check-pm .accordion-menu .arrow-center {
    border-radius: 3px
}

.check-pm .accordion-menu .arrow-center>li {
    background-color: transparent
}

.check-outside .header-2 .accordion-menu .submenuItems li:last-child {
    margin-bottom: .5rem !important
}

.check-outside .list li {
    padding: 1rem .5rem;
    justify-content: space-between;
}

.check-outside .list .status {
    max-width: 50px;
    text-align: center !important;
    margin: 0 .5rem;
    position: relative
}

.check-outside .list span {
    text-align: left !important
}

.check-outside .container section {
    text-align: center;
    margin-bottom: 1rem
}

.check-outside .list input {
    text-indent: 0;
    flex: 0 1 auto
}

.check-outside .list input:first-child {
    width: 35%
}

.check-outside .list input::-webkit-search-cancel-button {
    position: relative;
    right: 0rem
}



/* Attendance Page - 근태관리 */
.attendance .list h5 {
    font-weight: bold
}

.attendance .list .progress {
    width: 5rem;
    max-width: none
}

.attendance .list .progress.selectbox {
    max-width: 5rem;
}

.attendance .list .progress select {
    width: 4.8rem
}

.attendance .extra-hours li:not(:last-of-type) {
    border-right: 1px solid #EEE
}

.extra-hours.details li {
    border-right: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr
}

.extra-hours.details span {
    position: relative
}

.extra-hours.details .progress {
    width: auto;
    max-width: none;
    font-weight: bold;
    margin-right: 0
}


.attendance .content {
    padding: 0
}

.attendance .extra-hours .fa-minus,
.attendance .extra-hours .fa-equals {
    position: absolute;
    line-height: 1.5rem;
    top: 1.4rem;
    right: -.8rem;
    color: white;
    background: #C3C6C9;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem
}

.attendance .extra-hours h5 .status {
    position: relative;
    padding: .2rem .5rem;
    margin-right: .5rem
}

.attendance .extra-hours .tooltip .title {
    left: -9rem
}

.attendance .extra-hours .tooltip .title:before {
    left: calc(9rem + 2px)
}

.attendance .extra-hours+.extra-hours {
    margin: 1rem auto
}

.attendance .extra-hours .border-container {
    border-radius: 3px;
    padding: .2rem .5rem
}

.attendance .border-container .list li div:first-child {
    text-indent: 2px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.attendance .border-container .list li div:first-child>* {
    text-align: left !important;
    white-space: nowrap;
}

.attendance .tooltip .title {
    max-width: 70vw;
    left: -9rem
}

.attendance .tooltip .title:before {
    left: calc(9rem + 2px)
}

.attendance .accordion-menu.arrow-center {
    border-left: 0;
    border-right: 0
}



/* 오픈소스 라이선스 */
.license .list li {
    display: block
}

.license .list a {
    color: #003EB1
}

.license .list h4 {
    text-align: left;
    margin-bottom: 0
}

.license .accordion-menu li {
    background: #FAFAFA
}