@charset "UTF-8";

html {overflow:hidden}
.tip {background:url(../images/ico_tips.png) no-repeat; display:inline-block; vertical-align:middle; width:15px; height:15px; background-size:15px 15px; margin-right:2px}
.asterisk {display:block; margin-top:.5rem; color:#888}
.asterisk:before {content:'\002a'}
div.main {overflow-x: hidden; width:100%; height:100%; min-height:400px; display:flex}
.menu-02 {display:none}
.modal-big {height:auto}


/* Fixed Button */
div.cs {margin-bottom:.5em}
div.cs:after {background:#FFCC33 url("../images/remo.png") top 6px left -5px no-repeat; -ms-background-position-y:7px !important;
  background-size:110%; position:absolute; left:0; content:''; width:100%; height:100%; border-radius:50%}
div.bottom {background: rgba(0, 0, 0, .7) url("../images/bottom.svg") center no-repeat; background-size: 60%;}

.btn-bottom {display:flex; justify-content:center; text-align:center; margin:3rem auto 1rem}
.btn-bottom button {padding: .5em 2em; box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1)}
.btn-bottom button:first-child {background:#696b71; color:white }


@media all and (min-width :426px) {
  .btn-container div {transition:.3s;}
  .btn-container div:before {content:attr(tooltip); font-size:12px; background:#EBEBEB; color:#888; padding:3px 1em; border-radius:3px; position:absolute; top:7px; right:100%; opacity:0; visibility:hidden; white-space:nowrap; transition:.3s;}
  .btn-container div:hover:before, .btn-container div:active:before {right: 110%; opacity: 1; visibility: visible}
}



/* Aside */
.aside {background:#F3F3F3}
.aside i {width:120px; height:80px; margin:0px auto; display:block; position:relative;}
.aside > div {margin-bottom:1.5rem}
.aside > div:nth-child(2) {padding: 1rem .5rem; background:white; border-radius:.5rem; box-shadow:0 10px 10px -10px rgba(0,0,0,.1)}
.aside > div:last-child {border-bottom:0 none; margin-bottom:0}


.aside .contact span {color:red; font-weight:bold}
.aside .contact h6:first-of-type {margin-bottom:10px}
.aside .faq h4 {box-shadow:0 10px 10px -10px rgba(0, 0, 0, .1); background:#F9F9F9; border-radius:50px; line-height:40px; padding-bottom:0; margin-bottom:1rem; cursor:pointer}
.aside .faq h4 i {width:auto; height:auto; display:inline-block; margin-right:3px; color:#CCC}
.aside .faq li {background:white; margin:0 auto 10px; position:relative}
.aside .faq li a {font-size:13px; display:block; text-align:left; color:#666; width:100%; text-indent:.5rem; line-height:40px;}
.aside .faq li a:hover, .aside .faq li a:active {box-shadow:0 10px 10px -10px rgba(0,0,0,.1); transition:.1s ease-in-out}
.aside .faq li a:before, .aside .faq li a:after {content:''; position:absolute; height:2px; width:10px; top:50%; right:10px; margin-top:-4px; background:#FFCC33}
.aside .faq li a:before {-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg)}
.aside .faq li a:after {margin-top:2px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg)}

 

.tab-wrapper .selectbox {width:33.333%}
.tab-wrapper .details {border-bottom:1px solid #EBEBEB; padding-bottom:.5rem}
.tab-wrapper .details:last-child {border-bottom:0}
.tab-wrapper h5 {line-height:24px !important; text-indent:0 !important; border:0 !important; display:inline-block; width:45px; text-align:center; border-bottom:1.5px solid #FFCC33 !important; margin-bottom:.5rem}
.tab-wrapper p {text-align:left !important; border:0 !important; padding:0! important}



.loader {font-size:20px; position:relative; width:4em; height:1em; margin:4rem auto 6rem;}
.dot {width:1em; height:1em; border-radius:0.5em; background:#333; position:absolute;
  animation-duration:0.5s; animation-timing-function:ease; animation-iteration-count:infinite}
.dot1, .dot2 {left:0}
.dot3 {left:1.5em}
.dot4 {left:3em}

@keyframes reveal {from{transform:scale(0.001)} to {transform:scale(1)}}
@keyframes slide {to{transform:translateX(1.5em)}}

.dot1 {animation-name:reveal}
.dot2, .dot3 {animation-name:slide}
.dot4 {animation-name:reveal; animation-direction:reverse}