{% extends 'base.html' %}

{% block title %}List Object{% endblock %}

{% block content %}
<div class="content">
    <h1>연구실 이름</h1>
    <ul class="category">
        <li class="active">전체</li>
        <li>대시보드</li>
        <li>뷰어</li>
    </ul>
    <section class="list-cards">
        <div class="dashboard">
            <ul class="list">
                {% for data in object_list %}
                <li class="card vaccine">
                    <a href="{{data.url}}" target="_blank">
                        <img src="/media/{{data.photo}}">
                        <div class="text">
                            <h3 class="title">{{data.name}}</h3>
                            <small>{{data.tag}}</small>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>


{% endblock %}

{% block pagination %}
{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a href="{% url 'list' %}?page={{ page_obj.previous_page_number }}" class="page-link" tabindex="-1">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="#" class="page-link" tabindex="-1">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </li>
    {% endif %}

    {% for object in page_obj.paginator.page_range %}
    <li class="page-item {% if page_obj.number == forloop.counter %} disabled{% endif %}">
        <a href="{{ request.path }}?page={{ forloop.counter }}" class="page-link">{{ forloop.counter }}</a>
    </li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a href="{% url 'list' %}?page={{ page_obj.next_page_number }}" class="page-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a href="#" class="page-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}