@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: url('../fonts/Oswald-Regular.ttf');
}

:root {
  --var-mainColor: #01797F;
  --var-secondaryColor: #0A2E51
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-clear-button {
  display: none;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font: 14px/1.5 'Nunito', 'sans-serif', 'NanumSquare';
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex
}

a {
  text-decoration: none;
  color: #333
}

input {
  border: 0;
  padding: .3rem;
  font: 17px/1.5 'NanumSquare';
  background-color: transparent;
  outline: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0
}

.active {
  visibility: visible !important;
  opacity: 1 !important
}


button {
  border: 0;
  background-color: transparent;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  transition: background-color .2s;
  cursor: pointer;
  outline: 0;

  &.new, &.submit {
    display: flex;
    align-items: center;
    font: normal 13px 'Raleway', sans-serif;
    text-transform: uppercase;
    background-color: #47CACC;
    color: white
  }

  &.new [class*=icon-], &.submit [class*=icon-] {
    margin-right: .2rem;
    font-size: 1rem;
  }

}

.button-container {
  display: flex;
}

.btn-delete, .btn-cancel {
  background-color: slategray;
}

/* Toggle Button */
.btn-toggle {
  width: 3rem;
  height: 1.5rem;
  vertical-align: middle;
  border-radius: 1.5rem;
  display: inline-block;
  position: relative;
  background-color: #47CACC;
  background-size: 12px;
  cursor: pointer;
  transition: .25s;

  &.light {
    background-color: #47CACC;
    background-size: 12px;

    .round-btn {
      left: calc(2rem - 4px)
    }
  }

  .round-btn {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: .25s
  }

  .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
  }
}

.container {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: background-color .2s;

  .logo {
    display: flex;
    align-items: center;

    a {
      font: 20px/1.5 "Oswald", "sans-serif";
    }

    small {
      line-height: 1;
      color: #DDD;
      margin-left: .5rem
    }
  }

  section {
    flex: 1 1 100%;
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;

    &.nrf {
      padding: .5rem .7rem;
      color: #CCC;
      justify-content: center;

      .logo-nrf {
        display: none;
        width: 80px;
        height: 24px;
        background-size: contain;
        opacity: .7;
      }
    }
  }
}

.apex-header {
  flex-direction: column;
  margin: 0 .5rem;
  border-radius: .2rem;

  > div {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
  }

  ul {
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      padding-left: .5rem;
    }
  }

  .countdown,
  .countdown svg {
    color: #D3D6D9;
    fill: #D3D6D9;
  }

  .refresh svg {
    margin-right: 0;
  }

  button {
    border-radius: .2rem;
    padding: 0 .5rem;
    height: 1.8rem;
    background-color: rgba(255, 255, 255, .1);

  }

  .refresh button:hover {
    background-color: lightseagreen;
  }
}


.navigation {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  a {
    font-family: "Raleway", "sans-serif";
    display: flex;
    align-items: center;
    border-radius: .3rem;
    text-transform: capitalize;
    color: white;
    padding: .5rem 1rem;
    transition: background-color .4s;

    /*    &.active, &:hover {
          color: white;
          background-color: #333;
        }*/
  }
}


header svg {
  fill: white;
  margin-right: .2rem;
}

header .search {
  position: relative;

  input {
    border-radius: .3rem;
    width: 8rem;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 2rem;
  }

  svg {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    fill: white;
    cursor: pointer;
  }
}

.select2-selection__rendered::after,
.select2-results__option--selected::after {
  content: '(streaming)'
}

header .change-theme {
  font-family: "Nunito", "sans-serif";
  color: #A3A6A9;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  small {
    display: none;
  }
}


/* Filters Container */
.filter-charts {
  color: white;
  background-color: rgba(0, 0, 0, .3);
  padding: .3rem .6rem;
  margin-top: .7rem;
  border-radius: .3rem;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  justify-content: space-between;

  .checkbox {
    display: flex;

    label {
      font-size: 13px;
      color: rgba(255, 255, 255, .3);
    }
  }

}


/* Content */
.content {
  flex: 1 1 100%;
  background-color: #ebeef5;
  overflow: auto;
}

.list {
  .record-container {
    padding: .5rem;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
      background-color: darkslategray;
    }

    .record {

      > div {
        display: flex;
        align-items: center;

        > *:not(:last-child) {
          margin-right: 1rem;
        }
      }

      label {
        position: relative;
        left: auto;
      }

      span {
        font-weight: normal;
        line-height: 1;
      }
    }
  }
}

.intervention {
  .record-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:last-of-type {
      flex: 0 0 160px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .delete {
      margin-left: .5rem;
      fill: indianred;
    }

    .record li {
      margin-right: .5rem;

      &:not(:last-of-type)::after {
        content: '\00B7';
        padding-left: .5rem;
      }
    }

    .datetime {
      font-size: 13px;
      color: #CCC;
    }

    .comment {
      color: rgba(255, 255, 255, .4)
    }
  }
}


.scroll-handler {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  cursor: pointer;
  z-index: 10;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(72, 61, 139, .8);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    fill: #ddd;
    line-height: 0;
    z-index: 999;
  }
}


[class^="scroll-to"] {
  opacity: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(145, 157, 199, .2);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  fill: white;
  transition: .2s;
  z-index: 10;

}

.active .scroll-to-top {
  opacity: 1;
  display: flex;
  bottom: 8rem;
  transition: .4s;
}

.active .scroll-to-bottom {
  opacity: 1;
  display: flex;
  bottom: 4.5rem
}

.active .scroll-to-left {
  opacity: 1;
  display: flex;
  right: 8rem;
  transition: .4s;
}

.active .scroll-to-right {
  opacity: 1;
  display: flex;
  right: 4.5rem;
}

.content-chart {
  flex-direction: column;
  flex: 1 1 100%;
}


.title {
  flex: 1 1 auto;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 20px;
    font-weight: normal;
  }

  .btn-save {
    height: 100%;
    font-size: 1rem;
    color: white;
    padding: 0 1rem;
    background-color: slateblue;

    svg {
      fill: white;
    }

    span {
      font-family: 'Raleway', 'sans-serif';
      font-weight: 500;
      text-transform: capitalize;
      margin: .5rem 0
    }
  }

}

.content h1 {
  font-size: 1.2rem;
  flex: 0 0 auto;
  font-family: 'Raleway', 'sans-serif';
  font-weight: 400;
  text-transform: capitalize;

  span {
    font-weight: bold;
  }
}

.frame {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  margin: -.25rem -.5rem 0;
  box-sizing: border-box;
}

.chart-container {
  opacity: 0;
  background-color: white;
  border-radius: .5rem;
  padding: .2rem;
  margin: .5rem;
  display: flex;
  width: 6000px;
  height: 180px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat-y: no-repeat;
  animation: fadeIn .7s forwards;

  small {
    color: white;
    transform: rotate(-90deg);
    display: flex;
    height: 22px;
    width: 174px;
    text-align: center;
    position: absolute;
    top: 80px;
    justify-content: center;
    left: -70px;
    align-items: center;
  }
}


.filter-COxMAP {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>COx MAP</text></svg>");
}

.filter-COxETCO2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>COx ETCO2</text></svg>");
}

.filter-RSO2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>RSO2</text></svg>");
}

.filter-MAP {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>MAP</text></svg>");
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #919dc7, #252936);
    opacity: .25;
  }
}


.filter-ETCO2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>ETCO2</text></svg>");

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #919dc7, #252936);
    opacity: .25;
  }
}

.filter-SJVO2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>SJVO2</text></svg>");
}

.filter-ADJL {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>ADJL</text></svg>");
}

.filter-LOI {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>LOI</text></svg>");
}

.filter-AVDO2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>AVDO2</text></svg>");
}

.filter-CEO2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>CEO2</text></svg>");
}

.filter-AJglc {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>AJglc</text></svg>");
}

.filter-AJCO2 {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>AJCO2</text></svg>");
}

.filter-RQ {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>RQ</text></svg>");
}

.filter-NPI {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>NPI</text></svg>");
}

.filter-pupil {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='1500px'><text x='0' y='15' fill='gray' font-size='20'>Pupil Size</text></svg>");
}


.chart-container:nth-of-type(1) {

}

.chart-container:nth-of-type(2) {
  animation-delay: 0.6s
}

.chart-container:nth-of-type(3) {
  animation-delay: 0.7s
}

.chart-container:nth-of-type(4) {
  animation-delay: 0.8s
}

.chart-container:nth-of-type(5) {
  animation-delay: 0.9s
}

.chart-container:nth-of-type(6) {
  animation-delay: 1.0s
}

.chart-container:nth-of-type(7) {
  animation-delay: 1.1s
}

.chart-container:nth-of-type(8) {
  animation-delay: 1.2s
}

.chart-container:nth-of-type(9) {
  animation-delay: 1.3s
}

.chart-container:nth-of-type(10) {
  animation-delay: 1.4s
}

.chart-container:nth-of-type(11) {
  animation-delay: 1.5s
}

.chart-container:nth-of-type(12) {
  animation-delay: 1.6s
}

.chart-container:nth-of-type(13) {
  animation-delay: 1.7s
}

.chart-container:nth-of-type(14) {
  animation-delay: 1.8s
}

.chart-container:first-of-type {
  margin-top: 0
}

.chart-container .more {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.chart-container h5 {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  transform: rotate(-90deg);
}


.chart-container .chart {
  flex: 1;
  position: relative;
}


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.chart-container.dragElem {
  opacity: 0.4;
}

.chart-container.over {
  border: 2px solid #b3c516;
}


/* Record */

.content-input,
.content.list {
  padding: 0 .5rem .5rem .5rem;
}

.records {
  display: flex;
  flex-wrap: wrap;

  .record-container {
    flex: 1 1 50%;
    padding: .25rem;
  }
}


.records {

  &.records-checkbox {
    padding: 1rem
  }

  strong {
    color: lightyellow;
  }

  .checkbox {
    flex: 1 1 20%
  }
}


.record-container {
  background: white;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: .5rem;
  transition: background-color .4s;

  .record-title {
    color: #47CACC;
    font-family: "Raleway", "sans-serif";
    font-weight: bold;
    margin: 1rem 1rem .5rem;
  }

  .record {
    font-family: "Nunito", "sans-serif";
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;

    label {
      font-size: 16px;
      color: #A3A6A9;
      position: absolute;
      left: 1rem
    }

    input {
      font-family: "Nunito", "sans-serif";
      flex: 1 1 100%;
      text-align: right;
      font-weight: bold;
      box-shadow: 0 0 0 0;
      border-bottom: 1px solid #EEE;
      transition: border-bottom-color .4s;

      &:focus {
        outline: 1px solid #47CACC;
      }

      &[type="datetime"],
      &[type="datetime-local"] {
        font-weight: normal;
      }
    }

    span {
      font-family: "Nunito", "sans-serif";
      text-align: right;
      font-weight: bold;
      flex: 1 1 auto;
    }
  }
}


/* Modal */
.close {
  cursor: pointer;
  z-index: 10;

  svg {
    position: absolute;
    right: 1rem;
    top: 1rem;
    fill: white;
    width: 2rem;
    height: 2rem;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 31;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s
}


.modal {
  flex-wrap: wrap;
  opacity: 0;
  width: 90%;
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  padding: 2rem;
  top: 50%;
  left: 50%;
  background: white;
  display: flex;
  transform: translate(-50%, -50%);
  border-radius: .5rem;
  transition: .25s;

  &.active {
    pointer-events: auto;
    z-index: 50;
  }

  .chart-container {
    flex: 1 1 50%;
    margin: 0;
    height: 40vh;
  }
}


/* Dark Theme */
.theme-dark {
  background: #111523;

  svg {
    fill: white;
  }

  button {
    color: white;
  }

  header {
    background: #111523;
    color: white;

    .apex-header {
      background: linear-gradient(90deg, darkslateblue, darkslategray);
    }

    .logo a {
      color: white;
    }

    .btn-record {
      background-color: rgba(235, 235, 245, .1);
      color: #c5b1f4;
    }
  }

  .content {
    background: #111523;

    .title {
      color: white;
    }
  }
}

.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5,
.theme-dark a {
  color: white;
}


.theme-dark header .navigation a.active, .theme-dark nav .navigation a:hover {
  background-color: white;
  color: #333;
}


.theme-dark .chart-container, .theme-dark .record-container {
  background-color: #252936;
}

.theme-dark .chart rect {
}

.theme-dark .chart text {
  stroke: transparent;
  fill: white;
}

.theme-dark .google-visualization-tooltip {
  color: black;
}

.theme-dark .chart-container .more svg {
  fill: white;
}

.theme-dark .record {
  color: white;

  textarea {
    color: white;
  }

  input,
  span {
    color: white;
    border-color: rgba(255, 255, 255, .1)
  }
}

.theme-dark .modal {
  background-color: #252936;
}


@media screen and (max-width: 1080px) {
  .chart-container, .records {
    flex: 1 1 100% !important
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}


/* Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #a3a6a9;
}


/* Checkbox */
.checkbox input {
  position: absolute;
  opacity: 0
}

.checkbox label {
  color: #D3D6D9;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0;
  line-height: 28px;
  transition: .2s color;
}

.checkbox input:checked + label {
  color: white;
}

.checkbox label:before {
  border-radius: 2px;
  transition: .2s;
  content: '';
  margin-right: 3px;
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, .2)
}

.checkbox input:checked + label:after {
  content: '';
  width: 9px;
  height: 4px;
  position: absolute;
  top: 9px;
  left: 2px;
  border: 2px solid white;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


select {
  font-size: 14px;
  font-family: "Nunito", "sans-serif";
  border: 0;
  border-radius: .3rem;
  padding: .3rem;
  margin-right: .5rem;
  cursor: pointer;
}

textarea {
  font-size: 17px;
  font-family: "Nanumsquare";
  background-color: transparent;
  width: 100%;
  border: 0;
  padding: 1rem;
  resize: none;
  color: white;
}

textarea:focus {
  outline: 1px solid #47CACC
}

.select2-container {
  width: 10.8rem !important;
}

.select2-container--default .select2-results > .select2-results__options {
  display: block;
}


@media screen and (max-width: 480px) {
  header .navigation {
    position: relative;
    left: auto;
    transform: initial;
  }

  header .navigation svg {
    margin-right: 0;
  }

  header .navigation span {
    display: none;
  }

  header .search {
    display: none;
  }

  .filter-charts .checkbox {
    flex: 1 1 25%
  }
}
