body {
  overflow: hidden;

  .container {
    z-index: -5;
    flex-direction: column;
    overflow: hidden;

    main {
      position: relative;
      overflow-y: auto;
    }
  }

  .date {
    font-size: 14px;
  }

  .buttons {
    button {
      padding: 0.5rem 0.75rem;

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }

  button {
    &.btn-signin {
      background-image: linear-gradient(to right, #6fdb9e, #56c6ee);
    }

    &.btn-navigation {
      background-color: royalblue;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;

      svg {
        fill: white;
      }

      span {
        color: white;
        font-size: 12px;
        margin-top: 0.25rem;
      }
    }
  }

  .tags {
    span {
      font-size: 13px;
      padding: 0.25rem 0.5rem;
      color: white;
      border-radius: 0.25rem;
      margin-right: 0.25rem;
    }

    .tag {
      &.bg-blue {
        background-color: rgba(65, 105, 225, 0.1);
        color: rgb(65, 105, 225);
      }

      &.bg-red {
        background-color: rgba(255, 69, 0, 0.1);
        color: rgb(255, 69, 0);
      }
    }
  }
}

.filters {
  button {
    position: relative;
    background-color: transparent;
    width: 100%;
    margin-bottom: 0.5rem;

    input[type="radio"] + label {
      background-color: #eee;
      border-radius: 0.25rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-right: 0;

      &::before {
        content: none;
      }
    }

    input[type="radio"]:hover + label,
    input[type="radio"]:checked + label {
      background-color: #333;
      color: white;

      svg {
        fill: royalblue;
      }
    }

    label {
      min-height: 36px;
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      &::before,
      &::after {
        position: absolute;
        right: 0;
      }
    }
  }

  .checkbox {
    label {
      &::before {
        width: 24px;
        height: 24px;
        border-radius: 24px;
      }

      &::after {
        width: 12px !important;
        height: 8px !important;
        top: 12px !important;
        left: auto !important;
        right: 9px;
      }
    }
  }
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  transition: 0.4s;
  z-index: 10;

  button {
    color: #333;
  }

  small {
    text-transform: uppercase;
  }

  .menu {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

.global-navigation-menu {
  width: 60vw;
  left: -60vw;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0 1.5rem;

  &.active {
    left: 0;
  }

  .profile {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;

    .image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 0.5rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .user-information {
      font-size: 12px;
      line-height: 1.25;

      .user-name {
        margin: 0.25rem 0;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .menu {
    font-size: 18px;

    .arrow {
      display: none;
    }

    > li {
      display: flex;
      flex-direction: column;
    }

    &.menu-settings {
      padding-top: 1rem;
      border-top: 1px solid #ddd;
      font-size: 14px;
      color: slategray;
    }

    .main-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 0;

      .arrow {
        transition: transform 0.2s;
      }

      &.active {
        .arrow {
          transform: rotate(90deg);
        }
      }
    }

    .sub-menu {
      display: none;
      background-color: rgba(0, 0, 0, 0.1);

      li {
        padding: 0.5rem;
      }
    }
  }
}

.local-navigation-menu {
  width: 70vw;
  right: -70vw;
  border-radius: 0.5rem 0 0 0.5rem;

  &.active {
    right: 0;
  }

  .filters {
    padding: 1rem;

    h4 {
      text-align: center;
      margin-bottom: 0.5rem;
    }

    button input[type="radio"]:hover + label,
    button input[type="radio"]:checked + label {
      background-color: royalblue;
    }
  }
}

.local-toggle-menu {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  background-color: white;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  box-shadow: 1px 2px 4px #ddd;
  z-index: 1;

  svg {
    fill: slategray;
  }
}

header {
  flex: 0 0 54px;
  align-items: center;
  padding-right: 0.75rem;

  .toggle-menu {
    display: flex;
    align-items: center;

    svg {
      width: 45px;
      height: 45px;
    }
  }

  .title {
    text-align: center;
    width: 80%;
    flex: 1 1 auto;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .search {
    flex: 1 1 auto;
    display: flex;
    align-items: center;

    svg {
      fill: #ccc;
      width: 24px;
      height: 24px;
    }

    input {
      &:focus {
        box-shadow: 0 0 0 0;
      }
    }
  }

  .btn-close {
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

footer {
  flex: 0 0 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top: 1px solid #ddd;
  color: #333;
  z-index: 3;

  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;

    li {
      flex: 1 1 20%;
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        fill: #a7aabc;
      }

      &.active {
        color: royalblue;

        svg {
          fill: royalblue;
        }
      }

      span {
        font-size: 13px;
        margin-top: 0.25rem;
      }
    }
  }

  &.user {
    .request {
      color: white;
      background-image: linear-gradient(185deg, darkslateblue, slateblue);
      width: 4rem;
      height: 4rem;
      border-radius: 4rem;
      position: absolute;
      bottom: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 5px 10px #ccc;
      
      svg {
        fill: white;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.empty {
  justify-content: center;
  align-items: center;

  svg {
    fill: #c3c6c9;
    margin-bottom: 1rem;
  }
}

.login {
  background-color: #2e3548;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg_multi.jpg) center no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -10;
  }

  h2 {
    font-family: "NanumSquare-Regular";
    margin-bottom: 2rem;
  }

  button {
    color: white;
  }

  .inputs {
    margin-bottom: 2rem;
    .input {
      margin-bottom: 1rem;
      position: relative;

      input {
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        color: white;
        height: 50px;
        width: 90vw;
        max-width: 360px;
        text-indent: 2rem;
      }

      svg {
        position: absolute;
        top: 0.85rem;
        left: 0.5rem;
        fill: rgba(255, 255, 255, 0.5);
      }
    }

    .buttons {
      justify-content: space-between;
    }
  }

  .main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      font: 15px/1 "NanumSquare-Regular";
      background-color: #49536b;
      width: 90vw;
      max-width: 360px;
      height: 50px;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    }

    small {
      width: 90vw;
      max-width: 360px;
    }
  }
}

.maps {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cctv {
  overflow-y: hidden !important;

  header {
    color: #333;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 4px #ddd;
    z-index: 1;

    .search {
      flex: 1 1 auto;
      background: #eff1f7;
      border-radius: 0.5rem;
      padding: 0 0.5rem;
    }

    input {
      flex: 1 1 auto;
      border: 0;
      width: 100%;
      background-color: transparent;
    }
  }

  main {
    overflow-y: hidden !important;
  }

  .marker-details {
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(-40vh - 1.5rem);
    height: 40vh;
    background-color: white;
    color: #333;
    border-radius: 0.5rem;
    margin: 0.5rem;
    justify-content: center;
    transition: 0.4s;

    flex-direction: column;

    &.active {
      bottom: 0;
    }

    .arrow {
      position: absolute;
      top: 0.75rem;
      left: 50%;
      transform: translateX(-50%);
      width: 3rem;
      height: 4px;
      border-radius: 4px;
      background: #ddd;
      z-index: 1;
    }

    .navigation {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem 0.75rem 0.75rem;
    }

    .cctv-locations {
      flex: 1 1 auto;
      overflow-y: auto;

      .row {
        margin: 0.5rem;
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        background-color: #eff1f7;
        border-radius: 0.5rem;
      }

      ul {
        flex: 1 1 auto;
        width: 95%;

        li {
          &.title {
          }

          &.tags {
            padding: 0.25rem 0;
            span {
              padding: 3px 6px;
              color: royalblue;
              border: 1px solid royalblue;
              border-radius: 3rem;
            }
          }

          &.information {
            display: flex;
            align-items: center;

            span {
              &:first-of-type {
                flex: 0 0 70px;

                &::after {
                  content: ":";
                }
              }
            }

            svg {
              border-radius: 50%;
              border: 1px solid #333;
            }
          }
        }
      }

      .more {
        flex: 0 0 auto;
      }
    }
  }
}

.cctv-details {
  section {
    &:not(.view) {
      padding: 1rem 0.75rem;
    }

    &.title {
      text-align: center;

      .btn-navigation {
        margin: 0.5rem auto 0;
      }
    }

    &.view {
      flex: 0 0 40vh;
      max-height: 240px;
      overflow: hidden;

      .btn-refresh {
        font-size: 13px;
        background-color: royalblue;
        color: white;
        padding: 0.25rem 0.5rem;
        position: absolute;
        right: 0.75rem;
        bottom: 0.75rem;

        svg {
          fill: white;
        }
      }
    }

    &.information {
      background: white;
      margin: 1rem;
      border-radius: 0.5rem;

      .row {
        span {
          &:first-of-type {
            flex: 0 0 70px;

            &::after {
              content: ":";
            }
          }
        }
      }
    }
  }
}

.list {
  padding: 0 0.5rem;

  .date {
    color: slategray;
  }

  .row {
    background-color: white;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 0.5rem;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  &.notice {
    .row {
      flex-direction: column;
      padding: 0;
      transition: border 0.2s;

      &.active {
        border: 1px solid royalblue;

        .arrow {
          transform: rotate(-180deg);
        }

        .details {
          display: flex;
          border-top: 1px solid #ddd;
        }
      }

      .details {
        display: none;
        padding: 1rem 1.5rem;
      }
    }

    .row-title {
      display: flex;
      align-items: center;
      padding: 1rem 1rem 1rem 1.5rem;

      ul {
        flex: 1 1 auto;

        .title {
          margin: 0.5rem 0;
        }
      }

      .arrow {
        flex: 0 0 24px;
        transition: 0.4s;
      }
    }
  }

  &.complaints {
    .row {
      padding: 0.75rem 0.75rem 0.75rem 2rem;
      align-items: center;
      position: relative;
      margin-left: 1.5rem;
    }

    .type {
      flex: 0 0 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: -1rem;

      .icon {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::after {
          font-size: 10px;
          color: white;
          font-weight: bold;
        }
      }

      svg {
        fill: white;
      }

      &.request {
        .icon {
          background-color: royalblue;

          &::after {
            content: "신청";
          }
        }
      }

      &.receipt {
        .icon {
          background-color: orange;

          &::after {
            content: "접수";
          }
        }
      }

      &.proceed {
        .icon {
          background-color: seagreen;

          &::after {
            content: "진행중";
          }
        }
      }

      &.done {
        .icon {
          background-color: #ccc;

          &::after {
            content: "완료";
          }
        }
      }

      &.reject {
        .icon {
          background-color: orangered;

          &::after {
            content: "반려";
          }
        }
      }
    }
  }
}

.settings {
  padding: 0 1rem;

  h4 {
    margin-bottom: 0.5rem;
  }

  .row {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;

    &.filters {
      flex-wrap: wrap;

      button {
        flex: 0 0 47%;
        margin: 0.25rem;
      }
    }
  }

  .rows {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 2rem;

    > div {
      display: flex;
      justify-content: space-between;

      &:not(:last-of-type) {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

.modal-navigation {
  max-width: 360px;
  max-height: 200px;

  .modal-content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigations {
    display: flex;

    li {
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 64px;
      border: 1px solid #e3e6e9;
      border-radius: 0.5rem;
      margin-bottom: 0.25rem;
    }
  }
}

.modal-search {
  height: 450px;
  max-height: none;
  top: auto;
  bottom: -450px;
  transform: translate(-50%, 0);
  width: 100vw;
  border-radius: 1rem 1rem 0 0;
  transition: 0.4s;

  &.active {
    bottom: 0;
  }

  .keywords {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .filters {
    display: flex;
    margin: 0 -0.25rem;

    button {
      background-color: #eee;
      margin: 0 0.25rem;
    }

    &.calendar {
      .input {
        margin: 0.5rem 0.25rem;
        position: relative;

        svg {
          position: absolute;
          top: 50%;
          right: 0.5rem;
          transform: translateY(-50%);
        }
      }

      input {
        flex: 1 1 auto;
        width: 100%;
      }
    }
  }

  .modal-content {
    flex: 1 1 auto;
  }

  .modal-footer {
    padding: 1rem;
    flex: 0 0 80px;
    display: flex;
    margin: 0 -0.25rem;

    button {
      margin: 0 0.25rem;
      border-radius: 0;
      justify-content: center;
      border-radius: 0.5rem;

      &.btn-cancel {
        flex: 0 0 30vw;
        background-color: transparent;
        color: royalblue;
        border: 1px solid royalblue;
      }
    }
    .btn-search {
      flex: 1 1 auto;
      background-color: royalblue;
      color: white;
    }
  }
}
