body {
  overflow: hidden;

  svg {
    fill: white;
  }

  .container {
    z-index: -5;
    overflow: hidden;

    main {
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(../images/bg_multi.jpg) center no-repeat;
      background-size: cover;
      opacity: 0.2;
      z-index: -10;
    }
  }

  .content {
    transition: background-color 0.2s;
  }

  .buttons {
    button {
      padding: 0.5rem 0.75rem;

      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }

  button {
    &.btn-signin {
      background-image: linear-gradient(to right, #6fdb9e, #56c6ee);
    }
  }
}

.global-navigation-menu {
  position: fixed;
  width: 180px;
  left: -180px;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 10;

  &.active {
    left: 0;
  }

  .profile {
    padding: 1rem;
    display: flex;
    align-items: center;

    .image {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      margin-right: 0.5rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .user-information {
      font-size: 12px;

      .user-type {
      }
    }
  }
  .menu {
    > li {
      display: flex;
      flex-direction: column;
    }

    .main-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;

      .arrow {
        transition: transform 0.2s;
      }

      &.active {
        .arrow {
          transform: rotate(90deg);
        }
      }
    }

    .sub-menu {
      display: none;
      background-color: rgba(0, 0, 0, 0.1);

      li {
        padding: 0.5rem;
      }
    }
  }
}

.local-navigation-menu {
  position: fixed;
  width: 180px;
  right: -180px;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 10;

  &.active {
    right: 0;
  }

  .filters {
    padding: 1rem;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    button {
      position: relative;
      padding: 0.75rem 0;
      width: 100%;
      align-items: center;
      background-color: transparent;

      label {
        display: flex;
        align-items: center;

        &::before,
        &::after {
          position: absolute;
          right: 0;
        }

        &::after {
          top: 4px;
          left: auto;
          right: 6px;
        }
      }
    }
  }
}

header {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  .search {
    display: flex;
    align-items: center;
    padding: 0.5rem;

    svg {
      width: 2rem;
      height: 2rem;

      fill: white;
    }
  }
}

footer {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  .footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;

    li {
      flex: 1 1 20%;
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        fill: slategray;
      }

      &.active {
        color: royalblue;

        svg {
          fill: royalblue;
        }
      }

      &:not(:last-of-type) {
        border-right: 1px solid #ddd;
      }

      span {
        margin-top: 0.25rem;
      }
    }
  }
}

.login {
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h2 {
    font-family: "NanumSquare-Regular";
    margin-bottom: 2rem;
  }

  .inputs {
    margin-bottom: 2rem;
    .input {
      margin-bottom: 1rem;
      position: relative;

      input {
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        color: white;
        height: 50px;
        width: 90vw;
        max-width: 360px;
        text-indent: 2 rem;
      }

      svg {
        position: absolute;
        top: 0.85rem;
        left: 0.5rem;
        fill: rgba(255, 255, 255, 0.5);
      }
    }

    .buttons {
      justify-content: space-between;

      button {
        background-color: transparent;
      }
    }
  }

  .main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      font: 15px/1 "NanumSquare-Regular";
      width: 90vw;
      max-width: 360px;
      height: 50px;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    }

    small {
      width: 90vw;
      max-width: 360px;
    }
  }
}

.cctv {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #333;
    background-color: white;
    margin: 0.5rem;
    border-radius: 0.5rem;
    height: 45px;
    z-index: 1;

    .toggle-menu {
      padding-top: 6px;
    }

    .search {
      flex: 1 1 auto;

      svg {
        transform: scale(0.6);
      }
    }

    svg {
      transform: scale(0.8);

      fill: #333;

      path {
        stroke: #333;
      }
    }

    input {
      flex: 1 1 auto;
      border: 0;
      width: 100%;
    }
  }

  footer {
    background-color: white;
    color: #333;
    border-top: 1px solid #ddd;

    svg {
      fill: #333;
    }
  }

  .local-toggle-menu {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4rem;
    right: 1rem;

    svg {
      fill: slategray;
    }
  }

  .marker-details {
    height: 40vh;
    position: absolute;
    background-color: white;
    color: #333;
    left: 0;
    right: 0;
    bottom: calc(-40vh - 1.5rem);
    justify-content: center;
    transition: 0.4s;

    flex-direction: column;

    &.active {
      bottom: 0;
    }

    svg {
      fill: #333;
    }

    .arrow {
      position: absolute;
      top: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 4rem;
      height: 1.5rem;
      border-radius: 0.25rem 0.25rem 0 0;
      background: white;
      border: 1px solid #ddd;
      z-index: 1;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid black;
        border-top: none;
        border-right: none;
        background: transparent;
        -webkit-transform: rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    .navigation {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.75rem;
      border-bottom: 1px solid #ddd;

      button {
        background-color: transparent;
        border: 1px solid #ddd;
        padding: 0.25rem;
        display: flex;
        flex-direction: column;

        svg {
          fill: #333;
        }

        span {
          color: #333;
          font-size: 12px;
          margin-top: 0.25rem;
        }
      }
    }

    .cctv-locations {
      flex: 1 1 auto;
      overflow-y: auto;

      .row {
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
          border-bottom: 1px solid #ddd;
        }
      }

      ul {
        flex: 1 1 auto;
        width: 95%;

        li {
          &.title {
            font-weight: bold;
            font-size: 16px;
            color: royalblue;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }
          &.tags {
            padding: 0.5rem 0;
            span {
              font-size: 13px;
              background-color: seagreen;
              padding: 0.25rem 0.75rem;
              color: white;
              border-radius: 0.25rem;
            }
          }

          &.information {
            display: flex;
            align-items: center;

            span {
              &:first-of-type {
                flex: 0 0 70px;

                &::after {
                  content: ":";
                }
              }
            }

            svg {
              border-radius: 50%;
              border: 1px solid #333;
            }
          }
        }
      }

      .more {
        flex: 0 0 auto;
      }
    }
  }
}

.cctv-user {
  footer {
    padding: 0.5rem 0;
    height: auto;

    .request {
      color: slateblue;
      background-color: #eee;
      border-radius: 0.5rem;
      padding: 0.25rem 0.5rem;

      svg {
        fill: slateblue;
      }
    }

    .footer-menu {
      li:not(:last-of-type) {
        border: none;
      }
    }
  }
}

.maps {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
