<!DOCTYPE html>
<html lang="ko" ng-clock ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>휴일근무 신청</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/datepicker.css">
    <link rel="stylesheet" href="../jqueryui/jquery-ui.css">
    <link href="../css/jquery.modal.css" rel="stylesheet"> <!-- modal message dialog -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <script type='text/javascript' src="../js/common.js"></script>
    <script type='text/javascript' src="../js/moment.min.js"></script> <!-- JS Library for TIME -->
    <script type='text/javascript' src='../jquery/jquery-3.4.1.min.js'></script>
    <script type='text/javascript' src='../jqueryui/jquery-ui.js'></script>
    <script type='text/javascript' src='../js/rolldate.min.js'></script> <!-- wheel spinner -->
    <script type='text/javascript' src='../angularJS/angular.min.js'></script>
    <script type='text/javascript' src='../jquery/jquery.modal.js'></script> <!-- modal message dialog -->
    <script type='text/javascript' src="../js/index.js"></script>   
    <script type='text/javascript' src='../js/navbar.js'></script> <!-- Aside - JS -->
    <script type='text/javascript' src='../js/ehr/EHRB001M01.js'></script>
</head>

<body ng-controller="vacaCtrl as responsive">
    <!-- start Aside -->
    <aside>

    </aside><!-- end Aside -->

    <div class="main-content overtime bg-gray">
        <header>
            <div class="back" onclick="location.href='EHRB001T01.html'"></div>
            <h2>휴일?야간근무 사전신청</h2>
            <div class="menu" onclick="modal('aside')">
                <span></span> <span></span> <span></span> <span></span>
            </div>
        </header>
        <div class="content">
            <section>
                <h4>휴일특근 사전신청 등록</h4>
                <div class="container">
                    <div class="input-container">
                        <label>신청일자</label>
                        <input type="text" id="workdt" ng-model="workdt" class="calendar date-select" style="" readonly onchange = "workdtChange()">
                        <span class="{{workdtClass}}">{{holyday.paydaynm}}</span>
                    </div>
                    <div class="input-container">
                        <label>신청시간</label>
                        <input type="text" id="begintime" class="time-select"  style = "text-align: center" placeholder="시작시간" readonly />
                        <span>~ </span>
                        <input type="text" id="endtime" class="time-select"  style = "text-align: center" placeholder="종료시간" readonly />
                        <input type="hidden" id="payhr"/>
                        <input type="hidden" id="tfarehr"/>
                    </div>
                    <div class="input-container">
                        <label for="">대체휴일</label>
                        <input type="text" id= "replacenm" readonly/>
                        <input type="hidden" id= "replacecd"/>
                    </div>
                    <div class="input-container">
                        <label for="">대체휴일일자</label>
                        <input type="text" id="replacedt" ng-model="replacedt" class="calendar date-select" placeholder="YYYY.MM.DD" style="visibility:hidden" readonly onchange = "replacedtChange()">
                    </div>
                    <div class="input-container">
                        <label for="">사유선택</label>
                        <div class="selectbox">
                            <select id = "tfarersncd">
                                <option ng-repeat="option in tfarersncd_list | orderBy : 'option.detailcd' track by $index" value="{{option.detailcd}}">{{option.cdnm}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-container">
                        <textarea id = "tfarersn" rows="3" placeholder="사유작성" ng-model="tfarersn" ng-change="tfarersnMax()"></textarea>
                    </div>
                </div>
            </section>
            <section>
                <h4>주간 초과근무 현황</h4>
                <div class="container extra-hours">
                    <h5>{{weekOverWorkList.weekStart}} ~ {{weekOverWorkList.weekEnd}}</h5>
                    <ul>
                        <li>
                            <h5>발생</h5>
                            <div><strong>{{weekOverWorkList.totRecord.replace(":",".")}}</strong> 시간</div>
                        </li>
                        <li>
                            <h5>상신</h5>
                            <div><strong>{{weekOverWorkList.totApproval.replace(":",".")}}</strong> 시간</div>
                        </li>
                        <li>
                            <h5>잔여</h5>
                            <div><strong>{{weekOverWorkList.remain.replace(":",".")}}</strong> 시간</div>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <h4>결재 경로 설정 <i class="fas fa-question-circle tooltip"
                        title="* 결재경로 : 1차(부서장), 2차(팀장)<br />* 근태담당자에게 별도 통보 없음"></i></h4>
                <ul class="list container">    
                    <li ng-show="approver.seq > 0" ng-repeat="approver in approver_list | orderBy : 'approver.seq' track by $index" >
                        <span class="num">{{approver.seq}}</span>
                        <span class="progress selectbox">
                            <select ng-model="approver.apprpathcd">
                                <option value="1">결재</option>
                                <option value="2">합의</option>
                                <option value="9">통보</option>
                            </select>
                        </span>
                        <span class="name">{{approver.name}}</span>
                        <span class="name">{{approver.deptnm}}</span>
                        <span class="num"><i class="fas fa-minus-circle fa-lg" ng-click="approval_list_remove($index)"></i></span>
                    </li>
                    <li ng-show="approver_list.length < 4 || approver_list==null ">
                        <span class="num">{{approver_list.length+1}}</span>
                        <span class="progress selectbox">
                            <select id="apprAct">
                                <option value="1">결재</option>
                                <option value="2">합의</option>
                                <option value="9">통보</option>
                            </select>
                        </span>
                        <button id="btn_addapprover"><i class="fas fa-plus fa-lg"></i></button>
                    </li>
                </ul>
            </section>
        </div><!-- end Content -->
        <button class="main" id="approvalSubmit">결재 상신</button>
    </div><!-- end Main Content -->

    <!-- Modal1 -->
    <div class="modal modal-search">
        <header>
            <div class="search">
                <input type="search" maxlength="20" id="searchNm" placeholder="결재자 검색" />
                <input type="hidden" id="chosenUserCd" value="" />
                <input type="hidden" id="chosenUserNm" value="" />
                <input type="hidden" id="chosenUserDeptNm" value="" />
                <i class="fas fa-search fa-search-approver"></i>
            </div>
            <ul class="list">
                <li class="th">
                    <span>사번</span>
                    <span>성명</span>
                    <span>부서명</span>
                    <span>직책</span>
                </li>
            </ul>
        </header>
        <div class="content">
            <ul class="list">
                <li ng-repeat="user in user_search_list | orderBy : 'user.empid' track by $index" ng-click="clickUser(user.empid, user.name, user.deptnm)" class="li_user_list {{user.empid}}">
                    <span>{{user.empid}}</span>
                    <span>{{user.name}}</span>
                    <span>{{user.deptnm}}</span>
                    <span>{{user.jobdutynm}}</span>
                </li>
            </ul>
        </div>
        <div class="btn-container">
            <button id = "btn_addapprover_cancel" class="cancel">취소</button>
            <button id = "btn_addapprover_confirm" class="main">확인</button>
        </div>
    </div><!-- end Modal1 -->
    <div class="modal-backdrop"></div>
</body>
</html>