<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}조작적 정의 수정{% endblock %}</title>

    {{ form.media.css }}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<div class="container">
    <header>
        <div class="logo"><a href="/">Operational Definition</a></div>
        <ul class="navigation">
            {% if user.is_authenticated %}
            <li><a href="#">Welcome, <strong>{{user.get_username}}</strong></a></li>
            <li><a href="{% url 'logout' %}" class="logout">logout</a></li>

            {% else %}
            <li><a href="{% url 'login' %}">login</a></li>
            {% endif %}
        </ul>
    </header>
    <div class="content">
        <form action="" method="post">
            <div class="title">
                <h2>조작적 정의 수정</h2>
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                    </svg>
                    edit
                </button>
            </div>
            {% csrf_token %}
            <div class="input-container">
                <label class="required">Category</label>
                {{ form.category }}
            </div>

            <div class="input-container">
                <label class="required">ICD Code</label>
                {{ form.primary_icd_code }}
            </div>
            <div class="input-container">
                <label class="required">EDI Code</label>
                {{ form.primary_edi_code }}
            </div>
            <div class="input-container">
                <label class="required">Vaccine Code</label>
                {{ form.primary_vaccine_code }}
            </div>
            <div class="input-container">
                <label>Description</label>
                {{ form.description }}
            </div>
            <div class="input-container">
                <label>Query</label>
                <textarea name="" id="" cols="30" rows="10">test</textarea>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
</body>
</html>