{% extends 'base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="modal active">
        <h4>"{{object}}" 링크를 삭제 하시겠습니까?</h4>
        <div class="list-buttons">
            <button class="cancel"><ion-icon name="close-outline"></ion-icon> 아니오</button>
            <button class="confirm" type="submit"><ion-icon name="checkmark-outline"></ion-icon> 예</button>
        </div>
    </div>
</form>
{% endblock %}