{% extends "mel_base.html" %}
{% block content %}
<div class="content">
    <div class="title">
        <h1>환자 기록</h1>
        <div class="button-container">
            <button class="button-submit" onclick="location.href='log_add.html'">생성</button>
        </div>
    </div>
    <div class="content-view">
        <div class="sort-content">
            <div class="input-container">
                <div class="selectbox">
                    <select>
                        <option value="">1번 셀렉트박스</option>
                        <option value="">b</option>
                        <option value="">c</option>
                    </select>
                </div>
                <div class="selectbox">
                    <select>
                        <option value="">2번 셀렉트박스</option>
                        <option value="">b</option>
                        <option value="">c</option>
                    </select>
                </div>
            </div>
        </div>
        <section class="table">
            <div class="row th">
                <span class="cell-counter">No.</span>
                <span class="cell-ward">병동</span>
                <span class="cell-bed-number">침상 번호</span>
                <span class="cell-event">이벤트</span>
                <span class="cell-updated-date">최종 수정일</span>
            </div>
            <div class="row" onclick="location.href='log_detail.html'">
                <span class="cell-counter">1</span>
                <span class="cell-ward">MICU</span>
                <span class="cell-bed-number">3</span>
                <span class="cell-event">정보 1</span>
                <span class="cell-updated-date">2019.05.13 05:57:02</span>
            </div>
        </section>
    </div>
</div>
<div class="button-container">
    <button class="button-submit" onclick="location.href='log_add.html'">생성</button>
</div>
</div>
{% endblock %}