{% extends "mel_base.html" %}
{% block content %}
<div class="content">
    <div class="title">
        <h1>환자 기록 수정</h1>
        <div class="button-container">
            <button class="button-submit">수정</button>
            <button class="button-cancel" onclick="history.back()">취소</button>
        </div>
    </div>
    <div class="content-view">
        <div class="input-container">
            <label for="ward">병동</label>
            <input type="text" id="ward" value="MICU"/>
        </div>
        <div class="input-container">
            <label for="bedNumber">침상번호</label>
            <div class="selectbox">
                <select name="bedNumber" id="bedNumber">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="input-container">
            <label for="event">이벤트</label>
            <div class="selectbox">
                <select name="bedNumber" id="event">
                    <option value="event1">event 1</option>
                    <option value="event2">event 2</option>
                    <option value="event3">event 3</option>
                    <option value="event4">event 4</option>
                    <option value="event5">event 5</option>
                </select>
            </div>
        </div>
        <div class="input-container input-comment">
            <label for="comment">comment</label>
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>
<div class="button-container">
    <button class="button-submit">수정</button>
    <button class="button-cancel" onclick="history.back()">취소</button>
</div>
{% endblock %}