<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>VURIX CLOUD</title>

  <link rel="stylesheet" href="assets/css/common.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="assets/js/script.js"></script>
</head>

<body>
  <div class="container">
    <div class="overlay"></div>
    <aside class="global-navigation-menu">
      <div class="profile">
        <div class="image">
          <img src="assets/images/profile.jpg" alt="">
        </div>
        <ul class="user-information">
          <li class="user-id">
            otter0104
          </li>
          <li class="user-type">
            최고관리자
          </li>
        </ul>
      </div>
      <nav class="menu">
        <div class="menu-workspace" onclick="location.href='workspace.html'">Workspace</div>
        <div class="menu-equipments" onclick="location.href='equipments.html'">장비현황</div>
      </nav>
      <nav class="menu menu-settings">
        <div class="menu-privacy" onclick="location.href='privacy.html'">개인정보처리방침</div>
        <div class="menu-terms" onclick="location.href='terms.html'">약관</div>
        <div class="menu-logout" onclick="">로그아웃</div>
      </nav>
    </aside>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>