{% extends 'base.html' %}
{% block title %}ICD CODE 찾기{% endblock %}

{% block content %}
<div class="content">
    <h1>ICD CODE 찾기</h1>
    <div class="button-container">
        <button onclick="location.href='{% url 'create' %}'">생성</button>
    </div>
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="검색">
    </form>
    {% for operationalDefinition in object_list %}
    <div class="code-container">
        <span>{{operationalDefinition.icd_code}}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}