{% extends 'base.html' %}
{% block title %}조작적 정의{% endblock %}

{% block content %}
<div class="title">
    <div class="wrapper">
        <h2>조작적 정의</h2>
        <button onclick="location.href='{% url 'create' %}'">create</button>
    </div>
</div>
<div class="content">
    <div class="wrapper">
        <div class="table">
            <div class="row th">
                <span>number</span>
                <span>category</span>
                <span>create date</span>
                <span>user ID</span>
                <span>description</span>
                <span>extraction date</span>
                <span>buttons</span>
            </div>

            {% for operationalDefinition in object_list %}
            <div class="row">
                <span>{{forloop.revcounter}}</span>
                <span>{{operationalDefinition.category}}</span>
                <span>{{operationalDefinition.created|date:"Y/m/d, P"}}</span>
                <span>{{operationalDefinition.user}}</span>
                <span class="cell-query">{{operationalDefinition.description}}</span>
                <span>{{operationalDefinition.updated|date:"Y/m/d, P"}}</span>
                <span class="cell-buttons">
                <!--<a href="{% url 'detail' pk=operationalDefinition.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                     viewBox="0 0 18 18">
                    <path
                            d="M4 7.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5S5.5 9.83 5.5 9 4.83 7.5 4 7.5zm10 0c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm-5 0c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5S9.83 7.5 9 7.5z"/>
                </svg>
                </a>-->
                <a href="{% url 'detail' pk=operationalDefinition.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18">
                        <path d="M4 7.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5S5.5 9.83 5.5 9 4.83 7.5 4 7.5zm10 0c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm-5 0c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5S9.83 7.5 9 7.5z"/>
                    </svg>
                </a>
                <a href="{% url 'delete' pk=operationalDefinition.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
                    </svg>
                </a>
            </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}