{% extends "base_admin.html" %}
{% block content %}
<main class="wrapper list-order">
  <div class="title">
    <h1>주문 조회</h1>
    <div class="buttons">
      <button>엑셀파일로 저장</button>
    </div>
  </div>
  <div class="content">
    <div class="table-header">
      <div class="search">
        <div class="selectbox">
          <select name="" id="">
            <option value="">전체</option>
            <option value="">입금대기</option>
            <option value="">입금확인중</option>
            <option value="">입금완료</option>
            <option value="">결제완료</option>
            <option value="">출고준비</option>
            <option value="">출고완료</option>
            <option value="">환불</option>
            <option value="">주문취소</option>
          </select>
        </div>
      </div>
    </div>
    <div class="table">
      <ul class="row title">
        <li class="order-information">주문일자 및 코드</li>
        <li class="book-title">상품명</li>
        <li class="quantity">수량</li>
        <li class="price">금액</li>
        <li class="user-name">주문자명</li>
        <li class="phone">주문자 연락처</li>
        <li class="payment">결제방법</li>
        <li class="date">입금(예정)일</li>
      </ul>
      <ul class="row">
        <li class="order-information">
          <span class="order-date">2021.06.25</span>
          <span class="order-id">H20210520223225</span>
        </li>
        <li class="book-title">드론 초경량비행장치 무인멀티콥터 조종자격 필기·구술</li>
        <li class="quantity">1</li>
        <li class="price">28,500</li>
        <li class="user-name">이상걸</li>
        <li class="phone">010-3523-8250</li>
        <li class="payment">
          <span>무통장입금</span>
          <span>이상걸</span>
        </li>
        <li class="date">2021.06.25</li>
        <ul class="ship-to">
          <li class="user-name">홍길동</li>
          <li class="phone">010-111-1111</li>
          <li class="address">경상북도 경산시 자인면경북기계금속고등학교</li>
          <li class="status">
            <div class="selectbox">
              <select name="" id="">
                <option value="">입금대기</option>
                <option value="">입금확인중</option>
                <option value="">입금완료</option>
                <option value="">결제완료</option>
                <option value="">출고준비</option>
                <option value="">출고완료</option>
                <option value="">환불</option>
                <option value="">주문취소</option>
              </select>
            </div>
          </li>
        </ul>
        <div class="memo">문앞에 놓아주세요</div>
      </ul>
      <ul class="row">
        <li class="order-information">
          <span class="order-date">2021.06.25</span>
          <span class="order-id">H20210520223225</span>
        </li>
        <li class="book-title">드론 초경량비행장치 무인멀티콥터 조종자격 필기·구술</li>
        <li class="quantity">1</li>
        <li class="price">28,500</li>
        <li class="user-name">이상걸</li>
        <li class="phone">010-3523-8250</li>
        <li class="payment">
          <span>무통장입금</span>
          <span>이상걸</span>
        </li>
        <li class="date">2021.06.25</li>
        <ul class="ship-to">
          <li class="user-name">홍길동</li>
          <li class="phone">010-111-1111</li>
          <li class="address">경상북도 경산시 자인면경북기계금속고등학교</li>
          <li class="status">
            <div class="selectbox">
              <select name="" id="">
                <option value="">입금대기</option>
                <option value="">입금확인중</option>
                <option value="">입금완료</option>
                <option value="">결제완료</option>
                <option value="">출고준비</option>
                <option value="">출고완료</option>
                <option value="">환불</option>
                <option value="">주문취소</option>
              </select>
            </div>
          </li>
        </ul>
        <ul class="memo">
          <li>문앞에 놓아주세요</li>
        </ul>
      </ul>
      <ul class="row">
        <li class="order-information">
          <span class="order-date">2021.06.25</span>
          <span class="order-id">H20210520223225</span>
        </li>
        <li class="book-title">드론 초경량비행장치 무인멀티콥터 조종자격 필기·구술</li>
        <li class="quantity">1</li>
        <li class="price">28,500</li>
        <li class="user-name">이상걸</li>
        <li class="phone">010-3523-8250</li>
        <li class="payment">
          <span>무통장입금</span>
          <span>이상걸</span>
        </li>
        <li class="date">2021.06.25</li>
        <ul class="ship-to">
          <li class="user-name">홍길동</li>
          <li class="phone">010-111-1111</li>
          <li class="address">경상북도 경산시 자인면경북기계금속고등학교</li>
          <li class="status">
            <div class="selectbox">
              <select name="" id="">
                <option value="">입금대기</option>
                <option value="">입금확인중</option>
                <option value="">입금완료</option>
                <option value="">결제완료</option>
                <option value="">출고준비</option>
                <option value="">출고완료</option>
                <option value="">환불</option>
                <option value="">주문취소</option>
              </select>
            </div>
          </li>
        </ul>
        <ul class="memo">
          <li>문앞에 놓아주세요</li>
        </ul>
      </ul>
      <ul class="row">
        <li class="order-information">
          <span class="order-date">2021.06.25</span>
          <span class="order-id">H20210520223225</span>
        </li>
        <li class="book-title">드론 초경량비행장치 무인멀티콥터 조종자격 필기·구술</li>
        <li class="quantity">1</li>
        <li class="price">28,500</li>
        <li class="user-name">이상걸</li>
        <li class="phone">010-3523-8250</li>
        <li class="payment">
          <span>무통장입금</span>
          <span>이상걸</span>
        </li>
        <li class="date">2021.06.25</li>
        <ul class="ship-to">
          <li class="user-name">홍길동</li>
          <li class="phone">010-111-1111</li>
          <li class="address">경상북도 경산시 자인면경북기계금속고등학교</li>
          <li class="status">
            <div class="selectbox">
              <select name="" id="">
                <option value="">입금대기</option>
                <option value="">입금확인중</option>
                <option value="">입금완료</option>
                <option value="">결제완료</option>
                <option value="">출고준비</option>
                <option value="">출고완료</option>
                <option value="">환불</option>
                <option value="">주문취소</option>
              </select>
            </div>
          </li>
        </ul>
        <ul class="memo">
          <li>문앞에 놓아주세요</li>
        </ul>
      </ul>
      <ul class="row">
        <li class="order-information">
          <span class="order-date">2021.06.25</span>
          <span class="order-id">H20210520223225</span>
        </li>
        <li class="book-title">드론 초경량비행장치 무인멀티콥터 조종자격 필기·구술</li>
        <li class="quantity">1</li>
        <li class="price">28,500</li>
        <li class="user-name">이상걸</li>
        <li class="phone">010-3523-8250</li>
        <li class="payment">
          <span>무통장입금</span>
          <span>이상걸</span>
        </li>
        <li class="date">2021.06.25</li>
        <ul class="ship-to">
          <li class="user-name">홍길동</li>
          <li class="phone">010-111-1111</li>
          <li class="address">경상북도 경산시 자인면경북기계금속고등학교</li>
          <li class="status">
            <div class="selectbox">
              <select name="" id="">
                <option value="">입금대기</option>
                <option value="">입금확인중</option>
                <option value="">입금완료</option>
                <option value="">결제완료</option>
                <option value="">출고준비</option>
                <option value="">출고완료</option>
                <option value="">환불</option>
                <option value="">주문취소</option>
              </select>
            </div>
          </li>
        </ul>
        <ul class="memo">
          <li>문앞에 놓아주세요</li>
        </ul>
      </ul>
      <ul class="row">
        <li class="order-information">
          <span class="order-date">2021.06.25</span>
          <span class="order-id">H20210520223225</span>
        </li>
        <li class="book-title">드론 초경량비행장치 무인멀티콥터 조종자격 필기·구술</li>
        <li class="quantity">1</li>
        <li class="price">28,500</li>
        <li class="user-name">이상걸</li>
        <li class="phone">010-3523-8250</li>
        <li class="payment">
          <span>무통장입금</span>
          <span>이상걸</span>
        </li>
        <li class="date">2021.06.25</li>
        <ul class="ship-to">
          <li class="user-name">홍길동</li>
          <li class="phone">010-111-1111</li>
          <li class="address">경상북도 경산시 자인면경북기계금속고등학교</li>
          <li class="status">
            <div class="selectbox">
              <select name="" id="">
                <option value="">입금대기</option>
                <option value="">입금확인중</option>
                <option value="">입금완료</option>
                <option value="">결제완료</option>
                <option value="">출고준비</option>
                <option value="">출고완료</option>
                <option value="">환불</option>
                <option value="">주문취소</option>
              </select>
            </div>
          </li>
        </ul>
        <ul class="memo">
          <li>문앞에 놓아주세요</li>
        </ul>
      </ul>
    </div>
    <div class="table-footer">
      <div class="pagenation">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a class="active" href="">1</a>
        <a href="#">2</a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}