@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url('../fonts/NanumSquareR.eot');
    src: url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'), src: url('../fonts/NanumSquareR.woff') format('woff'), src: url('../fonts/NanumSquareR.ttf') format('truetype'),
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: bold;
    src: url('../fonts/NanumSquareB.eot');
    src: url('../fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'), src: url('../fonts/NanumSquareB.woff') format('woff'), src: url('../fonts/NanumSquareB.ttf') format('truetype'),
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url('../fonts/NanumSquareL.eot');
    src: url('../fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'), src: url('../fonts/NanumSquareL.woff') format('woff'), src: url('../fonts/NanumSquareL.ttf') format('truetype'),
}

:root {
    --var-mainColor: #01797F;
    --var-secondaryColor: #0A2E51
}

* {
    box-sizing: border-box
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font: 17px/1.5 'NanumSquare';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex
}

a {
    text-decoration: none;
    color: #333
}

input {
    border: 0;
    padding: .7rem;
    font: 17px/1.5 'NanumSquare';
    background-color: transparent;
    outline: 0;
}

button {
    border: 0;
    font: 14px/1 'NanumSquare';
    font-weight: bold;
    background-color: transparent;
    display: flex;
    align-content: center;
    border-radius: .2rem;
    transition: background-color .2s;
    cursor: pointer;
    outline: 0;
}

button.new, button.submit {
    display: flex;
    align-items: center;
    font: normal 14px 'Work Sans', sans-serif;
    text-transform: uppercase;
    background-color: #0191B4;
    color: white
}

button.cancel {
}

button.new [class*=icon-], button.submit [class*=icon-] {
    margin-right: .2rem;
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0
}

ion-icon {
    font-size: 1rem;
    vertical-align: middle
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #F7F8F9
}
.list-buttons {
    display: flex;
    align-self: flex-end;
    margin-bottom: .5rem;
    justify-content: flex-end
}

.list-buttons button {
    padding: .7rem 1rem
}


.input-container {
    position: relative;
}

section {
    width: 100%;
    margin: 1rem auto
}


/* Modal */
.backdrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color .4s;
}

.backdrop.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, .6);
}

.modal {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    width: 40vw;
    min-width: 300px;
    max-width: 400px;
    max-height: 80vh;
    border-radius: .5rem;
    transition: background-color .2s;

}

.modal .list-buttons {
    margin-top: 2rem;
    margin-bottom: 0;
}

.modal .list-buttons button {
    padding: 0 1rem
}

.modal .confirm {
    color: green;
}

.modal .cancel {
    color: red;
}

.modal.active {
    opacity: 1;
    visibility: visible;
    background-color: white;
}

/* aside */
aside {
    width: 4rem;
    height: 100vh;
    background: #0191B4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    overflow-y: hidden;
    transition: width .2s;
}

aside:hover {
    width: 5rem
}

aside .icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

aside li {
    padding: 1rem;
}

aside li ion-icon {
    color: white;

}

aside span[class*="icon-"] {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

aside .icon-dashboard {
    background-image: url("../images/icons/dashboard.png");
}

aside .icon-viewer {
    background-image: url("../images/icons/viewer.png");
}

aside .icon-laptop {
    background-image: url("../images/icons/laptop.png");
}

aside .icon-admin {
    width: 100%;
    justify-content: center;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    padding: 1rem;
}

header .menu {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-content: center;
    flex-wrap: wrap
}

header .menu li {
    margin-left: 1rem;
    font-size: 14px
}


/* Search */
.search {
    position: relative;
    min-width: 30vw;
    max-width: 400px
}

.search svg {
    color: #AAA;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.search label {
    display: none
}

.search input {
    -webkit-appearance: textfield;
    width: 100%;
    background: white;
    border-radius: 10rem;
    padding: .7rem 1rem
}


.cog {
    margin-left: .5rem;
    width: 36px;
    height: 36px;
    cursor: pointer
}

.cog-icon {
    transform-origin: 50% 50%;
    transition: transform .8s ease-out;
}

.cog:hover .cog-icon {
    transform: scale(1.2) rotate(90deg);
}


.icon-admin {
    display: flex;
    align-content: center
}

.icon-admin a {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.icon-admin ion-icon {
    font-size: 1.5rem;
    /*    background:#0191B4;
        color: white;
        border-radius: .5rem;
        padding: .5rem;*/
}


/* Content */
.content {
    margin: 0 auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 2rem;
    min-width: 800px;
    width: 80%;
    max-width: 1200px;
}

.content h1 {
    text-align: center
}

/* Main */
.category {
    display: flex;
    justify-content: center;
    user-select: none
    -webkit-user-select: none
}

.category li {
    margin: 1rem;
    font-weight: bold;
    color: #AAA;
    position: relative;
    cursor: pointer;
    transition: color .2s;
}

.category li.active, .category li:hover {
    color: #0191B4;
    position: relative
}

.category li.active::after, .category li:hover::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 50%;
    transform: translateX(-50%);
    background: #0191B4;
    width: 2rem;
    height: 3px
}

.projects {
    position: relative;
    overflow: hidden;
    margin: 0 -.5rem;
}

.projects .list {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 -.5rem;
}

.project {
    box-sizing: border-box;
    width: 20%;
    padding: .5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none
    -webkit-user-select: none
}


.project a {
    position: relative;
    padding: 1.2rem;
    background: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: keep-all;
    text-align: center;
    transition: transform .2s;
}

.project a:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 13px rgba(210, 200, 230, .1);
}

.project img {
    height: 3rem;
    margin-bottom: .5rem
}

.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    margin-bottom: 1rem
}

.aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Add more aspect ratios here */
.aspect--16x9 {
    padding-bottom: 56.25%;
}

.project-title {
    margin-bottom: .5rem;
    height: 40px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}

.project small {
    font-size: 13px;
    font-weight: bold;
    color: #a3a6a9;
}

.project-description {
    font-size: 15px;
    height: 36px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}


.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0
}

.pagination li {
    padding: .5rem;
    display: flex;
    align-items: center
}

.pagination a {
    display: flex;
    line-height: 32px;
    font-family: 'Work Sans', sans-serif;
}

.pagination .disabled a {
    color: #0191B4
}

.pagination .disabled a[href="#"] {
    color: #333
}


.login {
    background: linear-gradient(rgba(0, 118, 126, .8), rgba(10, 46, 81, .8));
    text-align: center;
}

.login::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: url("./../images/bg_login.jpg");
    background-size: cover;
    z-index: -1;
    opacity: .3;
}

.login .title {
    color: white;
    margin-bottom: 5rem
}


.login-container {
    width: 400px;
    margin: 0 auto;
    border-radius: 1rem;
}

.login-container .input-container {
    margin-bottom: .5rem;
}

.login-container i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #E3E6E9;
}

.login-container label {
    display: none
}

.login-container input {
    font-family: 'Baloo Chettan 2', cursive;
    background-color: white;
    width: 100%;
    padding: 1rem .5rem;
    border-radius: .5rem;
    text-indent: 2rem;
    border: 0
}

.login-container button {
    width: 100%;
    padding: 1rem .5rem;
    line-height: 1.5rem;
    border-radius: .5rem;
    justify-content: center;
    background-color: #0191B4;
    color: white
}

.login-container #id_username {
}

.login-container .password {
}


@media screen and (max-width: 1400px) {
    .content {
        width: 100%
    }
}

@media screen and (max-width: 1200px) {
    .project {
        width: 25%
    }
}

@media screen and (max-width: 900px) {
    .project {
        width: 33.333%
    }
}

@media screen and (max-width: 480px) {

    .container {
        height:100vh
    }

    header {
        justify-content: space-between
    }

    .search {
        flex: 1 1 auto;
        min-width: auto;
        max-width: none
    }

    .content {
        overflow-y: auto;
        padding: 1rem;
        min-width: auto
    }

    .content h1 {
        flex: 0 0 auto;
        font-size:1.5rem;
        text-align: center;
        margin-bottom: 1rem
    }

    .category {
        flex: 0 0 auto;
        justify-content: left;
        overflow-x: auto;
        margin: 0 -1rem;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
    }

    .category li {
        margin: 1rem 1.2rem
    }

    .category li.active::after, .category li:hover::after {
        bottom: -1rem;
    }

    .filter-options {
        min-width: max-content
    }
    .project {
        width: 50%;
    }
}
