.title {
    flex: 0 0 auto;
    padding: 1.5rem;
    border-bottom: 1px solid #E3E6E9;
    box-sizing: border-box;
}

.title .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title button, .button-container button {
    height: 100%;
    padding: .8rem 1.6rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.title button svg {
    fill: white
}

.input-container:last-child {
    border-bottom: 0
}

.input-container > div {
    display: flex;
    flex-direction: column;
}

.required-container label {
    flex: 0 0 30% !important;
}

.required-container.category {
    flex: 0 0 30%
}

.required-container .input-container {
    border-bottom: 0;
}

.query-title {
    display: flex;
    justify-content: space-between;
    padding: 0 0 .5rem
}

.input-container select,
.input-container input[type="text"],
.input-container input[type="password"],
.input-container textarea,
.input-container > div:last-child {
    flex: 1 1 auto
}

.query textarea {
    background-color: aliceblue;
    color: royalblue;
    border: 0;
}

.table {

}

.table .row {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: .8rem .5rem;
    background: white;
    border-radius: .5rem;
    margin: .5rem 0;
}

.table .row span {
    align-items: center;
    display: flex;
    justify-content: center;
}

.table .th {
    border-radius: 0;
    background: transparent;
    font: 13px/1.5 'Comfortaa';
    padding-bottom: 0;
    color: slategray;
}

.table .row span:nth-of-type(1) {
    width: 5%
}

.table .row span:nth-of-type(2) {
    width: 10%
}

.table .row span:nth-of-type(3) {
    width: 15%
}

.table .row span:nth-of-type(4) {
    width: 10%
}

.table .row span:nth-of-type(5) {
    width: 40%
}

.table .row span:nth-of-type(6) {
    width: 15%
}

.table .row span:nth-of-type(7) {
    width: 5%
}

.cell-query {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-family: 'NanumSquare';
}

.cell-query svg {
    margin-left: 1rem;
    cursor: pointer;
}

.cell-buttons a {
    margin: 0 2px;
    display: flex;
    align-items: center;
}

.cell-buttons svg {
    fill: slategray;
}

.white-container {
    display: flex;
    flex: 1 1 auto;
    background: white;
    margin: .5rem;
    padding: 2rem;
    border-radius: 1rem;
}

.codes .input-container {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0
}

.codes .input-container svg {
    fill: #C3C6C9;
}

.remove-input-container {
    flex: 0 0 auto !important;
    margin-left: .5rem;
    cursor: pointer;
}

.add-input-container {
    display: flex;
    justify-content: center;
}

.add-input-container svg {
    fill: slategray;
    cursor: pointer;
}


.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-dropdown {
    border-color: #D3D6D9;
    height: auto;
    padding: .3rem 0;
    box-sizing: border-box;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: transparent;
    border-color: powderblue;
    border-radius: .5rem;
    padding: .3rem .6rem;
    margin: 5px;
    display: flex;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: 0;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


@media screen and (max-width: 480px) {

}