@font-face {
  font-family: 'Teko';
  src: url('../fonts/Teko-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Ultra';
  src: url('../fonts/Ultra-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold2.ttf');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url(../fonts/NanumSquareR.eot);
  src: url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
  url(../fonts/NanumSquareR.woff) format('woff'),
  url(../fonts/NanumSquareR.ttf) format('truetype');
}


$primary-color: #07babd;
$secondary-color: #3b9cff;
$dark-primary-color: #27292d;
$dark-secondary-color: #373a46;
$dark-tertiary-color: #85899a;


body {
  color: #333;
  width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font: 14px/1.5 'Poppins', 'NanumSquare';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {

  &.tilde {
    display: flex;
    align-items: center;
    margin: 0 .25rem
  }
}

svg {
  fill: $dark-primary-color;
}

canvas {
  opacity: .5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dce2ec;
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: #444;
  animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: #444;
  outline: none;
}

a:hover,
a:focus {
  color: #555;
  outline: none;
  text-decoration: none;
}

.js-image {
  max-width: 100%;
  display: block;
}

.loaded .js-image {
  opacity: 0;
}


.container {
  padding: 0; /* bootstrap */
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
}

section {
  position: relative
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

img {
  display: block;
  width: 100%;
}

.add-input {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  line-height: 1.2;
}

small {
  font-family: 'Comfortaa', 'NanumSquare', sans-serif;
  line-height: 1.2;
}

.active,
.active-sub-menu {
  opacity: 1 !important;
  visibility: visible !important;
  display: flex !important;
}

fieldset {
  border-radius: .5rem;
  border: 1px solid #DDD;
}

legend {
}

input {
  -webkit-appearance: none;
  height: auto;
  border: 0;
  padding: .5rem;
  font: 14px/1 'NanumSquare';
  background-color: white;
  outline: 0;
  box-sizing: border-box;
  border-radius: .3rem;
  position: relative;
}

input[type="password"] {
  font-family: "Comfortaa", sans-serif;
}

input:focus, select:focus, button:focus {
  outline: 0;
}

label {
  font-weight: normal; /* bootstrap*/
  margin-bottom: 0; /* bootstrap*/
  color: slategray;
}

button {
  display: flex;
  align-items: center;
  border: 0;
  background: $primary-color;
  color: white;
  border-radius: .3rem;
  padding: .5rem 1rem;
  cursor: pointer;
  user-select: none;

  svg + span {
    margin-left: .2rem;
  }
}


.btn-container {
  display: flex;
  margin: 0 -.2rem;

  button {
    margin: 0 .2rem
  }
}

.btn-submit {
  background-color: $primary-color;
}

.btn-cancel {
  background-color: rgba(0, 0, 0, .1);
}

.btn-modify {
  background-color: $secondary-color;
  color: #333;
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.btn-download {
  background-color: lightslategray !important
}

textarea {
  background-color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  resize: none;

  &:focus {
    outline: 0
  }
}

header {
  flex: 0 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;

  a {
    display: flex;
    padding: .4rem .8rem;
  }

  .logo {
    line-height: 1;
  }

  .menu {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    a {
      font-size: 13px;
    }
  }

  button {
    padding: .5rem 2rem;
  }
}

.container > header {
  padding: 0 1rem;
}

main {
  flex: 1 1 auto;
  display: flex;
}

aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  transition: .0s;

  ul {
    flex-direction: column;

    li {
      flex: 1 1 auto;
    }
  }
}

.flex-wrapper {
  display: flex;
}

.content {
  opacity: 0;
  flex: 1 1 auto;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  animation: fadeInOpacity .4s forwards;
  transition: .2s border-color;
}

.content-title {
  flex: 0 0 auto;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button-container button {
    padding: .6rem 1.6rem
  }

  h1 {
    font: normal 2rem/1 'Nanumsquare';
    flex: 1 1 auto;
  }
}

.content .title p {
  color: #5e5c67;
  font-size: 16px;
}

.content-view {
  flex: 0 1 auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.content-title + .content-view {
  padding: 0 1rem 1rem 1rem;
}

.wrapper {
  flex: 1 1 auto;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  align-content: center;
  margin-bottom: 1rem;
  position: relative;

  label {
    align-self: center;
  }

  input {
    flex: 1 1 auto
  }

  div {
    display: flex;
    align-items: center;

    input {
      flex: 1 1 auto;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

.button-container button {
  margin-left: .5rem;
}

/* Progress */

.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50px;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  background-color: lightsteelblue;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap svg.progress-circle path {
  stroke: white;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg {
  fill: white;
  align-self: center;
}


/* Pagination */

.pagination {
  margin: 2rem auto

}

.pagination ul {
  display: flex;
}

.pagination li {
  margin: 0 1rem;
  color: slategray;
  display: flex;
  align-items: center;
}

.pagination .active {
  color: #36299f;
  font-weight: bold;
}

.pagination svg {
  fill: slategray;
}


/* ,Checkbox */
.checkbox {
  position: relative;

  input {
    position: absolute;
    opacity: 0;

    &:checked + label {
      color: #36299f;
    }
  }

  label {
    flex: 1 1 auto !important;
    color: #AAA;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: .2s color;

    &::before {
      border-radius: 2px;
      transition: .2s;
      content: '';
      margin-right: 3px;
      width: 15px;
      height: 15px;
      border: 1px solid #EEE;
      background-color: white;
    }
  }
}

.checkbox input:checked + label:after {
  content: '';
  width: 10px;
  height: 6px;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* Radio Button */
input[type="radio"] {
  position: absolute;
  opacity: 0
}

input[type="radio"] + label {
  cursor: pointer;
  margin-right: 1rem
}

input[type="radio"] + label:before {
  content: '';
  background: #F3F6F9;
  border-radius: 100%;
  border: 1px solid #E3E6E9;
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  margin-right: 3px;
  vertical-align: middle;
  transition: all .2s ease
}

input[type="radio"]:hover + label:before, input[type="radio"]:checked + label:before {
  border-color: $primary-color !important;
  background-color: $primary-color !important;
  box-shadow: inset 0 0 0 2px #DDD;
}

input[type="radio"]:focus + label:before {
  outline: none;
}

input[type="radio"]:disabled + label {
  cursor: auto
}

input[type="radio"]:disabled:checked + label:before {
  box-shadow: inset 0 0 0 2px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4
}

input[type="radio"]:disabled + label:before {
  border-color: #b4b4b4;
  background: #f4f4f4
}

input[type="radio"] + label:empty:before {
  margin-right: 0
}

.input-comment {
  flex: 1 1 100% !important;
}


/*selectbox*/
.selectbox {
  position: relative;
  box-sizing: border-box;
  align-items: center;
  display: flex;

  &::-ms-expand {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: .7rem;
    width: 0;
    height: 0;
    margin-top: -6px;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  label {
    white-space: nowrap;
    margin-right: .5rem;
  }

  select {
    border: 1px solid #EEE;
    border-radius: .3rem;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    -webkit-appearance: none;
    padding: .5rem 2rem .5rem .5rem;
    height: auto;
    font: 14px/1 'NanumSquare';
    background-color: white;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
  }
}


/*table*/
.table {
  width: 100%;
  margin: 0 auto 1rem;
}

.table button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: #EEE;
  color: white;
  border-radius: .2rem;
  padding: .25rem .5rem;
  margin: 0 .25rem;
  cursor: pointer;
}

.table .row {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: .5rem 0;
  background: white;
  border-radius: .5rem;
  position: relative;
  animation: fadeInOpacity .8s forwards;
}

.table .row li {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  margin: 0 .25rem;
}

.table .row span {
  color: #5e5c67;
  align-items: center;
  display: flex;
  justify-content: center;
}

.table .th {
  font: 13px/1.2 'Comfortaa', 'Nanumsquare';
  margin: .5rem auto .2rem !important;
  color: slategray !important;
  word-break: keep-all;
  border-radius: 0;
  background: transparent !important;
  padding: 0;
  cursor: default;
}

.table .th span {
}

.table .list {
  height: 100%;
  overflow-y: auto;
}


/* =====================================================
   Toggle buttons
   ===================================================== */
.toggle {
  display: block;
  text-align: center;
  user-select: none;
}

.toggle-checkbox {
  display: none;
}

.toggle-button {
  display: block;
  background-color: #E3E6E9;
  margin: 0 auto;
  font-size: 1.4em;
  transition: .2s;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle .toggle-button {
  position: relative;
  height: 22px;
  width: 36px;
  border-radius: 25px;
}

.toggle .toggle-feature {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  fill: white;
  border-radius: 50%;
  transition: .2s;
}

.toggle .toggle-checkbox:checked + .toggle-button {
  background-color: $secondary-color;
  fill: white;
}

.toggle .toggle-checkbox:checked + .toggle-button > * {
  left: 16px;
}

/* Toggle Checkbox */

.toggle-activation {
  flex: 1 1 100%;
  flex-direction: row-reverse;
  align-items: center;
}

.toggle-activation .toggle {
  display: flex;
  width: 40px;
  height: 80%;
}

.toggle-activation label {
  flex: 0 0 auto !important;
  margin-right: .5rem;
}

.toggle-activation .toggle-button {
  height: 20px;
  border-radius: 30px;
  flex: 0 0 100% !important;
  background-color: orangered;
}

.toggle-activation .toggle-feature {
  top: -2px;
  left: -2px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
}

.toggle-activation .toggle-checkbox:checked + .toggle-button {
  background-color: lightseagreen;
}

.toggle-activation .toggle-checkbox:checked + .toggle-button > * {
  left: 16px;
}


/* =====================================================
   Modal Effect
   ===================================================== */
.modal {
  opacity: 0;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: white;
  flex-direction: column;
  border-radius: .5rem;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: default;
  transition: .25s;
  z-index: 10;
}

.modal {
  width: 50vw;
  height: 50vh;
  max-height: 60%;
  overflow-y: auto;

  &.hide {
    display: none;
  }

  .close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .row {
    padding: 0;
  }

  .modal-content {
    display: none;
    flex-direction: column;
  }

  section {
    padding: 0 1rem 1rem 1rem;
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transition: opacity .4s;
}

@media screen and (max-width: 768px) {
  .modal {
    padding: 1rem;
    width: 90vw;
  }
}

/* Scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #a3a6a9;
}


@keyframes fadeInOpacity {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}


/* ============================================================
   Date Picker
   ============================================================ */
.ui-datepicker {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 14px rgba(0, 0, 0, .1);
  border-radius: .5rem;
}

.ui-icon {
  display: none;
}

.ui-datepicker-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
}

.ui-datepicker .ui-datepicker-title {
  display: flex;
}

.ui-datepicker .ui-datepicker-title select {
  min-width: 80px;
  margin: 0 .25rem;
  appearance: auto;
  padding-right: 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: .2rem;
  transition: background-color .2s;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
  left: 1rem;
}

.ui-datepicker .ui-datepicker-prev::before {
  content: "<";
  line-height: 10px;
}

.ui-datepicker .ui-datepicker-next {
  right: 1rem;
}

.ui-datepicker .ui-datepicker-next::before {
  content: ">";
  line-height: 10px;
}

.ui-state-default {
  border: 0 !important;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
}

.ui-state-active {
  background-color: $primary-color;
  color: white !important;
}

.ui-state-hover {
  background-color: $secondary-color;
  color: white !important;
}


/* =====================================================
   Dark mode
   ===================================================== */
.dark-mode,
.dark-mode main {
  background-color: $dark-primary-color !important;
  color: white;
}

.dark-mode a {
  color: white
}

.dark-mode .button-cancel {
  background-color: $dark-tertiary-color;
  color: white;
}

.dark-mode p, .dark-mode label {
  color: #d0d3dc !important;
}

.dark-mode input, .dark-mode select {
  background-color: #484c5a !important;
  color: white;
}

.dark-mode .selectbox::before {
  border: solid $secondary-color;
  border-width: 0 1px 1px 0;
}

.dark-mode header {
  border-color: $dark-secondary-color !important;
}

.dark-mode aside {
  background-color: $dark-primary-color !important;
}

.dark-mode .menu {
  background-color: $dark-primary-color;
  color: white;
  border-color: #393b40;
}

.dark-mode .menu a {
  color: #ccc;
  transition: .2s color;
}

.dark-mode .content {
  background: $dark-secondary-color !important
}

.dark-mode .content .title h1 {
}

.dark-mode svg {
  fill: rgba(255, 255, 255, .3)
}

.dark-mode .table .row {
  background-color: $dark-secondary-color;
}

.dark-mode .table .row span {
  color: #d0d3dc;
}

.dark-mode input[type="radio"] + label:before {
  background-color: #373a46;
  border-color: $dark-primary-color;
}

.dark-mode input[type="radio"]:hover + label:before, .dark-mode input[type="radio"]:checked + label:before {
  box-shadow: inset 0 0 0 2px $dark-primary-color;
}
