@import "common";

body {
  overflow: hidden;
}

option {
  color: #333;
}

button {
  font: 14px/1 'Nanumsquare'
}

.container {
  background-size: 200%;
  background: rgb(49, 59, 75);
  transition: 600ms ease;
}

input[type="time"],
.selectbox select {
  height: 34px;
}

.row {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  align-items: center;
  padding: .4rem .8rem;
  background-color: white;
  margin-bottom: .5rem;
  border-radius: .5rem;
  text-transform: capitalize;
  position: relative;

  &.row-type-1 input {
    width: 100% !important;
  }

  &.row-type-2 {

    .column:first-of-type {
      flex: 0 0 320px;

      input {
        width: 180px
      }
    }

    .column:last-of-type {
      flex: 1 1 auto;

      input {
        width: 100%
      }
    }
  }

  &.row-type-3 {
    .column {
      flex: 1 1 33.333% !important;
    }
  }

  &.row-type-4 {
    .column {
      flex: 1 1 25% !important;

      .input-select {
        flex-wrap: nowrap;
      }
    }
  }

  &.row-date {

    .column {
      &:first-of-type {
        flex: 0 0 420px
      }
    }

    .selectbox {
      flex: 0 0 80px;
    }
  }

  .input-title {
    flex: 0 0 120px;
    position: relative;

    &.required::before {
      content: "\002A";
      color: orangered;
      position: absolute;
      left: -.6rem;
      font-size: 1.2rem
    }
  }

  input[type="text"] {
    min-width: 80px;
    width: 180px;

    & + * {
      margin-left: .5rem;
    }

  }

  .selectbox + .selectbox {
    margin-left: .5rem;
  }

  .column {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    &:first-of-type {
      flex: 1 1 auto;

      .input-title {
        flex: 0 0 120px !important;
        margin-right: 0;
      }
    }

    &:not(:first-of-type) {
      .input-title {
        //max-width: 130px;
      }
    }

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    .input-title {
      flex: 0 0 auto !important;
      margin-right: .5rem;
    }
  }
}

.table {
  .row {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  span {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    border-radius: 50%;
  }

  .btn-edit,
  .btn-plus,
  .btn-more {
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    transition: background-color .2s;

    &:hover {
      background-color: #EEE;

      svg {
        fill: $primary-color;
      }
    }

    svg {
      fill: #566d80;
    }
  }
}


aside {
  flex-basis: 220px;
  display: flex;
  align-items: center;
  background: rgb(49, 59, 75);

  button {
    font-family: 'Poppins', sans-serif;
  }

  .btn-login {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: .3rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, .7);
    border: 1px solid rgba(255, 255, 255, .3);
    transition: color .2s;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .btn-admin {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    transition: background-color .2s;

    &:hover,
    &.active {
      background-color: white;
      color: #333;
    }

    svg {
      fill: $primary-color;
      margin-right: .2rem;
    }

  }

  header {
    min-height: 145px;
    flex-direction: column;

    .logo {
      display: flex;
      justify-content: center;
      font-weight: bold;
      margin: 1.5rem auto 0;
      font-size: 1.2rem;
      background: url("../images/logo_multi.png") no-repeat center;
      background-size: contain;
      width: 4rem;
      height: 4rem;
    }

    .id {
      color: #EEE;
      line-height: 1;
    }
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    small {
      color: #a5ccdc;
      padding: .3rem .8rem;
      font-family: 'NanumSquare', sans-serif;
      font-size: 13px;
    }

    ul {
      margin-bottom: 2rem;
    }

    li {
      display: flex;
      flex: 1 1 auto;
      width: 100%;
    }

    a {
      position: relative;
      color: rgba(255, 255, 255, .6);
      display: flex;
      align-items: center;
      width: 100%;
      padding: .3rem;
      transition: background-color .2s;

      &:hover,
      &.active {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, .1);

        > *:first-child {
          fill: $primary-color !important;
        }
      }

      > *:first-child {
        fill: #aaacbf;
        padding: .5rem;
        box-sizing: content-box;
        border-radius: .3rem;
        transition: .2s all;
      }

      > *:last-child {
        position: absolute;
        right: .5rem;
        fill: rgba(255, 255, 255, .8);
        margin-right: .2rem;
      }
    }
  }
}

main {
  flex-direction: column;
  background: #edf1f9;
  border-radius: 1rem 0 0 1rem;

  header {
    padding: 1.3rem 1rem 1rem;

    h3 {
      line-height: 36px;

      small {
        border: 1px solid #ddd;
        padding: .3rem .6rem;
        border-radius: .3rem;
        margin-left: .5rem;
      }
    }
  }
}

.sub-menu {
  flex: 1 1 auto;
  text-align: center;
  background: white;
  padding: 0 .15rem;
  border-radius: .3rem;

  li {
    flex: 1 1 auto;
    margin: .3rem .15rem;
    padding: .5rem;
    justify-content: center;
    border-radius: .2rem;
    transition: background-color .2s;
    cursor: pointer;
    user-select: none;

    &:hover,
    &.active {
      background-color: $primary-color;
      color: white;
    }
  }
}

section {
  opacity: 0;
  padding: 0 1rem 1rem 1rem;
  flex: 1 1 auto;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  animation: fadeInOpacity .4s forwards;
  transition: display .2s;
}

.count {
  flex: 1 1 50%;
  border-radius: .3rem;
  padding: .5rem .5rem .5rem 1rem;
  margin: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: background-color .2s;

  &-current {
    background-color: rgba(49, 59, 75, .3);
  }

  &-all {
    background-color: rgba(49, 59, 75, .9);
  }

  h1 {
    color: white;
    min-width: 2rem;
    height: 2rem;
    padding: 0 .5rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  small {
    color: white;
  }
}

.chart-container {
  /*height: 30vh;
  max-height: 250px;*/
  background-color: white;
  flex: 1 1 auto;
  display: flex;
  border-radius: .3rem;
  margin: .25rem;

  .chart {
    flex: 1;
    position: relative;
    border-radius: .3rem;

    [dir="ltr"] {
      width: 100% !important;
      height: 100% !important;
    }
  }
}


/* ============================================================
   Main
   ============================================================ */
main {
  &[class*="dashboard"] {


    .row {
      background-color: transparent;
      padding: 0;
      align-items: normal;
      margin: 0 -.5rem;

      &:nth-of-type(1) {
        flex: 0 0 auto
      }

      &:nth-of-type(2) {
      }
    }
  }

  &[class*="list"] {

  }

  &[class*="add"],
  &[class*="edit"] {
    header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .row {
      .btn-plus {
        padding: 0;
        background: transparent;
        position: absolute;
        right: 1rem;
        transition: background-color .2s;

        &:hover {
          background-color: #EEE
        }

        svg {
          fill: slategray;
        }
      }
    }

    .input-title {
      flex: 0 0 120px;
      color: slategray;
      word-break: keep-all;
    }

    input[type="text"],
    input[type="time"] {
      border: 1px solid #EEE
    }

    input[type="time"] {
      min-width: 142px;
    }

    .input-select {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: -.5rem;
    }

    input[type="radio"] + label,
    .select-checkbox input[type="checkbox"] + label {
      min-width: 36px;
      display: flex;
      justify-content: center;
      margin-right: .5rem;
      margin-bottom: .5rem;
      border-radius: .3rem;
      background-color: #F3F6F9;
      padding: .3rem .6rem;
      cursor: pointer;
      transition: background-color .2s;

      &::before {
        content: none;
      }
    }

    input[type="radio"] + label:hover,
    input[type="radio"]:checked + label,
    .select-checkbox input[type="checkbox"] + label:hover,
    .select-checkbox input[type="checkbox"]:checked + label {
      background-color: #437ef1 !important;
      color: white;
      user-select: none;
    }

    .select-checkbox input {
      position: absolute;
      opacity: 0;
    }
  }

  header {
    svg {
      fill: white
    }
  }
}


/* ============================================================
   Section
   ============================================================ */
section {
  > .buttons {
    display: flex;
    flex-direction: row-reverse;

    margin: 0 -.2rem;

    button {
      margin: 0 .2rem;
      background-color: $primary-color;

      svg {
        fill: white
      }
    }
  }
}


/* ============================================================
   Patient List
   ============================================================ */
.filters {
  flex: 0 0 auto;
  display: flex;
  background-color: #4870ac;
  border-radius: .3rem;
  padding: .5rem;
  margin: 0 1rem 1rem 1rem;

  ul {
    flex: 1 1 auto;
    display: flex;
    margin: 0 .25rem 0 -.25rem;

    li {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      margin: 0 .25rem;
      color: white;

      &.filter-age {
        div {
          display: flex;

          input {
            width: 50px
          }
        }
      }

      label {
        font-size: 12px;
        color: #ddd;
      }

      input[type="text"] {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        color: white;
        max-width: 100px;
      }


      .input-select {
        display: flex;
      }

      .selectbox {

        &::before {
          border-color: white
        }

        select {
          background-color: transparent;
          color: white;
          border: 1px solid rgba(255, 255, 255, .2);
          height: 34px;
        }
      }
    }
  }

  button {
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .2);

    svg {
      fill: white
    }
  }
}

.patient_list {

  .table .rows {
    position: relative;
    margin-bottom: .5rem;

    .sub-row {
      display: none;
    }

    &.active {
      flex-direction: column;
      border: 1px solid coral;
      border-radius: .5rem;

      .row {
        margin-bottom: 0;
        border-radius: .5rem .5rem 0 0;
      }

      .sub-row {
        display: flex;
        border-top: 1px solid #EEE;
        border-radius: 0;

        &:last-of-type {
          border-radius: 0 0 .5rem .5rem;
        }
      }
    }
  }

  .table .row {
    user-select: none;

    /*기저질환*/
    &.th li:nth-of-type(10) {
      display: flex;
      flex-direction: column;

      ul {
        justify-content: center;
      }
    }

    li {
      /*체크박스*/
      &:nth-of-type(1) {
        width: 5%;
        flex: 0 0 auto
      }

      /*확진번호*/
      &:nth-of-type(2) {
        width: 5%;
      }

      /*성별*/
      &:nth-of-type(3) {
        width: 5%;
      }

      /*나이*/
      &:nth-of-type(4) {
        width: 5%;
      }

      /*확진일자*/
      &:nth-of-type(5) {
        width: 8%;
      }

      /*병원*/
      &:nth-of-type(6) {
        width: 8%;
      }

      /*중증도*/
      &:nth-of-type(7) {
        width: 5%;
      }

      /*중증도 측정일*/
      &:nth-of-type(8) {
        width: 8%;
      }

      /*입원일수*/
      &:nth-of-type(9) {
        width: 5%;
      }

      /*기저질환*/
      &:nth-of-type(10) {
        width: 20%;

        li, span {
          flex: 0 0 30px;
          margin: 0
        }
      }

      /*상태*/
      &:nth-of-type(11) {
        width: 8%;
      }

      /*퇴원(사망)일자*/
      &:nth-of-type(12) {
        width: 8%;
      }

      /*버튼들*/
      &:nth-of-type(13) {
        width: 10%;
        margin: 0 -.25rem;
        padding: 0 .25rem;
      }
    }
  }
}

/* ============================================================
   Patient Add
   ============================================================ */


/* ============================================================
   Clinical Trial Patient Dashboard
   ============================================================ */
.clinical-trial-patient-dashboard {

  section {
    display: flex;
  }

  select {
    min-width: 100px;
  }
}


/* ============================================================
   Clinical Trial Patient List
   ============================================================ */
.clinical-trials-list {
  margin-bottom: 1rem;
  padding-bottom: 0;

  .table {
    margin-bottom: 0;

    .row {

      li {
        &.col-check svg {
          fill: orangered
        }

        /*확진번호*/
        &:nth-of-type(1) {
          width: 10%;
        }

        /*환자ID*/
        &:nth-of-type(2) {
          width: 10%;
        }

        /*성별*/
        &:nth-of-type(3) {
          width: 5%;
        }

        /*나이*/
        &:nth-of-type(4) {
          width: 5%;
        }

        /*확진일자*/
        &:nth-of-type(5) {
          width: 15%;
        }

        /*병원*/
        &:nth-of-type(6) {
          width: 15%;
        }

        /*중증도*/
        &:nth-of-type(7) {
          width: 5%;
        }

        /*중증도 측정일*/
        &:nth-of-type(8) {
          width: 15%;
        }

        /*참여연구*/
        &:nth-of-type(9) {
          width: 10%;
        }

        /*상세정보 입력여부*/
        &:nth-of-type(10) {
          width: 10%;
        }
      }
    }
  }

  .modal {
    max-width: 500px;
    max-height: 200px;

    & > button {
      align-self: flex-end
    }
  }
}


.clinical-trials-detail {
  display: none;
  flex: 0 0 30vh;
  align-items: flex-start;
  color: white;
  margin-bottom: 1rem;
  padding-bottom: 0;

  &-menu {
    display: flex;
    margin: 0 -.1rem;

    a {
      border-radius: .3rem .3rem 0 0;
      color: white;
      padding: .5rem 2rem;
      margin: 0 .1rem;
      background-color: #C3C6C9;
      transition: background-color .2s;
    }
  }

  .table {
    display: none;
    background-color: darksalmon;
    padding: 1rem .5rem;
    transition: .2s;
    margin-bottom: 0;

    &:target {
      display: flex;
      flex-direction: column;
      border-radius: 0 .5rem .5rem .5rem;
    }

    .row {
      background-color: rgba(255, 255, 255, .3);
    }
  }
}

.clinical-trials-detail-menu a:hover,
.clinical-trials-detail-menu .active-patient-menu {
  background-color: darksalmon;
}

.btn-file {
  position: relative;
  background-color: $secondary-color;
  margin-right: .5rem;

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    font-size: 20px;
    cursor: pointer;
    height: 36px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}


/* ============================================================
   Clinical Trial Patient Add
   ============================================================ */
.clinical-trial-patient-add {

  section {
    h3 {
      margin: 3rem 0 .5rem;
      color: slategray;
    }
  }

  .row {

    input[type="text"] {
      max-width: 160px;
    }

    .column {
      flex: 0 0 50%;

      &.col-confirmation-number {

      }

      .input-title {
        flex: 0 0 120px !important;
        margin-right: 0;
        position: relative;
      }
    }
  }

  .modal {
    max-width: 450px;

    .search {
      display: flex;
      margin: 1rem 0;

      input {
        flex: 1 1 auto;
        margin-right: .5rem
      }
    }

    .row li {
      flex: 1 1 25%
    }
  }
}


/* ============================================================
   Clinical Trial Research List
   ============================================================ */
.clinical-trial-research-list {

  .table {
    li:nth-of-type(1) {
      width: auto;
    }

    li:nth-of-type(2) {
      width: auto;
    }

    li:nth-of-type(3) {
      width: auto;
    }

    li:nth-of-type(4) {
      width: auto;
    }

    li:nth-of-type(5) {
      width: auto;
    }

    li:nth-of-type(6) {
      width: auto;
    }

    li:nth-of-type(7) {
      width: 5%;
      flex: 0 0 auto;
    }
  }
}


/* ============================================================
   Clinical Trial Research Add
   ============================================================ */
.clinical-trial-research-add {

  section {
    h3 {
      margin: 3rem 0 .5rem;
      color: slategray;
    }
  }

  .row {

    &.row-standard {

      .column:first-of-type {
        flex: 0 0 30%
      }

      input {
        width: 5rem;
      }
    }

    select {
      font-family: "Poppins", sans-serif;
    }
  }
}


/* ============================================================
   Login
   ============================================================ */
.login {
  background: transparent;

  &-container {
    align-self: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, .1);
    padding: 2rem;
    border-radius: 1rem;
    width: 30vw;
    max-width: 320px;
    z-index: 10;
    transition: .4s;
  }

  .logo {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 1rem auto 2rem;
    font-size: 1.2rem;
    background: url("../images/logo_wh.png") no-repeat center;
    background-size: contain;
    width: 6rem;
    height: 6rem;
    opacity: .7;
  }

  h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: .5em;
    text-align: center;
    text-transform: uppercase;
  }

  div {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  svg {
    fill: #d8e0eb;
    position: absolute;
    left: .9rem;
    bottom: 2rem;
    z-index: 10;
  }

  label {
    display: none;
  }

  input {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-indent: 1.3rem;
    padding: .7rem 1rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
  }

  button {
    padding: .7rem 1rem;
    border-radius: 50px;
    width: 100%;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    transition: background-color .2s;

    &:hover {
      background-color: #12d7da;
    }
  }
}


/* ============================================================
   Admin
   ============================================================ */

.admin {
  color: white !important;
  background: rgb(65, 75, 91);

  &[class*="list"] {
    .buttons button {
      background-color: transparent;
      border: 1px solid rgba(255,255,255,.3);
    }
  }

  header {
    flex-direction: row;
    align-items: center;
  }

  input[type="text"] {
    border: 0 !important;
  }

  a {
    color: rgba(255, 255, 255, .7);
    transition: color .2s;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .btn-cancel {
    background-color: rgba(255, 255, 255, .1);
  }

  svg {
    fill: white;
  }

  .row {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);

    &.th li,
    .input-title {
      color: #CCC
    }

  }

  label {
    background-color: rgba(255, 255, 255, .1) !important;
  }

  input {
    background-color: rgba(255, 255, 255, .1);
    color: white;
  }

  .input-title,
  label {
    color: rgba(255, 255, 255, .7);
  }
}

