@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-SemiBold.ttf');
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.ttf');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font: 14px/1.5 'Nunito';
    color: #131619;
    background-color: #edeef5;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #31517b
}

h1, h2, h3, h4, h5, p {
    margin: 0
}

small {
    font-family: Comfortaa;
    line-height: 1.2;
}

.text-coral {
    color: coral;
    font-weight: bold;
    font-style: normal;
}

.active {
    opacity: 1 !important;
    display: flex !important;
}

input, select {
    border: 0;
    padding: .3rem .6rem;
    font: 15px/1.5 'NanumSquare';
    background-color: #ebedf3;
    outline: 0;
    box-sizing: border-box;
    border-radius: .2rem;
}

input:focus, select:focus, button:focus {
    outline: 0;
}

label {
    font-family: Mukta;
    flex: 0 0 20% !important;
    color: slategray;
}

button {
    font-family: Comfortaa;
    border: 0;
    background: #083b7d;
    color: white;
    border-radius: .2rem;
    padding: .5rem 1rem;
    cursor: pointer;
    position: relative;
}

textarea {
    background-color: white;
    border-color: #CCC;
    border-radius: .5rem;
    padding: .5rem;
    resize: none;
}
header {
    flex: 0 0 auto;
    background-color: #2869bd;
    color: white;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

header a {
    display: flex;
    color: white;
    padding: .7rem 1rem;
}

header ul {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dark-light {
    width: 22px;
    height: 22px;
    color: #c1c7cd;
    flex-shrink: 0;
    padding: .7rem 1rem
}

.dark-light svg {
    width: 100%;
    fill: transparent;
    transition: 0.5s;
}

.dark-mode .dark-light svg {
    fill: #ffce45;
    stroke: #ffce45;
}


/* Progress */

.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 70px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    background-color: lightsteelblue;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap svg.progress-circle path {
    stroke: white;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap svg {
    fill: white;
    align-self: center;
}


/* Pagination */

.pagination {
    margin: 2rem auto

}

.pagination ul {
    display: flex;
}

.pagination li {
    margin: 0 1rem;
    color: slategray;
    display: flex;
    align-items: center;
}

.pagination .active {
    color: #36299f;
    font-weight: bold;
}

.pagination svg {
    fill: slategray;
}


/* Checkbox */
.checkbox {
    position: relative;
}

.checkbox input {
    position: absolute;
    opacity: 0
}

.checkbox label {
    color: #AAA;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: .2s color;
}

.checkbox input:checked + label {
    color: #36299f;
}

.checkbox label:before {
    border-radius: 2px;
    transition: .2s;
    content: '';
    margin-right: 3px;
    width: 15px;
    height: 15px;
    background-color: #EEE;
}

.checkbox input:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #36299f, 4px 0 0 #36299f, 4px -2px 0 #36299f, 4px -4px 0 #36299f, 4px -6px 0 #36299f, 4px -8px 0 #36299f;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}


/* Radio Button */
input[type="radio"] {
    position: absolute;
    opacity: 0
}

input[type="radio"] + label {
    cursor: pointer;
    margin-right: .5rem
}

input[type="radio"] + label:before {
    content: '';
    background: #F3F6F9;
    border-radius: 100%;
    border: 1px solid #E3E6E9;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    margin-right: 3px;
    vertical-align: middle;
    transition: all .2s ease
}

input[type="radio"]:hover + label:before, input[type="radio"]:checked + label:before {
    border-color: #2869bd !important;
    background-color: #2869bd !important;
    box-shadow: inset 0 0 0 2px #DDD;
}

input[type="radio"]:focus + label:before {
    outline: none;
}

input[type="radio"]:disabled + label {
    cursor: auto
}

input[type="radio"]:disabled:checked + label:before {
    box-shadow: inset 0 0 0 2px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4
}

input[type="radio"]:disabled + label:before {
    border-color: #b4b4b4;
    background: #f4f4f4
}

input[type="radio"] + label:empty:before {
    margin-right: 0
}


/* Tooltip */
.tooltip {
    display: flex;
    justify-content: center;
    font-style: normal;
}
.tooltip svg {
    fill: lightsteelblue;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Scrollbar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #eee;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a3a6a9;
}


@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}