section {
    margin-bottom: 1rem;
}

header .language {
    display: flex;
}

header .language small {
    color: #8396af;
    background-color: transparent;
    padding: .5rem;
    position: relative;
    line-height: 1;
}

header .language small:first-of-type::before {
    content: '';
    display: block;
    border-right: 1px solid #839ab7;
    height: 9px;
    width: 1px;
    position: absolute;
    right: 0;

}

header .language small.active {
    color: white;
}

footer {
    border-top: 1px solid #e1e3e6;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem
}

footer .copyright {
    font-size: 12px;
    color: slategray;
}

footer .partners {
    display: flex;
    align-items: center;
}

footer .partners li {
    border-radius: .5rem;
    background-size: 86%;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 40px;
    margin-left: .5rem;
}

footer .partners li.logo-mfds {
    background-image: url("../images/logo/mfds.png");
}

footer .partners li.logo-kit {
    background-image: url("../images/logo/kit.png");
}

footer .partners li.logo-cmi {
    background-image: url("../images/logo/cmi.png");
    width: 45px;
    background-size: contain;
}

footer .partners.dark li.logo-mfds {
    background-image: url("../images/logo/mfds_wh.png");
}

footer .partners.dark li.logo-kit {
    background-image: url("../images/logo/kit_wh.png");
}

footer .partners.dark li.logo-cmi {
    background-image: url("../images/logo/cmi_wh.png");
    width: 45px;
    background-size: contain;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

#button-add-drug {
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
}

#button-add-drug svg {
    fill: #2869bd;
}


.navigation {
    flex: 0 0 auto;
    background-color: white;
    color: #333;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #EEE;
}

.navigation li {
    font-family: Raleway;
    display: flex;
    align-items: center;
}

.navigation a {
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    font-size: 15px;
}

.navigation li a::before,
.navigation li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    transform: translateX(0%);
    width: 0;
    height: 3px;
    left: 50%;
    background-color: lightcoral;
    transition: .2s;
}

.navigation li.active a::before,
.navigation li:hover a::before {
    transform: translateX(-50%);
    width: 50%;
}

.logo {
    font-family: Comfortaa;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.content {
    opacity: 0;
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    animation: fadeIn .4s forwards;
    transition: .2s border-color;
}

.content .title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .title h1 {
    font: normal 1.7rem/1 Raleway;
    margin-bottom: .2rem;
    color: #31517b
}

.content .title p {
    color: #5e5c67;
    font-size: 16px;
}

.wrapper {
    flex: 1 1 auto;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

section[class*="tab-content"] {
    opacity: 0;
    display: none;
    animation: fadeIn .4s forwards;
}

.information-container {
    margin-bottom: 1rem;
    display: flex;
    background: #F3F6F9;
    padding: 1rem 1rem 1rem 0;
    border-radius: .5rem;
    align-items: center;
}

.information-container svg {
    fill: lightsteelblue;
    flex: 0 0 3rem;
    display: flex;
}

.information-container small {
    color: #8fa2bb;
    font-size: 11px;
}


.table {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.table .row {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: .7rem;
    background: white;
    border-radius: .5rem;
    margin: .5rem 0;
    animation: fadeIn .8s forwards;
}

.table .row span {
    color: #5e5c67;
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1 1 11.111%
}

.table .th {
    border-radius: 0;
    background: transparent !important;
    padding-bottom: 0;
}

.table .th span {
    font: 12px/1.5 'Comfortaa';
    color: slategray !important;
}


.dashboard .wrapper {
    max-width: none;
}

.dashboard .charts {
    flex: 1 1 50%;
    display: flex;
    margin: .5rem 0 .5rem 5rem;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    transition: .2s background-color;
}

.dashboard .charts:hover .total-counter {
    user-select: none;
    background-color: #2869bd;
}

.dashboard .total-counter {
    background-color: #e6ebf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    margin-left: -5rem;
    flex: 0 0 10rem;
    height: 10rem;
    transition: .2s background-color;
}

.dashboard .total-counter span {
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, .7);
}

.dashboard .total-counter h1 {
    font-size: 2rem;
    color: cornflowerblue;
    line-height: 1;
}

.dashboard .charts:hover span {
    color: rgba(255, 255, 255, .7);
}

.dashboard .charts:hover h1 {
    color: white;
}

.dashboard .total-counter + div {
    flex: 0 0 250px;
    padding: 0 2rem
}

.dashboard .chart {
    flex: 1 1 100%
}

.chart-container {
    flex: 1 1 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chart-container h3 {
    color: slategray;
    margin-bottom: .5rem;
}

.search {
    display: flex;
    position: relative;
    flex: 0 0 45%;
}

.search svg {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    fill: rgba(0, 0, 0, .2);;
}

.search input {
    flex: 1 1 auto;
    border-radius: 5rem;
    text-indent: 2rem;
    padding: .5rem 1rem;
    background-color: white;
}

.tutorial {
    font-family: "Nunito", "NanumSquare";
    background-color: white;
    padding: 2rem;
}

.tutorial .title {
    display: block;
}

.tutorial .title h3 {
    font-size: 17px;
    color: #2b59bf;
}

.tutorial .title p {
    display: none;
}

.tutorial .title li {
    color: slategray;
}

.tutorial ul:not(:last-of-type) {
    margin-bottom: 2rem;
}

.tutorial li {
    text-indent: -.6rem;
}

.tutorial li::before {
    content: '\b7';
    margin-right: .2rem;
}

.standard_ecg .table span:nth-of-type(2),
.bedside_ecg .table span:nth-of-type(2) {
    flex: 1 1 25%;
    color: #2869bd;
    text-transform: capitalize;
}

aside {
    flex: 0 0 18%;
    min-width: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #EEE;
    transition: .2s background-color, border-color;
}

aside .content {
    flex-direction: column;
}

aside .tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

aside .tab span {
    flex: 1 1 auto;
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E2E4E9;
    color: slategray;
    cursor: pointer;
}

aside .tab .active {
    box-sizing: border-box;
    background-color: white;
    color: #31517b;
    font-weight: bold;
}


aside .button-container {
    display: flex;
    padding: 1rem;
}

aside .button-container button {
    margin: 0 .5rem;
    padding: .3rem .6rem;
}

.button-refresh {
    flex: 0 0 30%;
    background-color: #E3E6E9;
    fill: slategray;
}

.button-search {
    flex: 1 1 auto;
    background-color: lightcoral;
    fill: white;
}

aside .filter-container {
    padding: 1rem;
    flex: 1 1 auto;
    overflow-y: auto;
}

aside .input-drug-container {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

aside .input-drug-container input {
    background-color: #F3F6F9;
    width: 100%;
}

aside .input-drug-container svg {
    fill: #C3C6C9;
    margin-left: .5rem;
    cursor: pointer;
}

aside fieldset {
    border: 1px solid #EEE;
    border-radius: .5rem;
    margin-bottom: 1rem;
    display: flex;
}

aside legend {
    text-align: center;
    padding: 0 1rem;
    color: slategray;
    text-transform: capitalize;
}

aside fieldset ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

aside fieldset li {
    padding: .5rem;
    flex: 1 1 50%;
    box-sizing: border-box;
}


.preclinical .flex-container {
    display: flex;
    margin: 0 -2rem
}

.preclinical .row span {
    flex: 1 1 20%;
}

.preclinical .experiment {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
}

.preclinical fieldset {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid #EEE;
    border-radius: .5rem;
    min-width: 64px;
    margin-bottom: 0;
}

.preclinical legend {
    color: slategray;
    text-align: center;
}

.preclinical .experiment .row {
    padding: 0 0 .3rem
}

.preclinical .experiment .th {
    padding: 0;
    margin-bottom: 0;
}

.preclinical .experiment .row input {
    margin: 0 .3rem;
    width: 100%
}

.preclinical .experiment .row span:first-of-type {
    flex: 0 0 30px;
    justify-content: flex-end;
}

.preclinical .experiment .result {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preclinical .btn-result {
    display: none;
}

.preclinical .btn-result.show {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;
    width: 50%;
    overflow: hidden;
    background: lightcoral;
    transition-duration: 0.2s;
}



.preclinical .experiment .result ul.show {
    display: flex;
    align-items: center;
    justify-content: center;
}

.preclinical .experiment .result ul {
    display: none;
}

.preclinical .button:hover {
    opacity: .9;
}

.preclinical .refresh {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    padding: .3rem;
    border-radius: .3rem;
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.preclinical .refresh svg {
    fill: white;
}

@-webkit-keyframes upload {
    0% {
        width: 150px;
        height: 60px;
        color: #819aa9;
        background-color: transparent;
    }
    7% {
        width: 155px;
        height: 55px;
        font-size: 1.25em;
        color: #ffffff;
        background-color: #819aa9;
    }
    10% {
        width: 150px;
        height: 60px;
        font-size: 1.2em;
        color: transparent;
    }
    20% {
        width: 60px;
        height: 60px;
        font-size: 0em;
        background-color: transparent;
    }
    90% {
        width: 60px;
        height: 60px;
        color: transparent;
        font-size: 0em;
        background-color: transparent;
    }
    100% {
        width: 150px;
        height: 60px;
        color: transparent;
        font-size: 0em;
        background-color: #819aa9;
    }
}

@keyframes upload {
    0% {
        width: 150px;
        height: 60px;
        color: #819aa9;
        background-color: transparent;
    }
    7% {
        width: 155px;
        height: 55px;
        font-size: 1.25em;
        color: #ffffff;
        background-color: #819aa9;
    }
    10% {
        width: 150px;
        height: 60px;
        font-size: 1.2em;
        color: transparent;
    }
    20% {
        width: 60px;
        height: 60px;
        font-size: 0em;
        background-color: transparent;
    }
    90% {
        width: 60px;
        height: 60px;
        color: transparent;
        font-size: 0em;
        background-color: transparent;
    }
    100% {
        width: 150px;
        height: 60px;
        color: transparent;
        font-size: 0em;
        background-color: #819aa9;
    }
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}

@keyframes animate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}

@-webkit-keyframes animate2 {
    0% {
        box-shadow: inset #f36d66 0 0 0 4px;
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    100% {
        box-shadow: inset #f36d66 0 0 0 4px;
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

@keyframes animate2 {
    0% {
        box-shadow: inset #f36d66 0 0 0 4px;
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    100% {
        box-shadow: inset #f36d66 0 0 0 4px;
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

@-webkit-keyframes done {
    0% {
        top: -20px;
    }
    100% {
        top: 0px;
    }
}

@keyframes done {
    0% {
        top: -20px;
    }
    100% {
        top: 0px;
    }
}


.dark-mode {
    background-color: #27292d;
    color: white;
}

.dark-mode p, .dark-mode label {
    color: #d0d3dc !important;
}

.dark-mode .navigation {
    background-color: #27292d;
    color: white;
    border-color: #393b40;
}

.dark-mode .navigation a {
    color: #ccc;
    transition: .2s color;
}

.dark-mode input, .dark-mode select {
    background-color: #373a46 !important;
    color: white;
}

.dark-mode header {
    background-color: #083b7d;
}

.dark-mode .navigation li.active a, .dark-mode .navigation li a:hover {
    color: white;
}

.dark-mode aside {
    background-color: #27292d;
    border-right-color: #373a46;

}

.dark-mode aside legend {
    color: #c3c6c9
}

.dark-mode aside .tab span {
    background-color: #373a46;
    color: #b0b5bf;
    transition: .2s color;
}

.dark-mode aside .tab .active {
    background-color: transparent;
    color: white;
}

.dark-mode aside .tab span:hover {
    color: white;
}

.dark-mode aside fieldset {
    border-color: #393b40;
}

.dark-mode .information-container {
    background: #50566f;
    color: #c1c7cd;
}

.dark-mode .progress-wrap {
    background-color: #4d84ca;
}

.dark-mode .button-refresh {
    background-color: #34404c;
    fill: white;
}

.dark-mode .content {
    background-color: #27292d;
}

.dark-mode .content .title h1 {
    color: #4d84ca;
}

.dark-mode .search svg {
    fill: rgba(255, 255, 255, .3)
}

.dark-mode .chart-container h3 {
    color: white;
}

.dark-mode .table .row {
    background-color: #373a46;
}

.dark-mode .table .row span {
    color: #d0d3dc !important;
}

.dark-mode .chart-container > div {
    background-color: #373a46;
    border-radius: 1rem;
}

.dark-mode input[type="radio"] + label:before {
    background-color: #373a46;
    border-color: #27292d;
}

.dark-mode input[type="radio"]:hover + label:before, .dark-mode input[type="radio"]:checked + label:before {
    box-shadow: inset 0 0 0 2px #27292d;
}

.dark-mode .dashboard .charts {
    background-color: #373a46;
}

.dark-mode .dashboard .total-counter {
    background-color: #454752;
}

.dark-mode .dashboard .total-counter span {
    color: rgba(255, 255, 255, .5);
}


.dark-mode .chart text {
    stroke: transparent;
    fill: #ffffff;
}

.dark-mode .google-visualization-tooltip {
    color: black;
}


.dark-mode .tutorial {
    background-color: #373a46;
}

.dark-mode .tutorial h3 {
    color: white;
}

.dark-mode .tutorial li {
    color: #d0d3dc;
}

.dark-mode .preclinical li {
    color: #d0d3dc;
}

.dark-mode .preclinical .experiment {
    background-color: #444752;
}

.dark-mode .preclinical .experiment fieldset {
    border-color: #777a86;
}

.dark-mode .preclinical legend {
    color: #F3F6F9;
}

.dark-mode .preclinical .experiment .row {
    background-color: transparent;
}

.dark-mode .preclinical input {

}

.dark-mode footer {
    border-color: rgba(255,255,255, .1);
}

.dark-mode footer .partners li {
    opacity: .7;
}
@media screen and (max-width: 860px) {
    .dashboard .total-counter {
        display: none;
    }

    .dashboard .charts {
        margin: .5rem
    }
}
