{% extends 'base.html' %}

{% block title %}<title>로그인</title>{% endblock %}

{% block content %}
    <section id="login">
        <h2 class="title">Login</h2>
        <div class="login-container">
            <form action="." method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-container">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input name="{{ field.html_name }}" id="{{ field.id_for_lable }}" class="form-control"
                               type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
                    </div>
                {% endfor %}
                <div class="form-actions">
                    <button class="btn btn-primary btn-large" type="submit">로그인하기</button>
                </div>
            </form>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock content %}