body {font-size:13px; background:#DDD; overflow:hidden}
input, textarea, button {font-size:13px}
button {margin-right:0}
.select > *:hover, .select > *:focus, .select > *.focus {transition:.3s; background:rgba(255,204,51,.1); cursor:pointer; position:relative}
.select > *:hover:before, .select > *:focus, .select > *.focus:before {content:''; display:inline-block; position:absolute; top:0; left:0; right:0; bottom:0; width:3px; height:100%; border-left:3px solid #FFCC33}
.select > .row:first-child:hover, .select > .row:first-child:focus {background:transparent; cursor:default}
.select > .row:first-child:hover:before, .select > .row:first-child:focus:before {border:0}

i.fa-calendar-alt {position:absolute; right:1.3rem; margin-top:13px; color:#AAA}

/* Login */
.login {z-index:3; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:800px; max-height:450px; height:70%; margin:0 auto; display:flex; box-shadow:0px 10px 20px -10px rgba(0,0,0,0.1)}
.login .title {width:50%; background:#FFCC33 url(../images/bg_01.jpg) top right -2rem no-repeat ;  text-align:center}
.login .title h1 {color:white; margin-top:15rem}
.login h2 {margin-bottom:2rem}
.login input {padding-bottom:.5rem}
.login input[type="text"], .login input[type="password"] {width:100%; }
.login input[type="text"]::-ms-clear, .login input[type="password"]::-ms-reveal {display:none;}
.login button {padding:.7rem; width:100%; font-size:15px; background:#ffcc33; margin:1rem auto}

.login-container {width:50%; padding:5em; background:white}
.login-container div {display:flex; margin-bottom:1rem; border-bottom: 1px solid #CCC;}
.login-container div:last-of-type {border-bottom:0; font-size:13px}
.login-container input[type="checkbox"] + label:before {margin-right:5px}
.login__check {position:absolute; top:11rem; left:12rem; width:9rem; height:2rem; background:#fff; -webkit-transform-origin:0 100%; transform-origin:0 100%; -webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
.login__check:before {content:""; position:absolute; left:0; bottom:100%; width:2rem; height:4rem; background:#fff; box-shadow:inset -0.2rem -2rem 2rem rgba(0, 0, 0, 0.2);}
.login svg {display:inline-block;  width:1.2rem;  height:1.2rem;  overflow:visible}
.login .svg-icon {cursor:pointer}
.login .svg-icon path {stroke:#DDD;  fill:none;  stroke-width: ;}
.wrong::placeholder {color:red}

/* .login__icon.name path {stroke-dasharray:73.50196075439453;  stroke-dashoffset:73.50196075439453;
  -webkit-animation:animatePath 2s 0.5s forwards; animation:animatePath 2s 0.5s forwards}
.login__icon.pass path {stroke-dasharray:92.10662841796875; stroke-dashoffset:92.10662841796875;
  -webkit-animation: animatePath 2s 0.5s forwards; animation:animatePath 2s 0.5s forwards} */



/* Header */
.aside-angel + .content .header .menu span {background:#333 !important}
.header-tab {padding-left:.5rem; border-bottom:1px solid #EBEBEB; height:40px; line-height:40px}
.header-tab ul {margin-left:2rem; display:flex; background:#DDD;  border-radius:0 .5rem 0 0 }
.header-tab li {padding:0 .5rem; flex:1 1 auto; border-left:1px solid #EBEBEB; background:#CCC; max-width:10rem; cursor:pointer}
.header-tab li:last-child {margin-right:0; border-radius:0 .5rem 0 0 }
.header-tab li.active {background:white !important}
.header-tab li:hover {background:white; transition:.2s}
.header-tab .bling {background:#FFCC33; 
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: fade 6s infinite alternate;
  -moz-animation: fade 6s infinite alternate;
  -o-animation: fade 6s infinite alternate;
  animation: fade 6s infinite alternate;}
.header-tab .close {width:14px; height:40px; float:right}
.header-tab .close:before, .header-tab .close:after {background:#AAA}
.header-chat {padding:.5rem; height:50px; border-bottom:1px solid #EBEBEB; position:relative}
.header-chat .btn-container {float:right; line-height:normal}
.header-chat h4 span {font:14px/18px "Nanum Gothic"}
.header-chat h4 span:before {content:'('}
.header-chat h4 span:after {content:')'}
.header-chat h4 {display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}

.menu-angel {cursor: pointer; float:left; margin-top:11px; border:1px solid #333; border-width:0 0 2px 2px; width:15px; height:15px; transform: rotate(-135deg); transition:.3s ease-in-out;}
.menu-angel.open {margin-left:6px; transform: rotate(45deg);}



/* Admin  */
.menu-01 span {background:white}
.admin {overflow:auto; background:#EEE}
.admin .header {background:#333; border-bottom:0}
.admin .header ul {right:5rem; top:0; color:white;}
/* .admin .header .selectbox {color:#333; z-index:10} */
.admin .aside {overflow:hidden; padding:0; border-right:0; z-index:1}
.admin .aside .hide {display:none}
.admin .aside h5 {display:block; background:#FFCC33; line-height:50px; color:white; font-size:15px}
.admin .aside .accordion-menu li {line-height:50px}
.admin .content {border-bottom:0}
.admin .container {width:100%; height:100%; min-height:400px; padding:.7rem; display:flex}
.admin .container .scrollable {height:calc(100% - 56px)}
.admin .container > .panel:first-child {flex:0 0 auto;  min-width:300px;}
.admin .container > .panel.resizable:first-child {width:300px; max-width:60%; display:flex; flex-direction:column}
.admin .container > .panel.resizable:first-child .table {margin:.5rem}
.admin .container > .panel:last-child {flex:1  1 auto; width:100%}
.splitter {flex: 0 0 auto; width: 8px; background:url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #EBEBEB;
  min-height:200px; opacity:.3; cursor:col-resize;}
 .admin .msg-view i {display:none}
 .admin .msg-unit.left > div {margin-left:0}
 .admin .msg-input button {width:50px}
 .admin .msg-input button:first-child {z-index:999}
 .admin .msg-input textarea {padding-left:3rem}
.panel {background:white; border-radius:.5rem; min-width:500px; min-height:500px; display:flex; flex-direction:column}
.panel h3, .panel h5, .panel h6 {float:left; line-height:36px;}
.panel .btn-container {float:right}

.admin .title {height:55px; padding:.7rem; padding-left:1rem; border-bottom:1px solid #EBEBEB; position:relative}
.admin .title .selectbox {float:right; width:164px}
.admin .title input[type="search"] {float:right; margin:5px; border:1px solid #EBEBEB; padding-right:1.5rem}
.admin .title input[type="search"] + i {position:absolute; right:1.5rem; top:25px; cursor:pointer; transition:.3s}
.admin .title input[type="search"] + i:hover, .admin .title input[type="search"] + i:focus {color:#FFCC33}
.admin .sub-title {height:42px; padding:0;}
.admin .sub-title h5:before, .admin .sub-title h6:before {content:"\00B7"; margin-right:3px}
.admin .sub-title h6 {line-height:30px; font-weight:bold}
.admin .sub-title input {float:left; margin:0 1rem 0 .5rem; border:1px solid #CCC}
.admin .sub-title button.main {background:#777; color:white}
.admin .table ~ .sub-title {margin-top:2rem}

.panel ul {display:block; overflow:auto; user-select: none;}
.panel ul li {cursor:pointer; padding-right:1rem; line-height:45px; border-bottom:1px solid #F3F3F3; text-indent:1rem; white-space:nowrap; text-overflow:ellipsis; overflow: hidden;}
.panel ul li i {margin-right:3px}

.content .wrapper {overflow-y:auto}
.msg-help.slider {width:700px !important}
.msg-help.slider button {display:none}


/* �솕硫� �궡 紐⑸줉 Table */
.table {border:1px solid #EBEBEB;}
.table input[type="text"], .table input[type="password"], .table input[type="search"], .table input[type="file"] {min-width:200px; width:100%; margin:5px; border:1px solid #EBEBEB}
.table input[type="radio"] + label, .table .th ~ input[type="checkbox"] + label  {margin-left:5px; line-height:40px}
.table textarea {width:100%; resize:none; border:1px solid #EBEBEB; padding:.3rem .5rem; margin:.3rem}
.table .selectbox {width:210px; line-height:28px !important}
.table .selectbox[rsmdata="advisor_status"] {width:100%}
.table .selectbox-options {top:31px; margin-left:.3rem; width:calc(100% - .3rem)}
.table .row > .selectbox {margin-top:6px}
.table .row {display:flex; line-height:36px; border-bottom:1px solid #EBEBEB}
.table .row:last-child {border-bottom:0}
.table .row > div {position:relative; display:inline-block; line-height:40px; padding:0 .3rem; min-width:200px}
.table .row.no_data {text-align:center}
.table .row.no_data > div {width:100%}
.table .th {background:#F3F3F3; border-left:1px solid #EBEBEB; text-align:center !important; font-weight:700}
.table .td {padding:0 !important;}
.table .td i.fa-calendar-alt {top:0; right:1rem}
.row .th:first-child {border-left:0}
.row .empty {line-height:100px; width:100%; text-align:center}
.table + .btn-container {margin-top:1rem; text-align:right; display:block; float:none}
.table-type-1 .th {min-width:100px !important;  border-right:1px solid #EBEBEB;}
.table-type-1 .th + div {width:210px}
.table-type-1 .checkbox + label {margin-right:.5rem}
.table-type-1 .checkbox + label:before {margin-right:5px}
.table-type-1 #checkbox-cs + label ~ * {display:none}
.table-type-1 #checkbox-cs:checked + label {margin-right:80px}
.table-type-1 #checkbox-cs:checked + label ~ * {display:inline-block}

.table-2 .row > div {width:50%; text-align:center}
.table-checkbox .row > div {width:32%; text-align:center}
.table-checkbox .row > div:nth-child(1) {width:4%; min-width:40px}
.table-assign .row > * {width:25% !important; text-align:center}
.table-user .row > div {width:50%; text-align:center; min-width:auto}
.table-report .row {display:block; overflow:hidden}
.table-report .row div {line-height:18px; padding:.7rem 0; float:left; width:6.25%; min-width:auto; text-align:center}
.table-report .row .th {line-height:18px; padding:.5rem 0; word-break:keep-all; border-top:1px solid #EBEBEB}
.table-report .row .th:nth-child(1) {line-height:53px; border:0 none}
.table-report .row .th:nth-child(2) {width:75%; border:0 none; border-left:1px solid #EBEBEB}
.table-report .row .th:nth-child(3) {width:18.75%; border:0 none; border-left:1px solid #EBEBEB}
.table-report-raw .row {display:block; overflow:hidden}
.table-report-raw .row div {float:left; width:10%; line-height:18px; padding:.7rem 0; min-width:auto; text-align:center}
.table-report-raw .row .th {line-height:18px; padding:.5rem 0; word-break:keep-all; border-top:1px solid #EBEBEB}
.table-report-raw .row .th:nth-child(1), .table-report-raw .row .th:nth-child(2) {line-height:53px; border:0 none}
.table-report-raw .row .th:nth-child(3), .table-report-raw .row .th:nth-child(4) {width:40%; border:0 none; border-left:1px solid #EBEBEB}
.table-report-history .row > div {width:11.11%; text-align:center; min-width:auto}
.table-hours .row {text-align:center}
.table-hours .row > div:nth-child(1) {width:10%}
.table-hours .row > div:nth-child(2), .table-hours .row > div:nth-child(3) {width:45%}
.table-hours .selectbox {width:60px; text-align:left; min-width:auto; height:auto}
.table-hours .selectbox-options {margin-left:0 !important}
.table-hours .toggle-btn {margin-left:1rem}
.table-timeout .row > *:nth-child(1) {width:10%; text-align:center}
.table-timeout .row > *:nth-child(2) {width:10%; min-width:auto}
.table-timeout .row > *:nth-child(3) {width:80%}


/* �긽�떞�솕硫� */
.aside-angel.hide {opacity:0; z-index:-999; margin-left:-320px}
.aside-angel {width:320px; border-right:1px solid #EBEBEB !important; border-radius: .5rem 0 0 .5rem;}
.aside-angel .progress-bar {padding:0 .5rem; height:40px; line-height:40px; border-bottom:1px solid #EBEBEB; margin-bottom:0}
.aside-angel .progress-bar li {width:25%; float:left}
.aside-angel .progress-bar span {font-weight:700}
.aside-angel .scrollable {font-size:12px}
.aside-angel .scrollable li {padding:.5rem .7rem; position:relative; text-align:left; overflow:hidden; border-bottom:1px solid #EBEBEB}
.aside-angel .scrollable li:last-of-type {border-bottom:1px solid #EBEBEB}
.aside-angel .scrollable li div {float:left}
.aside-angel .name {font-weight:700; width: 100%;}
.aside-angel .name i {padding:5px; border-radius:50%; background:#EEE; color:#999}
.aside-angel .date {position:absolute; right:.7rem; bottom:.5rem; font-size:11px; color:#999}
.aside-angel .date i {margin-right:3px; vertical-align:baseline}
.aside-angel .progress {font-size:11px; color:white; text-align:center; border-radius:.5rem; line-height:16px; width:50px; position:absolute; right:.3rem; top:.3rem}
.aside-angel .progress.todo {background:#55a8fd}
.aside-angel .progress.ing {background:#FFCC33}
.aside-angel .progress.done {background:#CCC}
.aside-angel .progress.hold, button.hold {background:#ff526f; color:white; text-align:center; text-transform:uppercase}
.aside-angel .comment {width:80%; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.container .container {padding:0}
.aside-angel + .content {background:white; min-width:800px; border-radius: 0 .5rem .5rem 0;}
.aside-angel.hide + .content {border-radius:.5rem}
.aside-angel.hide + .content .msg-input {border-radius:0 0 0 .5rem}
.msg-input .fa-info-circle { color:#C9C9C9}
.table.help-01 .row div:last-child {text-align:left}
.table.help-01 .row > div:nth-child(1) {width:10%}
.table.help-01 .row > div:nth-child(2) {width:90%}
.table.help-02 .row > div:nth-child(1) {width:45%}
.table.help-02 .row > div:nth-child(2) {width:10%; min-width:auto}
.table.help-02 .row > .th:after {content:'' !important}
.table.help-02 .row > div:nth-child(2):after {content:'%'}
.table.help-02 .row > div:nth-child(3) {width:45%}


.aside-angel + .content .content {border-right:1px solid #EBEBEB; min-width:400px}

/* �긽�떞�솕硫� - 怨좉컼�젙蹂닿�由� */
.customer-info {width:50%; min-width:450px; max-width:600px; padding:.5rem}
.customer-info .tab-content {padding:.5rem}
.customer-info .table .row > div {min-width:auto}
.customer-info .tab-content button {display:block; margin:.5rem auto 0}
.customer-info .table input[type="text"] {min-width:auto; width:100%}
.customer-info #tab-01 .row:nth-child(2) .selectbox {width:182px}

.customer-info #tab-03 .row {text-align:center}
.customer-info #tab-03 .row > div:nth-child(1)  {width:10% !important}
.customer-info #tab-03 .row > div:nth-child(2)  {width:30% !important; text-overflow:ellipsis; overflow:hidden; white-space: nowrap}
.customer-info #tab-03 .row > div:nth-child(3)  {width:10% !important}
.customer-info #tab-03 .row > div:nth-child(4)  {width:15% !important}
.customer-info #tab-03 .row > div:nth-child(5)  {width:35% !important}'
.customer-info #tab-03 .row:first-child:hover, .customer-info #tab-03 .row:first-child:focus, .customer-info #tab-03 .row:first-child.focus {transition:none; background:inherit; cursor:default !important}
.customer-info #tab-03 .row:first-child:hover:before, .customer-info #tab-03 .row:first-child:focus, .customer-info #tab-03 .row:first-child.focus:before {border:0 none}

[data-tab="tab-01"] .row:nth-child(2) .selectbox {width:182px !important}
[data-tab="tab-02"] .row:nth-child(3) .selectbox:nth-child(2) {width:28%}
[data-tab="tab-02"] .row:nth-child(3) .selectbox:nth-child(3) {width:28%; padding-right:0}
[data-tab="tab-02"] .row:nth-child(3) .selectbox:nth-child(4) {width:44%; padding-right:0}
[data-tab="tab-02"] .row:nth-child(3) .selectbox:nth-child(2), [data-tab="tab-02"] .row:nth-child(3) .selectbox:nth-child(3) {padding-right:0}
[data-tab="tab-03"]  .row {text-align:center}
[data-tab="tab-03"] .row > div:nth-child(1)  {width:10% !important}
[data-tab="tab-03"] .row > div:nth-child(2)  {width:30% !important; text-overflow:ellipsis; overflow:hidden; white-space: nowrap}
[data-tab="tab-03"] .row > div:nth-child(3)  {width:10% !important}
[data-tab="tab-03"] .row > div:nth-child(4)  {width:15% !important}
[data-tab="tab-03"] .row > div:nth-child(5)  {width:35% !important}'
[data-tab="tab-03"] .row:first-child:hover, [data-tab="tab-03"] .row:first-child:focus, [data-tab="tab-03"] .row:first-child.focus {transition:none; background:inherit; cursor:default !important}
[data-tab="tab-03"] .row:first-child:hover:before, [data-tab="tab-03"] .row:first-child:focus, [data-tab="tab-03"] .row:first-child.focus:before {border:0 none}


.angel-main .msg-unit.left > i {display:none}
.angel-main .msg-unit.left > div {margin-left:0}
.angel-main .msg-help.type-1 {position:absolute; right:0}

/* �긽�떞�솕硫� 紐⑤땲�꽣留� */
.aside-angel.monitoring .progress-bar li {width:22%}
.aside-angel.monitoring .progress-bar li:last-child {width:36px; float:right; cursor:pointer}
.aside-angel.monitoring .progress-bar li:last-child i {transition:.3s; color:#AAA; border-radius:50%; width:24px; height:24px; line-height:24px; background:#F3F3F3}
.aside-angel.monitoring .progress-bar li:last-child i:hover, .aside-angel.monitoring .progress-bar li:last-child i:focus {color:#333}
.table-monitoring {margin:.5rem; padding:0}
.table-monitoring .row > div {min-width:auto; width:25%}



/* Header - �긽�떞�썝 �긽�깭 �넗湲�踰꾪듉 */
.toggle-btn {width:50px; height:25px; vertical-align:middle; border-radius:50px; display:inline-block; position:relative;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==") no-repeat 28px center #999;
  background-size:12px; cursor:pointer;
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
}
.toggle-btn.active {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC") no-repeat 10px center #2ecc71;
  background-size:12px;
}
.toggle-btn.active .round-btn {
  left: 27px;
}
.toggle-btn .round-btn {width:19px; height:19px; background-color:#fff; border-radius:50%; display:inline-block;
  position:absolute; left:4px; top:50%; transform:translateY(-50%);
  -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}
.toggle-btn .cb-value {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* Datepicker */
.hasDatepicker {max-width:200px}
.ui-datepicker {display:none; border:1px solid #FFCC33; box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); background:white; padding:1rem; width:300px}
.ui-datepicker-prev, .ui-datepicker-next {position:absolute;  background:#EEE; padding:6px 1rem; overflow:hidden}
.ui-datepicker-prev {left:1rem}
.ui-datepicker-next {right:1rem}
.ui-datepicker-title {display:flex; justify-content:center;}
.ui-datepicker-title > select {margin:0 .2rem 1rem}
.ui-datepicker-calendar td {line-height:30px; text-align:center}
.ui-state-default:hover {background:#FFCC33; display:inline-block; border-radius:50px; width:30px; height:30px; transition:.2s}

.datepicker--cell.-range-to- {border: 1px solid rgba(255, 204, 51, 0.5) !important; background-color:rgba(255, 204, 51, 0.1) !important}
.datepicker--cell.-selected- {background:#FFCC33 !important}
.datepicker--cell.-in-range-, .datepicker--cell.-current-.-in-range-.-focus- {background-color:rgba(255, 204, 51, 0.1) !important}
.datepicker--cell.-current- {color:#FFCC33 !important}
.datepicker--cell.-selected-.-current- {color:white !important}
.ui-datepicker-year {padding-top:5px}

/* Center Container */
.center-container {position:absolute; top:0; left:0; top:50%; left:50%; transform:translate(-50%, -50%); background:white; padding:5rem; text-align:center; z-index:10}
.center-container > * {margin-bottom:1rem}
.center-container > button {margin-bottom:0}



/* Input File */
.form-input--file {line-height:30px; margin:5px; position:relative; overflow:hidden; padding-right:120px; text-overflow: ellipsis; white-space: nowrap; min-width:200px; border:1px solid #EBEBEB}
.form-input-file {opacity: 0; visibility: hidden; position: absolute; top: 0; left: 0}
.form-input--file-text {padding-left:.5rem}
.form-input--file-button {cursor:pointer; display:inline-block; position:absolute; top:0; right:-1px; bottom:0; padding: 0 1rem; background-color:#d9d9d9;}
.form-input--file-button:hover {background-color:#ccc}


/* Manager 硫붿씤�솕硫� */
.datepicker-here, .manager_main .title #datepicker {margin-left:.3rem; border-radius:2px; height:32px; line-height:32px; border:1px solid #DDD; display:inline-block}
.datepicker-here + i, .manager_main .title #datepicker + i {margin-top:10px; margin-right:4.5rem}
.manager_main .panel .wrapper {height: calc(100% - 56px); display:flex; font-size:14px; justify-content:space-between}
.check_list {}
.check_list li {flex:1 1 auto; margin:.5rem; display:flex; justify-content:space-between; align-items:center; min-width:200px}
.check_list li div:first-child {}
.check_list li div:last-child {font-weight:bold}

.check_list_01 {width:28%; max-width:400px; min-width:300px; display:flex !important; flex-direction:column}
.check_list_01:first-child li:first-child {background:#FFCC33}
.check_list_01 li {text-indent:0 !important; background:#EEE; border-radius:1rem; border:0 !important; padding:1.5rem 2rem !important;}
.check_list_01 li h2 {font-family:'Nanum Gothic'; font-weight:normal}
.check_list_01 li div:last-child {font-size:2rem}

.check_list_02 li {padding:0 !important;}
.check_list_02 li div {position:relative}
.check_list_02 li div:nth-child(1):before {content:''; position:absolute; top:50%; transform:translateY(-50%); left:0; border-radius:50%; width:10px; height:10px; background:#FFCC33}

.check_list_02 li:nth-child(1) div:nth-child(1):before {background:#FFCC33}
.check_list_02 li:nth-child(2) div:nth-child(1):before {background:#2c58ff}
.check_list_02 li:nth-child(3) div:nth-child(1):before {background:#ff5267}



/* Admin - Login BG */
.bg-bubbles {position:absolute; top:0; left:0; width:100%;  height:100%; z-index:1;}
.bg-bubbles li {position:absolute; list-style:none; display:block; width:40px; height:40px; background-color:rgba(255, 255, 255, 0.15);
  bottom: -160px; -webkit-animation:square 25s infinite; animation:square 25s infinite; transition-timing-function: linear}
.bg-bubbles li:nth-child(1) {left:10%}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {left:25%; -webkit-animation-delay:4s;  animation-delay:4s}
.bg-bubbles li:nth-child(4) {left:40%; width:60px; height:60px; -webkit-animation-duration:22s; animation-duration:22s; background-color:rgba(255, 255, 255, 0.25)}
.bg-bubbles li:nth-child(5) {left:70%}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@-webkit-keyframes animatePath { to {stroke-dashoffset: 0} }
@keyframes animatePath { to {stroke-dashoffset: 0} }



@-moz-keyframes fade {
  40% {opacity: 0.8;}
  42% {opacity: 0.1;}
  43% {opacity: 0.8;}
  45% {opacity: 0.1;}
  46% {opacity: 0.8;}
}
@-webkit-keyframes fade {
  40% {opacity: 0.8;}
  42% {opacity: 0.1;}
  43% {opacity: 0.8;}
  45% {opacity: 0.1;}
  46% {opacity: 0.8;}
}
@-o-keyframes fade {
  40% {opacity: 0.8;}
  41% {opacity: 0.1;}
  43% {opacity: 0.8;}
  45% {opacity: 0.1;}
  46% {opacity: 0.8;}
}
@keyframes fade {
  40% {opacity: 0.8;}
  42% {opacity: 0.1;}
  43% {opacity: 0.8;}
  45% {opacity: 0.1;}
  46% {opacity: 0.8;}
}
