[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/test-quicklink/venv/bin/uwsgi -i /srv/test-quicklink/.config/uwsgi/uwsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target