{% extends 'base.html' %}
{% block content %}
<div class="content-login">
    <div class="login-container">
        <div class="icon">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
        </div>
        <h3>Sign in</h3>
        <form method="post">
            {% csrf_token %}
            <div class="input-container">
                <label for="id_username">username</label>
                <input type="text" name="username" autofocus="" required="" id="id_username">
            </div>
            <div class="input-container">
                <label for="id_password">password</label>
                <input type="password" name="password" required="" id="id_password">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
</div>
{% endblock content %}