.jms-grid .dx-datagrid-header-panel {
  display: none !important;
}

.jms-grid .dx-scrollable-scroll {  
  height: 20px !important;  
}  
.jms-grid .dx-scrollbar-hoverable {  
  height: 20px !important;  
}  
