@charset "UTF-8";
@import "reset.css";
@import "all.min.css";

html, body {user-select: none; -ms-user-select:none; -webkit-user-select:none; overflow-x:hidden; width:100vw; height:100vh}
body, input, textarea, select {
    font-size:14px;
    letter-spacing: -.07rem;
    line-height:1.5;
    font-family:"Nanum Gothic", "나눔고딕", "맑은고딕","Malgun Gothic", sans-serif;
    color:#333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {word-break:break-word; display:flex; -webkit-tap-highlight-color:rgba(0,0,0,0)}
a {cursor:pointer}
div[onclick] {cursor:pointer}
input {outline:none; text-indent:.5rem;}
input[readonly]:focus, textarea[readonly]:focus {outline:0 none !important}
input, select  {background:transparent; padding:0 .5rem; border-radius:3px; border:1px solid #DDD;}
textarea {resize:none; -webkit-appearance:none; width:100%; outline:1px solid #EEE; padding:.5rem; box-shadow:0 0 0 0}
textarea:focus {outline:1px solid #AAA !important}
input::-webkit-search-cancel-button {position:relative; right:2rem}
input:read-only:-webkit-search-cancel-button {-webkit-appearance:none !important}

input[type="date"] {padding-right:2rem;
  background:url(../images/ico/calendar.png) center right .5rem no-repeat !important; background-size:14px 14px !important}

select {border:1px solid #EEE; }
h1 {font-size:18px}
h2 {font-size:17px; font-weight:normal}
h3 {font-size:16px}
h4 {font-size:15px;}
h5 {font-size:15px; font-weight:normal; padding:.2rem 0}
h6 {font-size:14px; font-weight:normal}
sub {text-align:center; display:block; margin-bottom:.5rem;}

.red {color:#FF4500}
.bg-gray {background-color:#F6F7F8 !important}
.bg-gray-2 {background-color:#EEE !important}
.w50p {width:50%}
.wrapper {padding:1rem !important}
.hidden {visibility:hidden}

i {font-style:normal !important}
i.fa-question-circle {color:#b2c5e7; margin-left:5px; font-size:20px; vertical-align:middle}
i.fa-angle-left, i.fa-angle-right {margin:0 .5rem}
.home {background:url(../images/ico/home.png) center center no-repeat; width:20px; height:100%; background-size: contain}
.settings {background:url(../images/ico/cog.png) center center no-repeat; width:20px; height:100%; background-size: contain}

.close {position: relative; display:inline-block; width:25px; height:25px; overflow:hidden; cursor:pointer}
.close::before, .close::after { content:''; position:absolute; height:2px; width:100%; top:50%; left:0; margin-top:-1px; background:#000}
.close::before {-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg)}
.close::after {-webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg)}
.mask {position:fixed; top:0; left:0; width:100vw; height:100vh; background:rgba(0, 0, 0, 0.6); z-index:30; visibility:hidden; opacity:0; transition:0.25s}
.active {visibility:visible !important; opacity:1 !important}

.status, .progress {box-sizing:border-box;  font-weight:normal; text-indent:0; line-height:20px; font-size:12px; text-align:center; min-width:50px; padding:0 .5rem; position:absolute; border-radius:3px; color:white}
.progress {color:#003EB1; border:1px solid #B2C5E7; max-width:4rem}

.status.new {background:#591DA9}
.status.open, .status.skyblue {background:#71BBEE}
.status.ing, .status.orange {background:#F28D21}
.status.stop, .status.gray {background:#A3A6A9}
.status.done, .status.green {background:#2FBA35}
.status.rejected, .status.red {background:#FF4500}

.green-border {color:#2FBA35; border:1px solid #2FBA35; border-radius:3px; text-align:center}


.filter {border-radius:3px; border:1px solid #E3E6E9; background:url(../images/ico/filter.png) center right .5rem no-repeat; background-size:14px 14px; margin-left:.5rem; padding:.5rem; padding-right:2rem}


/* Buttons */
button {width:100%; height:45px; font-size:16px; background:#e5ebf7; color:#003EB1; border:1px solid #B2C5E7; border-radius:3px}
button.main {border:0; background:#003EB1; color:white}
button.main-border {border:1px solid #B2C5E7; color:#003Eb1; background:transparent}
button[disabled] {background:transparent; border:1px solid #ccc; color:#B3B6B9}
button.cancel, button.cancel-inside, button.cancel2 {background:#B3B6B9; border:0; color:white}



/* Aside Menu */
aside {opacity:0; pointer-events:none; visibility:hidden; right:-80vw; position:fixed; z-index:50; background:#E6E7E8; user-select: none; flex:0 0 auto; overflow-y:auto; border-right: 1px solid #EBEBEB; width:80vw; height:100%; text-align:center; transition:.2s ease-in-out}
aside.active {box-shadow: 0 0 0 9999px rgba(0, 0, 0, .6); opacity:1; pointer-events:auto; visibility:visible; right:0; z-index: 100; }
aside header {border-bottom:1px solid #DDD}
aside header li {float:left; margin-left:1rem}
aside section {padding:1rem}
aside .accordion-menu li {border-bottom:1px solid #DDD;}
aside .accordion-menu li.open {border:0 none}
aside .accordion-menu li.menu-title {text-align:left; font-weight:bold; line-height:30px; border-bottom:1px solid #B3B6B9}
aside .accordion-menu li:focus {background:#EEE}
aside .accordion-menu li:last-child {border-bottom:0 none}
aside .accordion-menu:first-child {margin-bottom:2rem}
aside .submenuItems {background:#D3D6D9; border-radius:.5rem}



/* Main Content */
.main-content {flex:1 1 auto; display:flex; flex-direction:column;  width:100%; position:relative}
.main-content h1 {text-align:center}


/* header */
.main-content > header, aside header {flex:0 0 auto; box-sizing:border-box; position:relative; height:3rem; line-height:3rem; padding:0 1rem; display:flex; justify-content:space-between; border-bottom:1px solid #EEE}
header .back {float:left; margin-top:1rem; border:1px solid #333; border-width:0 0 2px 2px; width:15px; height:15px; transform: rotate(45deg); transition:.3s ease-in-out;}
header h3 {color:#003EB1; font-family:'돋움'; font-weight:normal}



/* Sub Menu */
.sub-menu {flex:0 0 auto; display:flex;}
.sub-menu li {font-size:15px; flex:1 1 auto; height:3rem; line-height:3rem; text-align:center; border-bottom :3px solid #EEE}
.sub-menu li.current {font-weight:bold; border-bottom-color:#003EB1}



/* Content */
.content {padding:1rem 0; flex:1 1 auto; overflow-y:auto}
.content section {margin-bottom:2rem}
.content article {overflow:hidden; background:#EEE; padding:1rem; border-radius:1rem}
.content h4 {text-align:center; margin-bottom:.5rem}
.content h4 + h5 {display:block; text-align:center; margin-bottom:1rem}
.content article ul:first-of-type {font-weight:bold; margin-right:2rem}
.content article ul:first-of-type li:before {content:'- '}
.content article ul {float:left; margin:0 .3rem}
.content article li {line-height:2.5}
.content > button {margin:1rem auto; display:block; width:calc(100% - 2rem); height:60px; line-height:60px}
.content + button {flex:0 0 auto; border-radius:0; height:60px}
.content.wrapper + button {width:100%}
.tab-menu + .content {background:white}
.year {margin-bottom:1rem}
.year h1 {display:flex; justify-content:center; align-items:center}
.no-data {background:#EEE; text-align:center; padding:2rem 0}
.count li {display:flex; justify-content:space-between; align-items:center; padding:0 1rem}
.count span {font-size:11px; background:#EEE; color:#999;  display:flex; justify-content:center; align-items:center; border-radius:50px; height:20px; width:30px;}
.count .current span {background:#CCD8EF; color:#003EB1}


/* Content List Title */
.list-title {margin-bottom:.5rem; display:flex; justify-content:space-between; align-items:center}
.list-title select {border:0 none}
.list-title > div {display:flex}
.content-title {margin-bottom:1rem; text-align:center}
.content-title-2 {background:#EEE; color:#777; text-indent:1rem}

.list li {position:relative; display:flex; align-items:center; padding:.5rem; border-bottom:1px solid #EEE}
.list li:first-child {border-top:1px solid #EEE}
.list li span {text-align:center; width:25%; display:inline-block}
.list li button {font-size:13px; height:40px; width:50%; margin:0 auto}
.list li .num {width:10%}
.list li .progress {width:20%; position: relative; margin-right:1rem; color:#333; font-size:14px; border:0}
.list li .name {text-align:left}
.list .th {color: #878889;}
.list i.fa-minus-circle {position:absolute; right:1rem; top:50%; transform:translateY(-50%)}

.right-container {text-align:right; margin:1rem 1rem .5rem}
.right-container i {vertical-align:middle; margin-left:.3rem}

/* Content Search */
.search {background:#F6F7F8; margin-bottom:.5rem !important; display:flex; position:relative; border-radius:3px}
.search select, .search input {height:45px; border:0 none;}
.search .selectbox {margin-right:.5rem}
.search input[type="search"] {flex:1 1 auto;}
.search input[type="search"]::-webkit-search-cancel-button {height:16px; width:16px; display:block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    /* setup all the background tweaks for our custom icon */
   background-repeat: no-repeat; background-size: 16px}
.search i {position:absolute; right:1rem; top:50%; transform:translateY(-50%)}
.search .selectbox:after {border-color: #F6F7F8 transparent transparent transparent;}



/* Detail Buttons */
.detail-buttons {display:grid; grid-template-columns: repeat(3, 1fr); grid-gap:.5rem}
.detail-buttons li {background:white; padding:1rem; text-align:center; border-radius:.5rem}
.detail-buttons li:nth-child(3), .detail-buttons li:nth-child(6), .detail-buttons li:nth-child(9) {margin-right:0}
.detail-buttons li.incomplete {background:#E5EBF7}
.detail-buttons button {width:100%}



/* Form */
.form {background:white; padding:1rem; border-radius:.5rem}
.form small {display:block; text-align:right; margin-bottom:.5rem}



/* Container */
.container {background:White; padding:1rem; border-top:1px solid #EEE; border-bottom:1px solid #EEE}
.container > h5 {text-align:center; margin-bottom:1rem}



/* Flex Container */
.flex-container {background:white; border-radius:.5rem; padding:1rem}
.flex-container h5 {text-align:center; margin-bottom:1rem}
.flex-container li {line-height:30px; display:flex; justify-content:space-between}



/* Input */
.input-container {display:flex; align-items:center; padding:1rem 0; border-bottom:1px solid #EEE; position:relative}
.input-container h6, .input-container label {width:40%}
.input-container input {width:60%; border:0 none; padding:0; background:transparent}
.input-container input:focus {outline:0}
.input-container select {border:0 none}
.input-container.active {border-bottom:1px solid #B3B6B9}
.input-container label {color:#878889; flex:0 0 auto; display:inline-block; text-align:left; min-width:20%; max-width:30%}

.input-container label ~ * {text-indent:0; flex:1 1 auto}
.input-container label + .selectbox select {border:0; padding-left:0}
.input-container label + input[type="date"] {text-indent:0 !important}
.input-container label ~ input[type="time"] {width:auto} 
.input-container input[type="date"] {flex:1 1 auto}
.input-container input[type="date"] + span {min-width:2.5rem}
.input-container .status, .input-container .progress {position:relative}

.input-container + textarea  {margin-top:.5rem}
.required:before {content:'*'; margin-right:3px; position:absolute; left:-.6rem; color:orangered}
.required i.fa-calendar-alt:nth-of-type(1) {left:1rem}

/* Content List Item */
.list-item {margin-bottom:.5rem; border:1px solid #E3E6E9; border-radius:.5rem; padding:.7rem; position:relative}
.list-item strong {display:block; border-bottom:1px solid #EBEBEB; padding-bottom:.5rem; margin-bottom:.5rem}
.list-item .status, .list-item .progress {right:.5rem; top:.5rem}
.list-item .status + .status {right:.5rem; top:2rem}
.list-item ul {overflow:hidden}
.list-item ul li {float:left; display:inline-block; font-size:13px; line-height:20px}
.list-item ul li:before {content:'- '}
.list-item ul li:nth-child(2) {margin-left:3rem}
.list-item.focus {background:#e5ebf7; border:1px solid #E5EBF7}
.list-item.focus strong {border-bottom: 1px solid #ccd8ef}
.list-item h4 {text-align:left}
.list-item h5 {color:#003EB1}


/* Hamburger Menu */
.menu {width:20px; height:20px; margin-top:1rem; position:relative; transition:.25s ease-in-out;}  
.menu span {display:block; position:absolute; height:2px; width:100%; background:#333; top:8px; transform:rotate(0deg); transition:.25s ease-in-out}
.menu span:nth-child(1) {top:0}
.menu span:nth-child(4) {top:16px}
.menu.open span:nth-child(1) {top: 16px; width:0%; left:50%}
.menu.open span:nth-child(2) {transform: rotate(45deg)}
.menu.open span:nth-child(3) {transform: rotate(-45deg)}
.menu.open span:nth-child(4) {top:16px; width:0%; left:50%} 



/* Accordion Menu */
.bg-gray .accordion-menu > li {background-color:white}
.wrapper .accordion-menu {border-radius:.5rem}
.wrapper .accordion-menu li:first-child {border-top:0 !important}
.wrapper .accordion-menu li:last-child {border-bottom:0 !important}
.accordion-menu.bg-gray-2 .submenuItems li {border-bottom:1px solid #EEE}
.accordion-menu a {display:flex; justify-content:space-between; width:100%; align-items:center}

.accordion-menu i.fa-chevron-down {margin-right:1rem; text-indent:0 !important}
.accordion-menu i.fa {color:#333; vertical-align:middle}
.accordion-menu button {width:50%; margin:0 auto; height:40px; font-size:13px}
.accordion-menu button:nth-of-type(2) {margin-left:1rem}
.accordion-menu li {text-align:left; line-height:3rem; position:relative}
.accordion-menu .dropdownlink {position:relative; display:flex; justify-content:space-between; align-items:center}
.accordion-menu .dropdownlink div span {margin-right:.5rem}
.accordion-menu .submenuItems {display:none; padding:0 .5rem}
.accordion-menu .status {width:50px; right:2.5rem; top:50%; margin-right:0 !important; transform:translateY(-50%)}
.accordion-menu .status + span {margin-right:5rem !important}
.accordion-menu .progress {width:50px; right:.5rem; top:.7rem}
.main-content .accordion-menu {margin-bottom:2rem}
.main-content .accordion-menu .dropdownlink > * {text-indent:0 !important}
.main-content .accordion-menu .dropdownlink > *:first-child {text-indent:1rem !important}
.main-content .accordion-menu .into {flex-direction:column}
.main-content .accordion-menu .into .dropdownlink {background:transparent !important; padding:1rem 0; border:1px solid #EEE;}
.main-content .accordion-menu .into .dropdownlink i {color:#AAA}
.main-content .accordion-menu .into .submenuItems {border:1px solid #EEE; border-top:0}

.main-content .accordion-menu > li {text-indent:1rem; border-top:1px solid #EEE; border-bottom:1px solid #EEE; margin-bottom:.3rem;}
.main-content .accordion-menu > li.open {border-top:1px solid #EEE;}
.main-content .accordion-menu li.open > .dropdownlink {color:#003EB1; transition:.25s; background:#FAFBFC; font-weight:bold; border-bottom:1px solid #EEE}
.main-content .accordion-menu li.open .dropdownlink .fa-chevron-down {text-indent:0 !important; transition:.2s; -webkit-transform:rotate(180deg); transform:rotate(180deg)}

.main-content .accordion-menu .submenuItems li {line-height:1rem; font-weight:normal; display:flex; border-bottom:1px solid #EEE; padding:1rem .5rem}
.main-content .accordion-menu .submenuItems li:last-child {border-bottom:0 none}
.main-content .accordion-menu .submenuItems li div {display:flex; justify-content:space-between; margin-top:.5rem}
.main-content .accordion-menu .submenuItems li span {text-indent:0; display:inline-block; font-size:13px}
.main-content .accordion-menu .submenuItems li span:last-child {margin-right:1.5rem}
.main-content .accordion-menu .submenuItems li .status {top:1rem; right:.5rem; transform:unset}

.main-content .accordion-menu .list {display:block !important}
.main-content .accordion-menu .list .title {display:block !important; margin-bottom:.5rem}
.main-content .accordion-menu .list li {padding:.5rem !important}
.main-content .accordion-menu .list li:last-child {border-bottom:1px solid #EEE !important}
.main-content .accordion-menu .information li span:first-of-type {color:#838689; width:100px; display:inline-block}
.main-content .accordion-menu .information li span:last-of-type {flex:1 1 auto}
.main-content .accordion-menu .payment-status li span {font-weight:normal; text-align:center}
.main-content .accordion-menu .payment-status li span:nth-child(1) {width:10% !important}
.main-content .accordion-menu .payment-status li span:nth-child(2) {width:15% !important}
.main-content .accordion-menu .payment-status li span:nth-child(3) {width:20% !important}
.main-content .accordion-menu .payment-status li span:nth-child(4) {width:40% !important}
.main-content .accordion-menu .payment-status li span:nth-child(5) {width:15% !important}

.plural {border-bottom:0 !important; padding:.5rem 0 !important}
.plural:not(:last-of-type) {padding-bottom:0 !important}
.plural ul {border:1px solid #E7E8E9; width:100%; border-radius:.5rem}
.plural:first-child {font-weight:normal}

/* Tab Menu */
.tab-menu {flex:0 0 auto; display:flex; border:1px solid #E5EBF7; border-radius:3px; margin-bottom:1rem}
.tab-menu li {text-align:center; line-height:40px}
.tab-menu li.current {background:#E5EBF7; font-weight: bold}
.tab-content {display:none}
.tab-content.current {display:block}



/* Modal */
.modal-backdrop, .modal-backdrop2 {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.6); z-index:25; visibility:hidden; opacity:0; transition:0.25s}
.modal-backdrop2 {z-index:75}
.modal {opacity:0; pointer-events:none; visibility:hidden; position:fixed; top:50%; left:50%; width:calc(100% - 2rem); background:white; transform:translate(-50%, -50%); border-radius:.5rem; transition:.25s}
.modal.active {opacity:1; pointer-events:auto; visibility:visible; z-index:50; }
.modal-inside.active {z-index:100;}
.modal header {padding:1rem; border-bottom:1px solid #EEE}
.modal a:first-of-type {margin-right:1rem}
.modal a:hover, .modal a:focus {transition:.2s; color:#003EB1}
.modal h5 {text-align:center; margin-bottom:.5rem}
.modal select {width:100%}
.modal input {display:inline-block}
.modal .btn-container {display:flex; height:3rem}
.modal .btn-container button {flex:1 1 auto; height:auto}
.modal .btn-container button:first-child {border-radius:0 0 0 5px}
.modal .btn-container button:last-child {border-radius:0 0 5px 0}
.modal .btn-container button.cancel2 {border-radius:0 0 5px 5px}
.modal .content {max-height:50vh; overflow-y:auto; padding:1rem;}
.modal .input-container input {width:100%}
.modal li {display:flex; justify-content:space-between}
.modal li p:before {content:'- '}
.modal .container {background:#F6F7F8; border:0; border-radius:.5rem}
.container-border-title {background:#F6F7F8; margin-bottom:.5rem; border:0; border-radius:.5rem}
.container-border-title strong {display:block; text-indent:1rem; border-bottom:1px solid #EEE            ; margin-bottom:.5rem; padding:.5rem 0; text-align:left}
.container-border-title p {padding:0 1rem 1rem}
.container-border-title ul {width:100%; padding-bottom:.5rem; display:block; overflow:hidden;}
.container-border-title li {float:left; display:inline-block}
.container-border-title li:first-child {text-indent:1rem; width:30%; min-width:90px; color:#777879}
.modal-small .content {max-height:40vh}

.modal-full {display:flex !important; flex-direction:column; width:100vw; height:calc(100% - 2rem); margin-top:1rem; border-radius:1rem}
.modal-full.active .content {max-height:none; height:auto}
.modal-full.active .btn-container {flex:0 0 auto}
.modal-full.active .btn-container button {border-radius:0; }
.modal-full.active .selectbox {width:100%}



/* Radio Button */
input[type="radio"] {cursor:pointer; position: absolute; opacity: 0}
input[type="radio"] + label {cursor:pointer; margin-right:.5rem}
input[type="radio"] + label:before {content:''; background:#f4f4f4; border-radius:100%; border:1px solid #b4b4b4;
  display: inline-block; width:12px; height:12px; position:relative; margin-right:3px; vertical-align:middle; transition: all .2s ease}
input[type="radio"]:hover + label:before, input[type="radio"]:checked + label:before {border-color:#003EB1; background-color:#003EB1; box-shadow:inset 0 0 0 2px #f4f4f4}
input[type="radio"]:focus + label:before {outline:none;}
input[type="radio"]:disabled:checked + label:before {box-shadow:inset 0 0 0 2px #f4f4f4; border-color:#b4b4b4; background:#b4b4b4}
input[type="radio"]:disabled + label:before {border-color:#DDD; background:#f4f4f4}
input[type="radio"] + label:empty:before {margin-right: 0}
  


/* Checkbox */
input[type="checkbox"] {position: absolute; opacity: 0}
input[type="checkbox"] + label {position:relative; cursor:pointer; padding:0}
input[type="checkbox"] + label:before {border-radius:2px; transition:.2s; border:1px solid #DDD; content:''; display:inline-block; vertical-align:text-top; width:15px; height:15px; background:white;}
input[type="checkbox"]:hover + label:before, input[type="checkbox"]:checked + label:before {background:#FFCC33; border-color:#FFCC33}
input[type="checkbox"]:disabled + label {color:#b8b8b8; cursor:auto;}
input[type="checkbox"]:disabled + label:before {box-shadow:none; background:#ddd}
input[type="checkbox"]:checked + label:after {content:''; position:absolute; left:3px; top:50%; background:white; width:2px; height:2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg); transform: rotate(45deg)}
  


/* Tooltip */
.tooltip {position:relative; z-index:3}
.tooltip .title {text-align:left; border-radius:3px; position:absolute; top:1.8rem; left:-5rem; background:#333; color:white; font-size:12px; font-weight:normal; padding:.5rem; width:max-content; max-width:50vw; line-height:1.5}
.tooltip .title:before {content:''; position:absolute; top:-5px; left: calc(5rem + 2px); border-radius:3px; width:1rem; height:1rem; background:#333; transform:rotate(45deg); z-index:-1}


/* Input File */
.form-input--file {width:100%; line-height:30px; margin:5px; position:relative; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; border:1px solid #EBEBEB}
.form-input-file {opacity: 0; visibility: hidden; position: absolute; top: 0; left: 0}
.form-input--file-text {padding-left:.5rem}
.form-input--file-button {cursor:pointer; display:inline-block; position:absolute; top:0; right:-1px; bottom:0; padding: 0 1rem; background-color:#d9d9d9;}
.form-input--file-button:hover {background-color:#ccc}


/* Pie Chart */
.prec {top:30px; position:relative; font-size:30px}
.circle {margin-bottom:.5rem; position:relative; top:5px; left:5px; text-align:center; width:100px; height:100px; border-radius:100%; background-color:#F6F7F8}
.active-border {margin:1rem auto 3rem; position:relative; text-align:center; width:110px; height:110px; border-radius:100%; background-color:#003EB1;
    background-image:
        linear-gradient(91deg, transparent 50%, #EEE 50%),
        linear-gradient(90deg, #EEE 50%, transparent 50%);    
}



/* Slick */
.slick-prev, .slick-next {z-index:3; position:absolute; top:24px; margin:0; padding:0;  background:transparent; text-indent:-9999px; height:12px; width:12px}
.slick-prev {border-bottom:2px solid #333; border-left:2px solid #333; left:8.5rem; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg)}
.slick-next {border-top:2px solid #333; border-right:2px solid #333; right:8.5rem; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg)}


/* Table */
table {border-color:#AAA}
table th {padding:.5rem 0}
table td {padding:.5rem}

.table {padding:0 !important}
.table {flex-direction:column}
.table ul {display:flex}
.table li {text-indent:0; justify-content:center}
.table li:last-child {border-bottom:1px solid #EEE !important}

.table.col-4 li {width:25%}
.table.col-2 li {width:50%}

/* File */
input[type=file] {outline:0; opacity:0; pointer-events:none; user-select:none; display:none}
.input-file {color:#AAA; padding:1rem 0; border:1px dashed #AAA; border-radius:.5rem; display:flex; justify-content:center; align-items:center; transition:0.25s; text-align:center}
.input-file:hover {border:1px solid #003EB1; color:#003EB1}
.input-file i {margin-right:.5rem}


/* Selectbox */
.selectbox {flex:1 1 auto; position:relative; z-index:0}
.selectbox::after {
content: '';
position: absolute;
top: 0;
bottom: 0;
right: 7px;
margin: auto;
width: 0;
height: 0;
border: 1px solid transparent;
border-width: 7px 7px 0 7px;
border-color: #fff transparent transparent transparent;
z-index: -1;
}
.selectbox::before {
content: '';
position: absolute;
top: 2px;
bottom: 0;
right:7px;
margin: auto;
width: 0;
height: 0;
border: 1px solid transparent;
border-width: 7px 7px 0 7px;
border-color: #333 transparent transparent transparent;
z-index: -1;
}
.selectbox select {padding-right:2rem; background:transparent; color: #333; -webkit-appearance: none}
.selectbox select:focus {outline:0}


::-webkit-scrollbar {-webkit-appearance:none}
::-webkit-scrollbar:vertical {width:.5rem}
::-webkit-scrollbar:horizontal {height:.5rem}

::-webkit-scrollbar-thumb {background-color:#B3B6B9; border-radius:10px; border:2px solid #ffffff}
::-webkit-scrollbar-track {border-radius:10px; background-color:#ffffff}