@charset "UTF-8";
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic.ttf);
  src: local('Nanum Gothic'),
       local('NanumGothic'),
       url(../fonts/NanumGothic.ttf) format('truetype'),
       url(../fonts/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic.woff) format('woff'),
       url(../fonts/NanumGothic.otf) format('opentype');
}



/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,a{margin:0;padding:0; box-sizing:border-box}
fieldset,img{border:0}
img{vertical-align:top}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input,select,textarea,button{color:#333; font-size:100%; vertical-align:middle; box-sizing:border-box; border:0 none}
button{cursor:pointer; border:0;}
table{border-spacing:0;border-collapse:collapse;width:100%;table-layout:fixed}
body{-webkit-text-size-adjust: antialiased; -moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: subpixel-antialiased; font-smooth: always;transform: rotate(-0.0000000001deg);text-shadow: 0 0 1px rgba(0,0,0,0.1);}/*웹폰트 안깨져보이게*/

input:checked[type='checkbox']{background-color:#666;-webkit-appearance:checkbox}
input[type='submit'],input[type='reset'],input[type='file']{border-radius:0;-webkit-appearance:button}
input[type='number'],input[type='tel'],input[type='date'],textarea,select{border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
textarea:focus{outline:none}
a{color:inherit;text-decoration:none;outline:none}
a:active,a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-weight:normal;font-style:normal}
legend{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;line-height:0;white-space:normal;word-wrap:break-word;word-break:break-all;clip:rect(0,0,0,0)}
caption{overflow:hidden;width:1px;height:1px;margin-top:-1px;padding:0;font-size:1px;line-height:0;color:transparent;white-space:nowrap;text-overflow:ellipsis;*height:0;text-indent:-999px\9}
caption.blind{position:static;margin:-1px 0 0;*height:0}
caption.blind:before{display:none}
caption .blind{position:static}
caption .blind:before{display:none}
.btn, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {box-shadow:none;}
.progress, .progress-success .bar, .progress .bar-success, .progress-warning .bar, .progress .bar-warning, .progress-danger .bar, .progress .bar-danger, .progress-info .bar, .progress .bar-info, .btn, .btn-primary {background-image:none;}