.ico-menu {
    position: absolute;
    right: 0;
    transform: scale(.7);
}

.ico-menu svg {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
}

.ico-menu.active svg {
    transform: rotate(45deg);
}

.ico-menu path {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ico-menu svg path.top {
    stroke-dasharray: 40 139;
}

.ico-menu svg path.bottom {
    stroke-dasharray: 40 180;
}

.ico-menu.active svg path.top {
    stroke-dashoffset: -98px;
}

.ico-menu.active svg path.bottom {
    stroke-dashoffset: -138px;
}


.text {
    color: transparent;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
}

.text.reveal {
    color: #fff;
    animation: revealTextAnimation 0.64s ease forwards;
}

p.text.reveal {
    color: var(--darkmodeTertiaryColor);
}

.text:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*   z-index: 1; */
}

.text.reveal:before {
    background: var(--darkmodeSecondaryColor);
    animation: blockRevealAnimation 0.8s ease forwards;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container .image {
    margin: .5rem
}

.image {
    position: relative;
    display: block;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    opacity: 0;
}

.image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.image.reveal:before {
    background: var(--darkmodeSecondaryColor);
    animation: blockRevealAnimation 0.8s ease forwards;
}

.image.reveal img {
    animation: revealImgAnimation 0.8s ease forwards;
}

@keyframes blockRevealAnimation {
    0% {
        left: -100%;
    }
    40% {
        left: 0;
    }
    60% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes revealTextAnimation {
    0% {
        color: transparent;
    }
    40% {
        color: transparent;
    }
    60% {
        color: #333;
    }
}

@keyframes revealImgAnimation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 990px) {
    .content {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}
