:root {
    --circle-size: 60vh;
    --circle-fallout: 70%;
    --type-scale: 50vw;
}

canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 54vw;
    right:10%;
    opacity: .3;
}

#type {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: var(--type-scale);
    height: auto;
    pointer-events: none;
}

@keyframes orbit1 {
    from { transform: rotate(0deg) perspective(500px) translate3d(50px,0,0); }
    to   { transform: rotate(360deg) perspective(500px) translate3d(50px,0,0); }
}

@keyframes orbit2 {
    from { transform: rotate(360deg) perspective(500px) translate3d(-50px,0,0); }
    to   { transform: rotate(0deg) perspective(500px) translate3d(-50px,0,0); }
}