header {
    border-bottom: 1px solid #eee;
}

.header-admin {
    flex: 0 0 auto;
    width: 90%;
    max-width: 500px;
    margin: 1rem auto;
    border-bottom: 1px solid var(--darkmodeSecondaryColor);
}

.header-admin li {
    flex: 1 1 auto;
}

.header-admin li:first-of-type a {
    border-radius: .2rem 0 0 .2rem;
}

.header-admin li:last-of-type a {
    border-radius: 0 .2rem .2rem 0;
}

.header-admin a {
    padding: .7rem;
    display: flex;
    justify-content: center;
    color: var(--darkmodeTertiaryColor);
    background-color: var(--darkmodeSecondaryColor);
    position: relative;
}

.header-admin a.active {
    color: rgba(255, 255, 255, .8);
    background-color: var(--primaryColor);
}

.sort-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 0 .5rem;
}

.sort-content .input-container {
    flex: 0 0 auto;
    flex-direction: row;
    margin-bottom: 0 !important;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.sort-content input[type="search"] {
    padding-right: 2.5rem;
}

.sort-content input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.sort-content .input-container .ico-search {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--darkmodeTertiaryColor);
    margin-left: .5rem;
    cursor: pointer;
}

.sort-content .selectbox:not(:last-of-type) {
    margin-right: .5rem;
}

.content + .button-container {
    display: none
}

.input-container {
    flex: 1 1 25%;
    box-sizing: border-box;
    padding: .5rem;
}

.row-empty {
    justify-content: center;
}

.cell-bed-number {
    width: 10%;
}

.cell-counter {
    width: 10%;
}

.cell-user-number {
    width: 15%;
}

.cell-user-name {
    width: 10%;
}

.cell-updated-date {
    width: 20%;
}

.cell-ward {
    width: 15%;
}

.cell-event {
    width: 25%;
    flex: 1 1 auto
}

.cell-activation {
    width: 5%;
}

.svg-check {
    fill: lightseagreen !important;
}

.svg-disabled {
    fill: orangered !important;
}

.cell-activation .activate {
    background: url("../images/check.png") center no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.cell-activation .disabled {
    background: url("../images/disabled.png") center no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

fieldset {
    flex: 1 1 auto;
    max-width: 360px;
    margin: 0 .5rem;
    max-height: 60vh;
    overflow: hidden;
    overflow-y: auto;
}

.toggle-feature {
    transform: rotate(0);
}

.toggle-admin .toggle-checkbox:checked + .toggle-button .toggle-feature {
    transform: rotate(90deg);
}

.toggle-activation {
    flex: 1 1 100%;
    flex-direction: row-reverse;
    align-items: center;
}

.toggle-activation .toggle {
    display: flex;
    width: 40px;
    height: 80%;
}

.toggle-activation label {
    flex: 0 0 auto !important;
    margin-right: .5rem;
}

.toggle-activation .toggle-button {
    height: 20px;
    border-radius: 30px;
    flex: 0 0 100% !important;
    background-color: orangered;
}

.toggle-activation .toggle-feature {
    top: -2px;
    left: -2px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
}

.toggle-activation .toggle-checkbox:checked + .toggle-button {
    background-color: lightseagreen;
}

.toggle-activation .toggle-checkbox:checked + .toggle-button > * {
    left: 16px;
}

.modal {
    max-width: 360px;
}

.modal .input-container {
    flex-direction: row;
    margin-bottom: 0;
}

.modal input {
    flex: 1 1 auto;
    background-color: #F3F6F9;
}

.modal .input-container-add {
    border-top: 1px solid var(--secondaryColor);
    margin-top: 1rem;
    padding-top: 1rem;
}

.input-container .temp-password {
    display: flex;
}

.temp-password input {
    display: flex;
    flex: 1 1 auto;
    margin-right: .5rem;
}

.content-settings ul {
    flex-direction: column;
    padding: .5rem;
}

.content-settings li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 0;
    border-bottom: 1px solid var(--darkPurple);
}

.content-settings li input {
    flex: 1 1 auto
}

.content-settings li button {
    padding: 0;
    background-color: transparent !important;
}

.content-settings li svg {
    fill: var(--secondaryColor);
}

.delete-setting {
    padding: 0;
    background-color: transparent !important;
}

.delete-setting svg {
    fill: var(--darkPurple) !important;
}

.modal .delete-setting svg {
    margin-left: .5rem;
    fill: var(--brightGray) !important;
}

.edit-setting svg {
    fill: var(--brightPurple);
}

@media screen and (max-width: 768px) {
    .wrapper, section {
        padding: 0
    }

    .content {
        padding: 1rem;
    }

    .input-container {
        flex: unset;
        margin-bottom: 0;
    }

    .content-view {
        display: block;
        background-color: transparent !important;
        padding: 0rem !important;
    }

    .content .title {
        padding: 1rem 0;
    }

    .content .title h1 {
        font-size: 1.3rem;
        margin: 0;

    }

    .content .title .button-container {
        display: none;
    }

    .content + .button-container {
        display: flex;
        flex: 0 0 auto
    }

    .content + .button-container button {
        font-size: 16px;
        flex: 1 1 auto;
        margin: 0;
        border-radius: 0;
        padding: 1.2rem;
        font-weight: bold;
        justify-content: center;
    }

    .content + .button-container .button-cancel {
        flex: 0 0 40%
    }

    fieldset {
        max-width: none;
        margin-bottom: 2rem;
    }

    .table .row:nth-of-type(2) {
        margin-top: 0
    }

    .table .row.th {
        display: none;
    }

    .table .row {
        min-height: 5rem;
    }

    .table .row span {
        position: absolute;
        width: auto !important;
    }

    .cell-counter {
        left: 1rem;
        top: 1rem;
        display: none !important;
    }

    .cell-bed-number {
        left: 1rem;
        top: 1rem
    }

    .cell-bed-number::before {
        content: '침상번호:';
        margin-right: .5rem
    }

    .cell-user-name {
        left: 1rem;
        top: 1rem
    }

    .cell-user-number {
        left: 4rem;
        top: 1rem
    }

    .cell-user-number::before {
        content: '(';
    }

    .cell-user-number::after {
        content: ')';
    }

    .cell-updated-date {
        right: 1rem;
        bottom: 1rem
    }

    .cell-ward {
        left: 1rem;
        top: 3rem
    }

    .cell-event {
        left: 1rem;
        bottom: 1rem
    }

    .cell-activation {
        right: 1rem;
        top: 1rem
    }

    .modal {
        display: flex;
    }
}