html,
body {
    cursor: none;
}

header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 1;
}

header .ico-menu {
    display: none;
    transition: opacity .4s;
    z-index: 10;
}

header .menu {
    opacity: 0;
    display: none;
    transition: opacity .4s;
}

header .menu li {
    opacity: 0;
    margin-left: 2rem;
    animation: moveDown 1.2s forwards
}

header .menu li:nth-child(1) {
    animation-delay: .1s
}

header .menu li:nth-child(2) {
    animation-delay: .3s
}

header .menu li:nth-child(3) {
    animation-delay: .5s
}

header .menu li:nth-child(4) {
    animation-delay: .7s
}

header .menu li:nth-child(5) {
    animation-delay: .9s
}

header .menu li:nth-child(6) {
    animation-delay: 1.1s
}


header .ico-menu.active + .menu {
    opacity: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.7);
    transition: opacity .4s;
}

header .ico-menu.active + .menu li {
    font-size: 3rem;
}



p {
    font-family: "Poppins";
    color: var(--brightGray);
}

h1 {
    font: normal 10rem/1 "Teko";
    text-transform: uppercase;
    color: white;
}

h2 {
    font: 9vw/1 "Montserrat";
    color: white;
}

h3 {
    font: normal 2rem/3 "Poppins";
    color: white;
}

section {
    width: 100%;
    min-height: 70vh;
    padding: 20vh 10vw 10rem;
    box-sizing: border-box;
    position: relative;
}

section > * {
    opacity: 0;
    transition: opacity .4s;
}

section .title {
    font-weight: normal;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, .5);
    text-transform: uppercase;
    white-space: nowrap;
    position: absolute;
    left: 5vw;
    top: 0;
    z-index: 10;
    user-select: none;
}

section .title::before {
    content: attr(data-count);
    font-family: "Ultra";
    display: flex;
    font-size: 2rem;
    color: white;
    margin-bottom: -1rem;
    text-indent: .5rem;
    transform: rotate(90deg);
    position: absolute;
    padding-right: 1rem;
}


/* =====================================================
   INTRO
   ===================================================== */
#intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
    padding-top: 30vh;
    overflow: hidden;
}

#intro h1 {
    opacity: 0;
    animation: moveDown 1.2s forwards .5s
}

#intro p {
    font-size: 1.5rem;
    opacity: 1;
    position: relative;
    margin-left: 8vw;
}

.text-typing {
    overflow: hidden;
    white-space: nowrap;
    width: 26.5em;
    animation: moveDown 1.2s forwards .7s, type 4s steps(30), blink 1s linear infinite;
    margin: 0;
    padding: 0;
    border-right: .1em solid;
}


#intro .image {
    opacity: 0 !important;
    position: fixed;
    width: 90vw;
    top: 5vh;
    left: 5vw;
    right: 0%;
    overflow: hidden;
}

#intro img {
    width: 100%;
}

#intro p {
}


/* =====================================================
   PRODUCTS
   ===================================================== */
#products .images {
    display: flex;
}

#products .image-item {
    flex: 1 1 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    cursor: none;
}


#products .image {
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
    display: flex;
    justify-content: center;
    background-color: var(--darkmodePrimaryColor);
}

#products .image img {
    width: 70%;
    padding: 3rem 0;
    transition: opacity, transform 2.5s cubic-bezier(0.25, 1, 0.3, 1);
}

#products .image:hover img {
    transform: scale(1.1);
}


/* =====================================================
   MEMBERS
   ===================================================== */
.image.d-yoon {
    width: 50vw;
    margin-left: 17vw
}

#members .text {
    margin-left: 17vw;
}

#members li {
    display: flex;
    margin-bottom: .5rem;
}

#members h3 {
    font-weight: bold;
}

#members h4 {
    color: var(--brightGray);
    flex: 0 0 200px;
    font-size: 14px;
}

#members .description {
    color: var(--brightGray);
    flex: 1 1 auto;
}


/* =====================================================
   PARTNERS
   ===================================================== */
#partners .slider {
    display: flex;
    margin: 0 -10vw;
    position: relative;
    overflow: hidden;
    border-top: 1px solid var(--darkmodeTertiaryColor);
    border-bottom: 1px solid var(--darkmodeTertiaryColor);
}

#partners .slider:hover ul {
    animation-play-state: paused
}

#partners ul {
    width: 100%;
    display: flex;
    position: relative;
    animation: marquee 10s linear infinite;
    justify-content: space-around;
}

#partners li {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    box-sizing: border-box;
    transition: opacity 0.1s;
}

#partners li:not(:last-of-type) {
    border-right: 1px solid var(--darkmodeSecondaryColor);
}

#partners img {
    max-width: 100%;
    max-height: 60px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* =====================================================
   contact
   ===================================================== */
#contact {
    min-height: unset;
    padding-bottom: 5rem;
}

#contact ul {
    margin: 0 -10vw;
    display: flex;
}

#contact li {
    flex: 1 1 33.333%;
    text-align: center;
    padding: 0 3rem;
}

#contact ul li:not(:last-of-type) {
    border-right: 1px solid var(--darkmodeTertiaryColor);
}

#contact h3 {
    font-size: 1.2rem;
}

#contact p {
}


.title-circle {
    opacity: 0 !important;
    position: absolute;
    left: 3vw;
    top: -2vh;
    transition: opacity .4s;
    z-index: 5;
}

.title:hover ~ .title-circle {
    opacity: 1 !important;
}

.title-circle svg {
    animation: rotate 5s infinite linear;
    fill: white;
    transition: opacity, transform .2s;
}


/* =====================================================
   CURSOR
   ===================================================== */
.cursor {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}

.cursor::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url("http://mirkozeppieri.emanuelepapale.com/wp-content/uploads/2018/07/project-hover-cursor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    opacity: 0;
}

.cursor.active {
    opacity: 1;
    transform: scale(12);
}

.cursor.active::before {
    opacity: 1;
}

.cursor-follower {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}


.overlay:target .modal {
    opacity: 0;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


/* =====================================================
   MODAL
   ===================================================== */
.modal h2 {
    font-size: 1.2rem;
    color: var(--modal-color-text);
    margin-bottom: 1rem;
}

.modal ul {
    font-family: Nanumsquare;
    flex-wrap: wrap
}

.modal li {
    margin-bottom: .5rem;
    text-indent: -.8rem;
}

.modal li::before {
    content: '-';
    margin-right: .5rem;
}


@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}

/* =====================================================
   ANIMATIONS
   ===================================================== */
@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-30px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(360deg);
    }
    to {
        -moz-transform: rotate(0);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(360deg);
    }
    to {
        -o-transform: rotate(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}


@keyframes type {
    from {
        width: 0
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent
    }
    50% {
        border-color: white
    }
}