.container {
    background-size: 200%;
    transition: 600ms ease;
}


aside {
    flex-basis: 200px
}

aside .logo {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.2rem;
}

aside .login {
    display: flex;
    justify-content: center;
}

aside .menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem
}

aside .menu li {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

aside .menu a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255,255,255,.1);
    padding: .4rem 0;
    border-radius: .3rem;
}

aside .menu a > *:first-child {
    fill: #aaacbf;
    background: #eeeff4;
    padding: .5rem;
    box-sizing: content-box;
    border-radius: .3rem;
    transition: .2s all;
}

aside .menu a > *:last-child {
    fill: rgba(0,0,0,.2);
}

aside .menu a:hover > *:first-child,
aside .menu a.active > *:first-child {
    fill: var(--primaryColor);
    background: #ddf3f3;
}

main {
    flex-direction: column;
    background-color: #F3F6F9;
    border-radius: .5rem;
}

main header {
    padding: 1rem;
    flex-direction: column;
}

.sub-menu {
    flex: 1 1 auto;
    text-align: center;
    background: white;
    border-radius: .3rem;
}

.sub-menu li {
    flex: 1 1 auto;
    margin: .5rem;
}

.sub-menu a {
    justify-content: center;
    border-radius: .2rem;
    transition: background-color .2s;
}

.sub-menu a:hover,
.sub-menu .active {
    background-color: var(--primaryColor);
    color: white;
}


section {
    opacity: 0;
    padding: 1rem;
    flex: 1 1 auto;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    animation: fadeInOpacity .4s forwards;
    transition: display .2s;
}

.dashboard section:not(:target) {
    display: none;
}

section:target {
    display: flex;
}

.row {
    display: flex;
    width: 100%;
    flex: 1 1 auto
}

.row:nth-of-type(1) {
    flex: 0 0 auto
}

.row:nth-of-type(2) .chart-container{

    flex: 1 1 20vh;
}

.count {
    flex: 1 1 50%;
    border-radius: .3rem;
    padding: .5rem .5rem .5rem 1rem;
    margin: .25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    transition: background-color .2s;
}

.count-current {
    background-color: #938fd5;
    background-image: linear-gradient(to right, #938fd5, #bbb8e4);
}

.count-all {
    background-color: #8ea6db;
    background-image: linear-gradient(to right, #8ea6db, #b8c9ef);
}

.count h1 {
    color: rgba(0,0,0,.3);
    min-width: 2rem;
    height: 2rem;
    padding: 0 .5rem;
    background: rgba(255,255,255,0.3);
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count small {
    color: white;
}

.chart-container {
    /*height: 30vh;
    max-height: 250px;*/
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    border-radius: .3rem;
    margin: .25rem;
}

.chart {
    flex: 1;
    position: relative;
    border-radius: .3rem;
}

.chart [dir="ltr"] {
    width: 100% !important;
    height: 100% !important;
}


/* ============================================================
   Patient List
   ============================================================ */
.filters {
    display: flex;
    background-color: white;
    border-radius: .3rem;
    padding: .5rem;
    margin: 1rem 0
}

.filters ul {
    flex: 1 1 auto;
    display: flex;
    margin:0 .25rem 0 -.25rem
}
.filters li {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0 .25rem
}

.filters label {
    font-size: 12px;
}

.filters button {
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters button svg {
    fill: white
}

.table .row li {
    flex: 1 1 7.692%;
    display: flex;
    justify-content: center;
}

.table span {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    border-radius: 50%;
}

.table .row .orange {
    color: orange;
    background-color: #fff1d6;
}

.table .row .red {
    color: red;
    background-color: #ffdfdf;
}