@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(./../webfonts/NanumSquareR.eot);
    src: url(./../webfonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
    url(./../webfonts/NanumSquareR.woff) format('woff'),
    url(./../webfonts/NanumSquareR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: bold;
    src: url(./../webfonts/NanumSquareB.eot);
    src: url(./../webfonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
    url(./../webfonts/NanumSquareB.woff) format('woff'),
    url(./../webfonts/NanumSquareB.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url(./../webfonts/NanumSquareL.eot);
    src: url(./../webfonts/NanumSquareL.eot?#iefix) format('embedded-opentype'),
    url(./../webfonts/NanumSquareL.woff) format('woff'),
    url(./../webfonts/NanumSquareL.ttf) format('truetype');
}

:root {
    --var-mainColor: #01797F;
    --var-secondaryColor: #0A2E51
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font: 17px/1.5 'NanumSquare';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex
}

a {
    text-decoration: none;
    color: #333
}

input[type="search"] {
    border: 0;
    padding: .5rem 1rem;
    font: 17px/1.5 'NanumSquare';
    background-color: transparent;
    outline: 0;
}

button {
    border: 0;
    font: 14px/1 'NanumSquare';
    font-weight: bold;
    background-color: transparent;
    display: flex;
    align-content: center;
    border-radius: .2rem;
    transition: background-color .2s;
    cursor: pointer;
    outline: 0;
}

button.new, button.submit {
    display: flex;
    align-items: center;
    font: normal 14px 'Work Sans', sans-serif;
    text-transform: uppercase;
    background-color: #0191B4;
    color: white
}

button.cancel {
}

button.new [class*=icon-], button.submit [class*=icon-] {
    margin-right: .2rem;
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0
}

ion-icon {
    font-size: 1rem
}

.list-buttons {
    display: flex;
    align-self: flex-end;
    margin-bottom: .5rem;
}

.list-buttons button {
    padding: .7rem 1rem
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #F3F6F9;
}

.input-container {
    position: relative;
}

section {
    width: 100%;
    margin: 1rem auto
}


/* Modal */
.backdrop {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transition: background-color .4s;
}

.backdrop.active {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, .6);
}

.modal {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    width: 40vw;
    min-width: 300px;
    max-width: 400px;
    max-height: 80vh;
    border-radius: .5rem;
    transition: background-color .2s;

}

.modal .list-buttons {
    margin-top: 2rem;
    margin-bottom: 0;
}

.modal .list-buttons button {
    padding: 0 1rem
}

.modal .confirm {
    color: green;
}

.modal .cancel {
    color: red;
}

.modal.active {
    opacity: 1;
    visibility: visible;
    background-color: white;
}

/* aside */
aside {
    width: 4rem;
    height: 100vh;
    background: #0191B4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:0 0 auto;
    overflow-y:hidden;
}

aside .icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

aside li {
    padding: 1rem;
}

aside li ion-icon {
    color: white;

}

aside span[class*="icon-"] {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

aside .icon-dashboard {
    background-image: url("../images/icons/dashboard.png");
}

aside .icon-viewer {
    background-image: url("../images/icons/viewer.png");
}

aside .icon-laptop {
    background-image: url("../images/icons/laptop.png");
}

aside .icon-admin {
    width: 100%;
    justify-content: center;
}

/* Header */
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
}

header .menu {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-content: center;
    flex-wrap: wrap
}

header .menu li {
    margin-left: 1rem
}


/* Search */
.search {
    position: relative;
    min-width: 30vw;
}

.search i {
    color: #AAA;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.search label {
    display: none
}

.search input {
    width: 100%;
    background: white;
    border-radius: 10rem;
}


.icon-admin {
    display: flex;
    align-content: center
}

.icon-admin a {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.icon-admin ion-icon {
    font-size: 1.5rem;
    /*    background:#0191B4;
        color: white;
        border-radius: .5rem;
        padding: .5rem;*/
}


/* Content */
.content {
    flex: 1 1 auto;
    margin: 0 auto;
    padding: 2rem;
    min-width: 800px;
    width: 80%;
    overflow-y: auto
}

/* Table */
.table {
    min-height: 50vh;
}

.table .row {
    display: flex;
    padding: 1rem;
    background: white;
    border-radius: .2rem;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: .5rem;
}

.table .row.th {
    color: #A3A6A9;
    font: normal 14px 'Work Sans', sans-serif;
    background-color: transparent;
    height: auto;
    padding: 0 1rem
}

.table .row .cell {
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 2rem;
}

.table .row .cell.link {
    width: 30%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: left;
}

.table .row .cell.buttons button ion-icon {
    font-size: 1.2rem;
}

.table .row .cell.buttons button:not(:last-of-type) {
    margin-right: 3px;
}


/* Main */
.category {
    justify-content: center
}

.category li {
    margin: 1rem;
    font-weight: bold;
    color: #AAA;
    position: relative;
    cursor: pointer;
    transition: color .2s;
}

.category li::after {
    transition: background-color .2s;
}

.category li.active, .category li:hover {
    color: #0191B4;
}

.category li.active::after, .category li:hover::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0191B4;
    width: 2rem;
    height: 3px
}

.dashboard {
    margin-bottom: 3rem;
}

.viewer .card {
    background-color: slategray;
}

/*.list-icons li div[class^="icon"] {width:5rem; height:5rem; margin:.5rem; border-radius: 2rem; background-color:#FBFBFB; background-repeat: no-repeat; background-position: center; background-size:50%}*/
/*.list-icons li .title {text-align:center}*/

.list-cards .list {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap
}

.list-cards .list .card {
    flex: 1 1 25%;
    padding: 1rem;
    border-radius: .5rem;
    margin: .5rem;
    position: relative;
    overflow: hidden;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: background-color .2s;
}


.list-cards .list .card i {
    font-size: 4rem;
    color: #0191B4;
    opacity: .1;
    margin-right: 1rem;
    align-self: flex-end;
}

.list-cards .list .card .title {
    font-size: 1.2rem
}

.list-cards .list .card small {
    opacity: .8;
    font-size: 12px;
}

.list-cards .list .card:hover {
    color:white;
}

.list-cards .list .card:hover i {
    color:white;
    opacity: .3;
}

.card.vaccine:hover {
    background-color: #355070
}

.card.vital-signs:hover {
    background-color: #6d597a
}

.card.etc-01:hover {
    background-color: #b56576
}

.card.etc-02:hover {
    background-color: #e56b6f
}

.card.etc-03:hover {
    background-color: #eaac8b
}


.login {
    background: linear-gradient(rgba(0, 118, 126, .8), rgba(10, 46, 81, .8));
    text-align: center;
}

.login::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: url("../images/bg_03.jpg");
    background-size: cover;
    z-index: -1;
    opacity: .3;
}

.login .title {
    color: white;
    margin-bottom: 5rem
}


.login-container {
    width: 400px;
    margin: 0 auto;
    border-radius: 1rem;
}

.login-container .input-container {
    margin-bottom: .5rem;
}

.login-container i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #E3E6E9;
}

.login-container label {
    display: none
}

.login-container input {
    font-family: 'Baloo Chettan 2', cursive;
    background-color: white;
    width: 100%;
    padding: 1rem .5rem;
    border-radius: .5rem;
    text-indent: 2rem;
    border: 0
}

.login-container button {
    width: 100%;
    padding: 1rem .5rem;
    line-height: 1.5rem;
    border-radius: .5rem;
    justify-content: center;
    background-color: #0191B4;
    color: white
}

.login-container .id {
}

.login-container .password {
}


/* Administrator Pages */

.admin {
    background-color: #F7F8F9;
}


.admin-main .table .row .cell.buttons button:hover {
    background-color: #ECF0F6;
}

.admin-main .table .row .cell.buttons button.edit {

}

.admin-main .table .row .icon {
    margin-right: .5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #F7F8F9
}

.admin-main .table .row .icon img {
    width: 60%
}

.admin-main .table .row .cell:nth-child(1) {
    width: 15%
}

.admin-main .table .row .cell:nth-child(2) {
    width: 15%
}

.admin-main .table .row .cell:nth-child(3) {
    width: 35%
}

.admin-main .table .row .cell:nth-child(4) {
    width: 25%
}

.admin-main .table .row .cell:nth-child(5) {
    width: 10%
}


/* Admin Edit Page */

.edit-container {
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;
}

.edit-container .row {
    display: flex;
    padding: 1rem 0;
}

.edit-container label {
    font-family: 'Work Sans', sans-serif;
    color: #A3A6A9;
    flex: 0 0 20%;
    position: relative;
    align-self: center;
}

.edit-container label ~ * {
    flex: 1 1 auto;
    border-bottom: 1px solid #ECF0F6;
}

.edit-container label[for="edit-image"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted #ECF0F6;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    flex-basis: auto;
    overflow: hidden;
    cursor: pointer;
}

.edit-container label[for="edit-image"].active {
    border-style: solid;
}

.edit-container label[for="edit-image"] .icon-plus {
    font-size: 3rem;
    color: #C3C6C9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-container input[type="file"] {
    display: none;
}

.edit-container input[type="file"] + img {
    width: 70%;
    height: 70%
}

.edit-container + .list-buttons button {
    padding: .7rem 1.5rem
}

.edit-container + .list-buttons .cancel {
    opacity: .3
}

.edit-container input[type="url"]::before {
    content: 'http://'
}

.selectbox {
    font: 17px/1.5 'NanumSquare';
    background-color: transparent;
    cursor: pointer
}

.selectbox-current {
    padding: .7rem;
    display: flex;
    justify-content: space-between;
}

.selectbox-current .arrow {
}

.selectbox-current {
    overflow: hidden;
    position: relative;
    z-index: 3
}

.selectbox-options {
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
    width: 50%;
    position: absolute;
    border: 1px solid #EBEBEB;
    overflow-y: auto;
    transition: opacity .2s;
    z-index: 1
}

.selectbox-options.active {
    opacity: 1;
    visibility: visible;
    background: white;
    flex-direction: column;
}

.selectbox-options li {
    padding: .7rem;
    transition: background-color .2s;
}

.selectbox-options li:not(:last-child) {
    border-bottom: 1px solid #EBEBEB
}

.selectbox-options li:hover {
    background: #ECF0F6;
}