body {
    background: dodgerblue;
    transition: background-color 2s;
}

option {
    color: #333;
}

.container {
    background-size: 200%;
    background: rgb(49 59 75);
    transition: 600ms ease;
}

.table .row:last-of-type {
    margin-bottom: 0;
}

aside {
    flex-basis: 200px;
    display: flex;
    align-items: center;
    background: rgb(49 59 75);
}

aside button {
    font-family: 'Poppins';
}

aside header {
    min-height: 150px;
    flex-direction: column;
}

aside .logo {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 1.5rem auto 0;
    font-size: 1.2rem;
    background: url("../images/logo_multi.png") no-repeat center;
    background-size: contain;
    width: 4rem;
    height: 4rem;
}

aside .btn-login {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: .2rem .4rem;
    text-transform: capitalize;
    margin-top: .2rem;
    color: rgba(255, 255, 255, .7);
    border: 1px solid rgba(255, 255, 255, .3);
    transition: color .2s;
}

aside .btn-login:hover {
    color: rgba(255, 255, 255, 1);
}

aside .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem
}

aside .menu li {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

aside .menu a {
    position: relative;
    color: rgba(255, 255, 255, .6);
    display: flex;
    align-items: center;
    width: 100%;
    padding: .4rem .8rem;
    transition: background-color .2s;
}

aside .menu a:hover,
aside .menu a.active {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, .1)
}

aside .menu a > *:first-child {
    fill: #aaacbf;
    padding: .5rem;
    box-sizing: content-box;
    border-radius: .3rem;
    transition: .2s all;
}

aside .menu a > *:last-child {
    position: absolute;
    right: .5rem;
    fill: rgba(255, 255, 255, .8);
    margin-right: .2rem;
}

aside .menu a:hover > *:first-child,
aside .menu a.active > *:first-child {
    fill: var(--primaryColor) !important;
}

aside .btn-admin {
    position: absolute;
    bottom: 1.5rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    transition: background-color .2s;
}

aside .btn-admin:hover {
    background-color: white;
    color: #333;
}

aside .btn-admin svg {
    fill: var(--primaryColor);
    margin-right: .2rem;
}

main {
    flex-direction: column;
    background: #edf1f9;
    border-radius: 1rem 0 0 1rem;
}

main header {
    padding: 1.3rem 1rem 1rem;
    flex-direction: column;
}

.sub-menu {
    flex: 1 1 auto;
    text-align: center;
    background: white;
    border-radius: .3rem;
}

.sub-menu li {
    flex: 1 1 auto;
    margin: .4rem;
}

.sub-menu a {
    justify-content: center;
    border-radius: .2rem;
    transition: background-color .2s;
}

.sub-menu a:hover,
.sub-menu .active-sub-menu {
    background-color: var(--primaryColor);
    color: white;
}

section {
    opacity: 0;
    padding: 1rem;
    flex: 1 1 auto;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    animation: fadeInOpacity .4s forwards;
    transition: display .2s;
}

.dashboard section:not(:target) {
    display: none;
}

section:target {
    display: flex;
}

.row {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    padding: .5rem 1rem;
    background-color: white;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.dashboard .row {
    background-color: transparent;
    padding: 0;
    align-items: normal;
    margin: -.5rem -.5rem .5rem
}

.row:nth-of-type(1) {
    flex: 0 0 auto
}

.row:nth-of-type(2) .chart-container {
}

.count {
    flex: 1 1 50%;
    border-radius: .3rem;
    padding: .5rem .5rem .5rem 1rem;
    margin: .25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    transition: background-color .2s;
}

.count-current {
    background-color: rgba(49, 59, 75, .3);
}

.count-all {
    background-color: rgba(49, 59, 75, .9);
}

.count h1 {
    color: white;
    min-width: 2rem;
    height: 2rem;
    padding: 0 .5rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count small {
    color: white;
}

.chart-container {
    /*height: 30vh;
    max-height: 250px;*/
    background-color: white;
    flex: 1 1 auto;
    display: flex;
    border-radius: .3rem;
    margin: .25rem;
}

.chart {
    flex: 1;
    position: relative;
    border-radius: .3rem;
}

.chart [dir="ltr"] {
    width: 100% !important;
    height: 100% !important;
}


/* ============================================================
   Patient List
   ============================================================ */
.filters {
    display: flex;
    background-color: #4870ac;
    border-radius: .3rem;
    padding: .5rem;
    margin-top: 1rem
}

.filters ul {
    flex: 1 1 auto;
    display: flex;
    margin: 0 .25rem 0 -.25rem
}

.filters li {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0 .25rem
}

.filters label {
    font-size: 12px;
    color: #ddd;
}

.filters .selectbox {
    background-color: rgba(0, 0, 0, .2);
    border-width: 0;
}

.filters .selectbox::before {
    border-color: white
}

.filters select {
    background-color: transparent;
    color: white;
    border: 0
}

.filters button {
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters button svg {
    fill: white
}

.table .row li {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.table span {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    border-radius: 50%;
}

.table .row .orange {
    color: orange;
    background-color: #fff1d6;
}

.table .row .red {
    color: red;
    background-color: #ffdfdf;
}

.table .btn-edit {
    background-color: #EEEEEE;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
}

.table .btn-edit svg {
    fill: #566d80;
}

.patient_list .table .row li:nth-of-type(1) {
    width: 8%;
}

.patient_list .table .row li:nth-of-type(2) {
    width: 7%;
}

.patient_list .table .row li:nth-of-type(3) {
    width: 8.5%;
}

.patient_list .table .row li:nth-of-type(4) {
    width: 8.5%;
}

.patient_list .table .row li:nth-of-type(5) {
    width: 9%;
}

.patient_list .table .row li:nth-of-type(6) {
    width: 7%;
}

.patient_list .table .row li:nth-of-type(7) {
    width: 7%;
}

.patient_list .table .row li:nth-of-type(8) {
    width: 7%;
}

.patient_list .table .row li:nth-of-type(9) {
    width: 7%;
}

.patient_list .table .row li:nth-of-type(10) {
    width: 7%;
}

.patient_list .table .row li:nth-of-type(11) {
    width: 7%;
}

.patient_list .table .row li:nth-of-type(12) {
    width: 10%;
}

.patient_list .table .row li:nth-of-type(13) {
    width: 7%;
}


/* ============================================================
   Patient Add
   ============================================================ */
.patient_add header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-title {
    flex: 0 0 120px;
    color: slategray;
}

.datepicker {
    border: 1px solid #EEE
}

.input-select {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

input[type="radio"] + label {
    min-width: 36px;
    display: flex;
    justify-content: center;
    margin-right: .5rem;
    border-radius: .3rem;
    background-color: #F3F6F9;
    padding: .4rem 1rem;
    transition: background-color .2s;
}

input[type="radio"] + label::before {
    content: none;
}

input[type="radio"] + label:hover,
input[type="radio"]:checked + label {
    background-color: #437ef1 !important;
    color: white;
}


/* ============================================================
   Clinical Trial Patient List
   ============================================================ */
.clinical-trial-patient {
    margin-bottom: 1rem;
    padding-bottom: 0;
}

.clinical-trial-patient .table {
    margin-bottom: 0;
}

.patient-detail {
    display: none;
    flex: 0 0 30vh;
    align-items: flex-start;
    color: white;
    margin-bottom: 1rem;
    padding-bottom: 0;
}

.patient-detail-menu {
    display: flex;
    margin: 0 -.1rem;
}

.patient-detail-menu a {
    border-radius: .3rem .3rem 0 0;
    color: white;
    padding: .5rem 2rem;
    margin: 0 .1rem;
    background-color: #C3C6C9;
    transition: background-color .2s;
}

.patient-detail-menu a:hover,
.patient-detail-menu .active-patient-menu {
    background-color: darksalmon;
}

.patient-detail .table {
    display: none;
    background-color: darksalmon;
    padding: 1rem .5rem;
    transition: .2s;
    margin-bottom: 0;
}

.patient-detail .table:target {
    display: flex;
    flex-direction: column;
    border-radius: 0 .5rem .5rem .5rem;
}

.patient-detail .table .row {
    background-color: rgba(255, 255, 255, .3);
}

.btn-file {
    position: relative;
    background-color: var(--secondaryColor);
    margin-right: .5rem;
}

.btn-file::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-file input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    font-size: 20px;
    cursor: pointer;
    height: 36px;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* ============================================================
   Login
   ============================================================ */
.login {
    background: transparent;
}

.login-container {
    align-self: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, .1);
    padding: 2rem;
    border-radius: 1rem;
    width: 30vw;
    max-width: 320px;
    z-index: 10;
    transition: .4s;
}

.login .logo {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 1rem auto 2rem;
    font-size: 1.2rem;
    background: url("../images/logo_wh.png") no-repeat center;
    background-size: contain;
    width: 6rem;
    height: 6rem;
    opacity: .7;
}

.login h1 {
    color: white;
    font-family: "Montserrat";
    margin-bottom: .5em;
    text-align: center;
    text-transform: uppercase;
}

.login div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login svg {
    fill: #d8e0eb;
    position: absolute;
    left: .9rem;
    bottom: 2rem;
    z-index: 10;
}

.login label {
    display: none;
}

.login input {
    font-family: 'Poppins';
    color: white;
    text-indent: 1.3rem;
    padding: .7rem 1rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
}

.login button {
    padding: .7rem 1rem;
    border-radius: 50px;
    width: 100%;
    justify-content: center;
    font-family: "Poppins";
    font-size: 18px;
    transition: background-color .2s;
}

.login button:hover {
    background-color: #12d7da;
}


/* ============================================================
   Admin
   ============================================================ */

.admin {
    background: #333;
    color: white !important;
}

.admin a {
    color: rgba(255, 255, 255, .7);
    transition: color .2s;
}

.admin a:hover {
    color: rgba(255, 255, 255, 1);
}

admin .btn-cancel {
    background-color: rgba(255, 255, 255, .1);
}

.admin svg {
    fill: white;
}

.admin main {
    background: rgb(65 75 91);
}

.admin main header {
    flex-direction: row;
    align-items: center;
}

.admin .row {
    background-color: rgba(255, 255, 255, .1);
}

.admin label {
    background-color: rgba(255, 255, 255, .1) !important;
}

.admin .input-title,
.admin label {
    color: rgba(255, 255, 255, .7);
}

.admin input {
    background-color: rgba(255, 255, 255, .1);
    color: white;
}
