.ico-menu {
    position: absolute;
    top:0;
    right: 0;
    transform: scale(.7);
}

.ico-menu svg {
    width: 80px;
    height: 80px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
}

.ico-menu.active svg {
    transform: rotate(45deg);
}

.ico-menu path {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ico-menu svg path.top {
    stroke-dasharray: 40 139;
}

.ico-menu svg path.bottom {
    stroke-dasharray: 40 180;
}

.ico-menu.active svg path.top {
    stroke-dashoffset: -98px;
}

.ico-menu.active svg path.bottom {
    stroke-dashoffset: -138px;
}


html,
body {
}

header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 1;
}

header .ico-menu {
    display: none;
    transition: opacity .4s;
    z-index: 10;
}

header .menu {
    opacity: 0;
    display: none;
    transition: opacity .4s;
}

header .menu li {
    margin-left: 2rem;
}


header .ico-menu.active + .menu {
    opacity: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    transition: opacity .4s;
}

header .ico-menu.active + .menu li {
    font-size: 3rem;
}


p {
    font-family: "Poppins";
    color: var(--brightGray);
}

h1 {
    font: normal 10rem/1 "Teko";
    text-transform: uppercase;
    color: white;
}

h2 {
    font: 5rem/1 "Montserrat";
    color: white;
}

h3 {
    font: 1.8rem/1.2 "Poppins";
    color: white;
}

section {
    width: 100%;
    min-width: 1200px;
    min-height: 70vh;
    padding: 12rem 10vw;
    box-sizing: border-box;
    position: relative;
}

section > * {
    opacity: 0;
    transition: opacity .8s;
    user-select: none;
}

section .title {
    font-weight: normal;
    color: transparent;
    -webkit-text-stroke: 1px var(--darkmodeTertiaryColor);
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2rem;
    z-index: 10;
    user-select: none;
}

section .title::before {
    /*content: attr(data-count);*/
    font-family: "Ultra";
    display: flex;
    font-size: 1.2rem;
    color: white;
    text-indent: .5rem;
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: -1.5rem
}


/* =====================================================
   INTRO
   ===================================================== */
#intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    overflow: hidden;
}

#intro .image-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#intro #images {
    opacity: 0;
    transform: scale(1.1);
    animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }

}


#intro h1 {
    opacity: 0;
}

#intro p {
    font-size: 1.5rem;
    opacity: 1;
    position: relative;
}

#intro .text {
    display: none;
}

.text-typing {
    overflow: hidden;
    white-space: nowrap;
    width: 26.5em;
    animation: type 4s steps(30), blink 1s linear infinite;
    margin: 0;
    padding: 0;
    border-right: .1em solid;
}

#intro img {
    width: 100%;
}

#intro p {
}


/* =====================================================
   PRODUCTS
   ===================================================== */
#products .text {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    transform: translateY(2rem);
    z-index: 10;
    transition: all .6s;
}

#products .product-container:hover,
#products .product-container.active {
    cursor: pointer;
}

#products .product-container:hover .text,
#products .product-container.active .text {
    transform: translateY(0);
}

#products .product-container:hover .text p,
#products .product-container.active .text p {
    opacity: 1;
}

#products .text h3 {
    margin-bottom: 1rem;
    color: var(--brightGray);
}

#products .text p,
#products .text ul {
    opacity: 0;
    transition: .6s;
}

#products ul {
    opacity: 0;
    flex-direction: column;
    width: 90%;
    z-index: 10;
    transition: all .6s;
}

#products .product-container.active .text {
    position: relative;
    left: unset;
    bottom: unset;
    margin-bottom: 2rem;
}

#products .product-container.active ul {
    opacity: 1;
}

#products .product-container li {
    margin-bottom: .5rem;
    text-indent: -.8rem;
}

#products .product-container li::before {
    content: '-';
    margin-right: .5rem;
}

#products .flex-wrapper {
    display: flex;
}

#products .product-container {
    flex: 1 1 50%;
    padding: .5rem;
    display: flex;
    position: relative;
}

#products .product {
    padding: 2rem;
    flex: 1 1 auto;
    height: 50vh;
    min-height: 450px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-link);
    overflow-x: hidden;
    overflow-y: auto;
}

#products .product::before {
    content: '';
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    bottom: .5rem;
    opacity: .7;
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
    transition: .8s ease-in-out;
}

#products .open-modal-aibis .product::before {
    background-image: url("../images/background/04.jpg");

}

#products .open-modal-ptod .product::before {
    background-image: url("../images/background/03.jpg");
}

#products .product-container:hover .product::before,
#products .product-container.active .product::before {
    background-size: 170%;
    opacity: .2;
}

#products .product-container:hover .more {
    opacity: 1;
    fill: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: opacity .2s;
    z-index: 15;
}

#products .product-container .more,
#products .product-container.active .more {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =====================================================
   MEMBERS
   ===================================================== */
.member {
    display: flex;
}

#members::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/background/15.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .2;
    z-index: -1;
}

.image.d-yoon {
    background: url("../images/d-yoon.jpg") no-repeat bottom;
    background-size: cover;
    width: 40vw;
    height: 60vh;
    min-width: 400px;
    max-width: 500px;
    min-height: 550px;
    max-height: 650px;
    overflow: hidden;
}

#members .text {
    margin-left: 2rem;
    flex-direction: column;
}

#members ul {
    flex-direction: column;
}

#members li {
    display: flex;
    margin-bottom: .5rem;
}

#members h3 {
    font: bold 2rem/1 "Poppins";
    margin-bottom: 2rem;
}

#members h4 {
    color: var(--brightGray);
    flex: 0 0 200px;
    font-size: 14px;
}

#members .description {
    color: var(--brightGray);
    flex: 1 1 auto;
}


/* =====================================================
   PARTNERS
   ===================================================== */
#partners ul {
    position: relative;
    justify-content: space-around;
    display: flex;
    margin: 0 -.3rem;
    position: relative;
    overflow: hidden;
}

#partners li {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: .3rem;
    border: 1px solid var(--color-link);
    box-sizing: border-box;
    transition: opacity 0.1s;
}

#partners li:not(:last-of-type) {
}

#partners img {
    max-width: 100%;
    max-height: 60px;
}

/* =====================================================
   contact
   ===================================================== */
#contact {
    min-height: unset;
}

#contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/background/15.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .2;
    z-index: -1;
}

#contact ul {
    margin: 0 -10vw;
    display: flex;
}

#contact li {
    flex: 1 1 33.333%;
    text-align: center;
    padding: 0 3rem;
}

#contact ul li:not(:last-of-type) {
    border-right: 1px solid var(--color-link);
}

#contact h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

#contact p {
}


/* =====================================================
   CURSOR
   ===================================================== */
.cursor {
    position: absolute;
    background: white;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}

.cursor-follower {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}


/* =====================================================
   MODAL
   ===================================================== */
.modal h2 {
    font-size: 1.2rem;
    color: var(--modal-color-text);
    margin-bottom: 1rem;
}

.modal ul {
    font-family: Nanumsquare;
    flex-wrap: wrap
}

.modal li {
    margin-bottom: .5rem;
    text-indent: -.8rem;
}

.modal li::before {
    content: '-';
    margin-right: .5rem;
}


@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}


@media screen and (max-width: 768px) {
    .cursor, .cursor-follower, #container, .title-circle {
        display: none;
    }

    html,
    body {
        cursor: default;
    }

    body {
        font-size: 14px;
    }

    header a {
        padding: 0;
    }

    header .menu li {
        margin-left: 0;
    }

    section {
        padding: 10vh 1rem 5rem;
        min-width: unset;
        min-height: unset;
    }

    section .title::before {
        font-size: 1rem;
    }

    h2 {
        font-size: 12vw;
    }

    p {
        font-size: 14px;
    }

    .ico-menu {
        display: flex !important;
    }

    .menu {
        display: none !important;
    }


    #intro {
    }

    #intro h1 {
        font-size: 7rem;
    }

    #intro p {
        font-size: 1rem;
        margin-left: 0;
    }

    #intro .text-typing {
        display: none;
    }

    #intro .text {
        display: flex;
    }

    #intro img {
        width: auto;
        height: 100%;
    }

    #products .flex-wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }

    #products .product {
        min-height: unset;
    }

    .image.d-yoon {
        width: 100%;
        margin-left: 0;
        min-width: unset;
        min-height: unset;
    }

    #members .text {
        margin-left: 0;
    }

    #members h3 {
        font: normal 1.2rem/3 "Poppins"
    }

    #members h4 {
        flex: unset;
        margin-bottom: .2rem;
    }

    #members .description {
        margin-bottom: 1rem;
    }

    #members .member {
        flex-direction: column;
    }

    #members li {
        flex-direction: column;
    }

    #partners ul {
        width:100%;
        flex-direction: column;
    }

    #partners li {
        width: auto;
        padding: 1.5rem;
    }

    #partners img {
        width: auto
    }

    #contact ul {
        margin: 0;
        flex-direction: column;
    }

    #contact li {
        margin-bottom: 2rem;
        text-align: left;
        padding: 0;
    }

    #contact h3 {
        line-height: 2;
        margin-bottom: 0;
    }

    #contact ul li:not(:last-of-type) {
        border-right: 0;
    }
}

/* =====================================================
   ANIMATIONS
   ===================================================== */
@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-30px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}


@keyframes type {
    from {
        width: 0
    }
}

@keyframes blink {
    0%, 100% {
        border-color: transparent
    }
    50% {
        border-color: white
    }
}