<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<div class="container">
    <header>
        <div class="logo"><a href="/">main</a></div>
        <ul>
            <li>jangood1122</li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}

    {% block pagination %}
    {% endblock %}
</div>
</body>
</html>