<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Work+Sans&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<div class="container">
    <header>
        <div class="search">
            <svg x="0px" y="0px" viewBox="0 0 24 24" width="20px" height="20px">
                <g stroke-linecap="square" stroke-linejoin="miter" stroke="currentColor">
                    <line fill="none" stroke-miterlimit="10" x1="22" y1="22" x2="16.4" y2="16.4"/>
                    <circle fill="none" stroke="currentColor" stroke-miterlimit="10" cx="10" cy="10" r="9"/>
                </g>
            </svg>
            <label for="search-input">Search</label>
            <input class="js-shuffle-search" type="search" id="search-input" placeholder="project name ...">
        </div>
        <div class="cog">
            <a href="/admin">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 133 133" xml:space="preserve">
                    <g class="cog-icon">
                        <path class="st1" d="M102.4,71.8c0,0.7-0.6,1.5-1.3,1.7l-8.6,1.3c-0.5,1.5-1.1,2.9-1.8,4.3c1.6,2.3,3.3,4.3,5,6.4
                            c0.3,0.3,0.5,0.7,0.5,1.2c0,0.4-0.1,0.7-0.4,1.1c-1.1,1.5-7.4,8.4-9,8.4c-0.4,0-0.8-0.2-1.2-0.4l-6.4-5c-1.4,0.7-2.8,1.3-4.3,1.8
                            c-0.3,2.8-0.6,5.9-1.4,8.7c-0.2,0.7-0.8,1.3-1.7,1.3H61.3c-0.8,0-1.6-0.6-1.7-1.4l-1.3-8.6c-1.4-0.5-2.8-1-4.2-1.7l-6.6,5
                            c-0.3,0.3-0.7,0.4-1.2,0.4c-0.4,0-0.8-0.2-1.2-0.5c-2.5-2.2-5.7-5.1-7.7-7.8c-0.2-0.3-0.3-0.7-0.3-1.1c0-0.4,0.1-0.7,0.4-1.1
                            c1.6-2.1,3.3-4.2,4.9-6.4c-0.8-1.5-1.4-3-1.9-4.6L32,73.3c-0.8-0.1-1.4-0.9-1.4-1.7V61.2c0-0.7,0.6-1.5,1.3-1.7l8.7-1.3
                            c0.5-1.5,1.1-2.9,1.8-4.3c-1.6-2.2-3.3-4.3-5-6.4c-0.3-0.3-0.5-0.7-0.5-1.1c0-0.4,0.2-0.7,0.4-1.1c1.1-1.5,7.4-8.4,9-8.4
                            c0.4,0,0.8,0.2,1.2,0.5l6.4,5c1.4-0.7,2.8-1.3,4.3-1.8c0.3-2.8,0.6-5.9,1.4-8.7c0.2-0.7,0.8-1.3,1.7-1.3h10.4
                            c0.8,0,1.6,0.6,1.7,1.4l1.3,8.6c1.4,0.5,2.8,1,4.2,1.7l6.6-5c0.3-0.3,0.7-0.4,1.1-0.4c0.4,0,0.8,0.2,1.2,0.5
                            c2.5,2.3,5.7,5.2,7.7,7.9c0.2,0.3,0.3,0.7,0.3,1c0,0.4-0.1,0.7-0.4,1.1c-1.6,2.1-3.3,4.2-4.9,6.4c0.8,1.5,1.4,3,1.9,4.6l8.5,1.3
                            c0.8,0.1,1.4,0.9,1.4,1.7V71.8z M66.5,54.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S73.1,54.5,66.5,54.5z"/>
                    </g>
                </svg>
            </a>
        </div>
    </header>
    {% block content %}

    {% endblock %}

    {% block pagination %}
    {% endblock %}
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
<script src='https://unpkg.com/shufflejs@5'></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
</body>
</html>