{% extends "base_admin.html" %} {% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    var dateFormat = "yy/mm/dd",
      from = $("#from")
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1
        })
        .on("change", function () {
          to.datepicker("option", "minDate", getDate(this));
        }),
      to = $("#to").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1
      })
        .on("change", function () {
          from.datepicker("option", "maxDate", getDate(this));
        });

    function getDate(element) {
      var date;
      try {
        date = $.datepicker.parseDate(dateFormat, element.value);
      } catch (error) {
        date = null;
      }

      return date;
    }
  });
</script>
<main class="list-group-buying wrapper">
  <div class="title">
    <h1>공동구매 현황</h1>
  </div>
  <div class="content">
    <section>
    <div class="table-header">
      <div class="search">
        <label for="from">기간검색</label>
        <input type="text" id="from" name="from" />
        <input type="text" id="to" name="to" />

        <span>대학교</span>
        <input type="text" />
        <span>이름</span>
        <input type="text" />
        <span>학과</span>
        <input type="text" />
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
            <path
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="table">
      <ul class="row title">
        <li>주문번호</li>
        <li>주문자</li>
        <li>대학교</li>
        <li>학과</li>
        <li>학년</li>
        <li>주문일</li>
        <li>견적 유효일</li>
        <li>최종금액</li>
        <li>승인완료일</li>
        <li>상태</li>
        <li>버튼</li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>구민사</li>
        <li>대구보건대</li>
        <li>보건환경과</li>
        <li>1</li>
        <li>2016-08-22 09:36:53</li>
        <li><input type="number" /></li>
        <li>4,795,000</li>
        <li>2016-08-22 09:37:40</li>
        <li>
          <div class="selectbox">
            <select name="" id="">
              <option value="">견적승인</option>
              <option value="">견적요청</option>
              <option value="">결제완료</option>
              <option value="">출고준비</option>
              <option value="">출고완료</option>
            </select>
          </div>
          <button>변경</button>
        </li>
        <li>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z" />
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="table-footer">
      <div class="pagenation">
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a class="active" href="">1</a>
        <a href="">2</a>
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
        <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
      </div>
    </div>
    </section>
    <section>
      
    <div class="table inside">
      <ul class="row title">
        <li>주문번호</li>
        <li>ISBN</li>
        <li>도서명</li>
        <li>정가</li>
        <li>권당 할인율</li>
        <li>권당 예상금액</li>
        <li>권당 최종금액</li>
        <li>주문수량</li>
        <li>최종금액</li>
      </ul>
      <ul class="row">
        <li>H20160822093653</li>
        <li>979-11-5813-782-3</li>
        <li>2021 수질환경기사 산업기사 실기</li>
        <li>30,000</li>
        <li>
          <input type="number" />
          <button>계산</button>
        </li>
        <li>
          <input type="number" value="29700" />
        </li>
        <li>
          <input type="number" value="29700" />
          <button>계산</button>
        </li>
        <li>35</li>
        <li><input type="number" value="1085000"></li>
      </ul>
      <button class="btn-save">저장</button>
    </div>
    </section>
  </div>
</main>
{% endblock %}