{% extends "base_admin.html" %} {% block content %}
<main class="images wrapper">
  <div class="title">
    <h1>로고 및 배너 관리</h1>
    <div class="buttons">
      <button onclick="location.href='images_add.html'">등록하기</button>
    </div>
  </div>
  <div class="content">
    <section>
      <form id="file-upload-form" class="uploader">
        <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

        <label for="file-upload" id="file-drag">
          <img id="file-image" src="#" alt="Preview" class="hidden">
          <div id="start">
            <i class="fa fa-download" aria-hidden="true"></i>
            <div>로고 이미지를 변경합니다.</div>
            <div id="notimage" class="hidden">Please select an image</div>
            <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
          </div>
          <div id="response" class="hidden">
            <div id="messages"></div>
          </div>
        </label>
      </form>
    </section>
    <section>
      <div class="table">
        <ul class="row title">
          <li>
            <div class="checkbox">
              <input id="checkAll" type="checkbox" />
              <label for="checkAll"></label>
            </div>
          </li>
          <li>순서</li>
          <li>이미지</li>
          <li>URL</li>
        </ul>
        <a href="images_update.html">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check01" type="checkbox" name="books" />
                <label for="check01"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check02" type="checkbox" name="books" />
                <label for="check02"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check03" type="checkbox" name="books" />
                <label for="check03"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check04" type="checkbox" name="books" />
                <label for="check04"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check05" type="checkbox" name="books" />
                <label for="check05"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check06" type="checkbox" name="books" />
                <label for="check06"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check07" type="checkbox" name="books" />
                <label for="check07"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check08" type="checkbox" name="books" />
                <label for="check08"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check09" type="checkbox" name="books" />
                <label for="check09"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
        <a href="#">
          <ul class="row">
            <li>
              <div class="checkbox">
                <input id="check10" type="checkbox" name="books" />
                <label for="check10"></label>
              </div>
            </li>
            <li>0</li>
            <li><img src="../assets/images/logo/kyobo.gif" alt="교보문고 로고 이미지"></li>
            <li>http://www.kyobobook.co.kr</li>
            <li></li>
          </ul>
        </a>
      </div>
      <div class="table-footer">
        <div class="buttons">
          <button>삭제</button>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}