{% extends "base_admin.html" %}
{% block content %}
<main class="wrapper list">
  <div class="title">
    <h1>도서 조회 및 수정</h1>
    <div class="buttons">
      <button>엑셀파일로 저장</button>
    </div>
  </div>
  <div class="content">
    <div class="table-header">
      <ul>
        <li>
          <span>총 종수</span>
          <span>571</span>
        </li>
      </ul>
      <div class="search">
        <input type="search" />
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="table">
      <ul class="row title">
        <li>
          <div class="checkbox">
            <input id="checkAll" type="checkbox" />
            <label for="checkAll"></label>
          </div>
        </li>
        <li>번호</li>
        <li>도서명</li>
        <li>저자</li>
        <li>단가</li>
        <li>대분류</li>
        <li>소분류</li>
        <li>수량</li>
      </ul>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check01" type="checkbox" name="books" />
              <label for="check01"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check02" type="checkbox" name="books" />
              <label for="check02"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check03" type="checkbox" name="books" />
              <label for="check03"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check04" type="checkbox" name="books" />
              <label for="check04"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check05" type="checkbox" name="books" />
              <label for="check05"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check06" type="checkbox" name="books" />
              <label for="check06"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check07" type="checkbox" name="books" />
              <label for="check07"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check08" type="checkbox" name="books" />
              <label for="check08"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check09" type="checkbox" name="books" />
              <label for="check09"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
      <a href="#">
        <ul class="row">
          <li>
            <div class="checkbox">
              <input id="check10" type="checkbox" name="books" />
              <label for="check10"></label>
            </div>
          </li>
          <li>571</li>
          <li>전산회계1급(2021) + 전과목 무료동영상</li>
          <li>전민영</li>
          <li>22,000원</li>
          <li>자격수험서</li>
          <li>그 외 자격증</li>
          <li>100</li>
        </ul>
      </a>
    </div>
    <div class="table-footer">
      <div class="pagenation">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a class="active" href="">1</a>
        <a href="#">2</a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
      </div>
      <div class="buttons">
        <button>삭제</button>
      </div>
    </div>
  </div>
</main>
{% endblock %}