{% extends "base_admin.html" %} {% block content %}
<main class="wrapper list sample-book">
  <div class="title">
    <h1>견본도서 신청현황</h1>
  </div>
  <div class="content">
    <div class="table-header">
      <div class="search">
        <div class="selectbox">
          <select name="" id="">
            <option value="">대학명</option>
            <option value="">교수명</option>
          </select>
        </div>
        <input type="search" />
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
        </svg>
      </div>
    </div>
    <div class="table">
      <ul class="row title">
        <li class="counter">번호</li>
        <li class="isbn">ISBN</li>
        <li class="book-title">도서명</li>
        <li class="author">저자</li>
        <li class="published">출판일</li>
        <li class="quantity">수량</li>
        <li class="date">요청일</li>
        <!-- <li>이름</li>
        <li>연락처</li>
        <li>대학명/학과명</li>
        <li>이메일</li>
        <li>주소</li>
        <li>상태</li> -->
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
      <ul class="row">
        <li class="counter">1</li>
        <li class="isbn">9791158132514</li>
        <li class="book-title">가스 기능장 필기(최신판)</li>
        <li class="author">주종율</li>
        <li class="published">2016-05-01</li>
        <li class="quantity">1</li>
        <li class="date">2021-05-17 21:46:51</li>
        <li class="education">한국폴리텍대학 목포캠퍼스 / 산업설비과</li>
        <li class="user-name">송승훈</li>
        <li class="phone">061-450-7271 / 010-2768-0208</li>
        <li class="email">ssh1@kopo.ac.kr</li>
        <li class="address">[534-703] 전라남도 무안군 청계면 한국폴리텍대학 목포캠퍼스 산업설비과</li>
        <li class="buttons">
          <span>OK</span>
          <button>취소</button>
          <button>삭제</button>
        </li>
      </ul>
    </div>
    <div class="table-footer">
      <div class="pagenation">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a class="active" href="">1</a>
        <a href="#">2</a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}