{% extends "base_admin.html" %}
{% block content %}
<div class="content">
    <section class="header-admin">
        <ul>
            <li><a class="active" href="user_list.html">사용자 관리</a></li>
            <li><a href="settings.html">정보 수정</a></li>
        </ul>
    </section>
    <section class="title">
        <h1>사용자 정보 관리</h1>
        <div class="button-container">
            <button class="button-submit">수정</button>
            <button class="button-cancel" onclick="history.back()">취소</button>
        </div>
    </section>
    <section class="content-view">
        <div class="input-container toggle-activation">
            <div class="toggle">
                <input type="checkbox" id="toggle-activation" class="toggle-checkbox" checked="checked"/>
                <label class="toggle-button" for="toggle-activation">
                    <span class="toggle-feature"></span>
                </label>
            </div>
            <label for="toggle-activation">계정 활성화</label>
        </div>
        <div class="input-container">
            <label for="userName">이름</label>
            <input type="text" id="userName" value="홍길동"/>
        </div>
        <div class="input-container">
            <label for="userName">사번</label>
            <input type="number" id="userNumber" value="54845633"/>
        </div>
        <div class="input-container">
            <label for="userName">연락처</label>
            <input type="number" id="phoneNumber" value="01094364547"/>
        </div>
        <div class="input-container">
            <label for="tempPassword">임시 비밀번호 설정</label>
            <div class="temp-password">
                <input type="text" id="tempPassword"/>
                <button>확인</button>
            </div>
        </div>
        <div class="input-container">
            <label for="bedNumber">병동</label>
            <div class="selectbox">
                <select name="bedNumber" id="bedNumber">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="input-container">
            <label for="event">이벤트</label>
            <div class="selectbox">
                <select name="bedNumber" id="event">
                    <option value="event1">event 1</option>
                    <option value="event2" selected>event 2</option>
                    <option value="event3">event 3</option>
                    <option value="event4">event 4</option>
                    <option value="event5">event 5</option>
                </select>
            </div>
        </div>
    </section>
</div>
<div class="button-container">
    <button class="button-submit">수정</button>
    <button class="button-cancel" onclick="history.back()">취소</button>
</div>
{% endblock %}