{% extends "mel_base_admin.html" %}
{% block content %}
<div class="content">
    <section class="header-admin">
        <ul>
            <li><a href="user_list.html">사용자 관리</a></li>
            <li><a href="settings.html">정보 수정</a></li>
        </ul>
    </section>
    <section class="title">
        <h1>내 계정 관리</h1>
        <div class="button-container">
            <button class="button-submit">수정</button>
            <button class="button-cancel" onclick="history.back()">취소</button>
        </div>
    </section>
    <section class="content-view">
        <div class="input-container">
            <label for="superUserName">이름</label>
            <input type="text" id="superUserName" readonly/>
        </div>
        <div class="input-container">
            <label for="setPassword">비밀번호 변경</label>
            <input type="password" id="setPassword"/>
        </div>
        <div class="input-container">
            <label for="checkPassword">비밀번호 확인</label>
            <input type="password" id="checkPassword"/>
        </div>
    </section>
</div>
<div class="button-container">
    <button class="button-submit">수정</button>
    <button class="button-cancel" onclick="history.back()">취소</button>
</div>
{% endblock %}