{% extends "base_main.html" %}
{% block content %}
{% import 'header.html' as menu %}
{{menu.active('index')}}
<div class="main content">
  <section id="slider">
    <div class="text-slider">
      <div>
        <div class="text wrapper">
          <div class="title">
            <strong>Smart</strong><span>IIoT</span>
          </div>
          <p>산업 환경에서 사용되는 IoT 기술로 데이터를 처리하는 고급 분석 플랫폼 (Smart Industrial Internet of Things)</p>
          <button onclick="location.href='solutions-iiot.html'">Read more</button>
        </div>
      </div>
      <div>
        <div class="text wrapper">
          <div class="title">
            <strong>Remote</strong><span>Control System</span>
          </div>
          <p>원격제어 및 통합 모니터링 시스템</p>
          <button onclick="location.href='solutions-rcs.html'">Read more</button>
        </div>
      </div>
      <div>
        <div class="text wrapper">
          <div class="title">
            <strong>Smart</strong><span>Factory Automation</span>
          </div>
          <p>산업설비, 생산물류 운영시스템, RTMS, 공장 자동화 시스템, 통합 시스템</p>
          <button onclick="location.href='solutions-fa.html'">Read more</button>
        </div>
      </div>
      <div>
        <div class="text wrapper">
          <div class="title">
            <strong>Digital</strong><span>Transformation</span>
          </div>
          <p>사물 인터넷(IoT), 클라우드 컴퓨팅, 인공지능(AI),
            빅데이터 솔루션 등 정보통신기술(ICT)을 플랫폼으로 구축·활용</p>
          <button onclick="location.href='solutions-dt.html'">Read more</button>
        </div>
      </div>
    </div>
  </section>
  <section id="business-area" class="wrapper">
    <h1>
      <ul class="js-splitted-text">business area</ul>
    </h1>
    <div class="cards">
      <a href="solutions-iiot.html" class="card">
        <div class="title">Smart<br>IIoT</div>
        <ul>
          <li>Industrial IoT System</li>
          <li>EQP/MES Data Integration</li>
          <li>Big Data Messaging Middleware</li>
        </ul>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z" />
          </svg>
        </button>
      </a>
      <a href="solutions-rcs.html" class="card">
        <div class="title">Remote Control System</div>
        <ul>
          <li>Remote Control System<br />(S/W, H/W)</li>
          <li>Process Control System<br />(PC, HMI, CCTV, I/O Unit)</li>
        </ul>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z" />
          </svg>
        </button>
      </a>
      <a href="solutions-fa.html" class="card">
        <div class="title">Smart Factory Automation</div>
        <ul>
          <li>RTMS (Real Time Monitoring System)</li>
          <li>DMS (Defect Management System)</li>
          <li>CIM/GEM</li>
          <li>EQP/PLC Control</li>
        </ul>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z" />
          </svg>
        </button>
      </a>
      <a href="solutions-dt.html" class="card">
        <div class="title">Digital Transformation</div>
        <ul>
          <li>A.I. Deep Learning</li>
          <li>RSS (Remote Support System)</li>
          <li>System Parts</li>
          <li>- H/W : HP, Dell, Renovo, Etc.</li>
          <li>- S/W : Management Service IT Infrastructure</li>
        </ul>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z" />
          </svg>
        </button>
      </a>
    </div>
  </section>
  <section class="services-01">
    <div class="image-wrapper image-wrapper-01">
      <div class="image"></div>
    </div>
    <div class="wrapper">
      <h1 class="js-splitted-text">services</h1>
      <div class="si">
        <div class="title">
          <span>System Integration</span>
        </div>
        <ul>
          <li>전문 컨설턴트에 의한 시스템 설계로 안정된 시스템 설계 및 구현을 통해 원활한 서비스 지원</li>
          <li>기타 SI개발 솔루션을 적용한 시스템의 유연성 부여 및 통합 관리 시스템 지원</li>
          <li>설계 단계부터 구현 단계까지의 토털 컨설팅 서비스를 통한 유지보수의 융통성부여 및 업그레이드 용이</li>
          <li>위탁, 공동개발 등 다양한 개발 방식지원을 통한 단가감소 효과 유발</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="services-02">
    <div class="image-wrapper image-wrapper-02">
      <div class="image"></div>
    </div>
    <div class="wrapper">
      <div class="sc">
        <div class="title">
          <span>System Consulting</span>
        </div>
        <ul>
          <li>S/W 성능 및 운영 범주에 가장 적합한 전산장비 도입으로 최적화 전산시스템 성능 발휘</li>
          <li>하드웨어 전문가에 의한 일체의 전산장비 및 각종 기본장치에 대한 설치와 성능 테스트를 통해 불필요한 시간단축 및 가장 안정적인 시스템 설비제공
          </li>
          <li>전산설비의 안정적 운영을 위한 하드웨어 A/S 서비스를 통해 장애 발생시 절대적 복구 시간 단축</li>
          <li>향후 업그레이드 조치 시 기존 전산설비 분석으로 대체 전산설비 도입</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="customers" class="customers">
    <div class="wrapper">
      <h1 class="js-splitted-text">customers</h1>
      <div class="customers">
        <div><img src="assets/images/logo/ss_display.png" alt=""></div>
        <div><img src="assets/images/logo/ss_semi.png" alt=""></div>
        <div><img src="assets/images/logo/imarket.png" alt=""></div>
        <div><img src="assets/images/logo/oncell_tech.png" alt=""></div>
        <div><img src="assets/images/logo/wonik.png" alt=""></div>
        <div><img src="assets/images/logo/sk_siltron.png" alt=""></div>
        <div><img src="assets/images/logo/charm.png" alt=""></div>
        <div><img src="assets/images/logo/yang.png" alt=""></div>
        <div><img src="assets/images/logo/ap_systems.png" alt=""></div>
        <div><img src="assets/images/logo/enc_tech.png" alt=""></div>
        <div><img src="assets/images/logo/atomy.png" alt=""></div>
        <div><img src="assets/images/logo/innodep.png" alt=""></div>
        <div><img src="assets/images/logo/lilycover.png" alt=""></div>
        <div><img src="assets/images/logo/dsht.png" alt=""></div>
        <div><img src="assets/images/logo/bukedu.png" alt=""></div>
        <div><img src="assets/images/logo/gsi.png" alt=""></div>
        <div><img src="assets/images/logo/volans.png" alt=""></div>
        <div><img src="assets/images/logo/humin_tech.png" alt=""></div>
        <div><img src="assets/images/logo/ani.png" alt=""></div>
        <div><img src="assets/images/logo/hive_vision.png" alt=""></div>
      </div>
    </div>
  </section>
</div>
<script>
  $('.text-slider').slick({
    infinite: true,
    speed: 500,
    fade: true,
    autoplay: true,
    arrows: true,
    dots: true,
    cssEase: 'linear',
    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: false,
          dots: false
        }
      },
    ]
  });

  if (matchMedia("screen and (max-width: 767px)").matches) {
    $('.customers').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
    });

    document.querySelector('div[data-scroll]').removeAttribute('data-scroll')
  }
</script>
{% endblock %}