{% extends "base.html" %}
{% block content %}
{% import 'header.html' as menu %}
{{menu.active('solutions')}}
<div class="content solutions rcs sub">
  <div class="title">
    <h1 class="wrapper">solutions</h1>
  </div>
  <div class="wrapper">
    <ul class="sub-menu">
      <li><a href="solutions-iiot.html">Smart IIoT</a></li>
      <li class="active"><a href="solutions-rcs.html">Remote Control System</a></li>
      <li><a href="solutions-fa.html">Smart Factory Automation</a></li>
      <li><a href="solutions-dt.html">Digital Transformation</a></li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="sub-title">
      <h2>RCS <small>Remote Control System</small></h2>
    </div>
    <section class="systems">
      <div>
        <h3>원격장치 통합관리</h3>
        <p>원격지에 있는 다양한 원격장치를 원격 통합관리 및 모니터링 할 수 있는 특화된 솔루션입니다.</p>
        <ul>
          <li>PC & Server</li>
          <li>IP Camera(CCTV)</li>
          <li>VNC Server</li>
          <li>DVR / NVR</li>
          <li>PC 기반 장비, PLC Touch Screen
            (GOT, Pro-Face Remote S/W PC)
            (키오스크, 반도체 검사장비 등)
          </li>
        </ul>
      </div>
      <div>
        <h3>생산공정 통합관리</h3>
        <p>Display, 반도체, 자동차등 제조기업의 생산공정을 안정적으로 원격 제어 및 통합 모니터링 하는 솔루션입니다.</p>
      </div>
      <div>
        <h3>고객중심 커스터마이징</h3>
        <p>독자적인 원격제어 및 통합 모니터링 기술을 기반으로 고객이 요청한 커스터마이징을 적극 수행하는 사용자 중심의 솔루션입니다.</p>
      </div>
    </section>
    <section>
      <img src="assets/images/sub/solution-rcs.jpg" alt="">
    </section>
    <section>
      <h3>주요기능</h3>
      <div class="rcs-function">
        <div><img src="assets/images/sub/solution-rcs-function1.jpg" alt=""></div>
        <div><img src="assets/images/sub/solution-rcs-function2.jpg" alt=""></div>
        <div><img src="assets/images/sub/solution-rcs-function3.jpg" alt=""></div>
        <div><img src="assets/images/sub/solution-rcs-function4.jpg" alt=""></div>
      </div>
    </section>
    <section>
      <h3>제품목록</h3>
      <div class="table">
        <ul class="row th">
          <li>Type</li>
          <li>Product Name<br />
            Model Name
          </li>
          <li>Resolution</li>
          <li>FPS</li>
          <li>Video Delay(Full)<br />
            Video Delay(Multi)
          </li>
          <li>Video Switching Delay<br />
            Keyboard/Mouse Delay
          </li>
        </ul>
        <ul class="row">
          <li>S/W</li>
          <li>NQVM RCS Expert Edition Server/Viewer Ver2.5.4<br />
            NQVM RCS Expert Edition Server/Viewer Ver2.5.4
          </li>
          <li>All</li>
          <li>≤25fps</li>
          <li>≤16~80ms<br />
            ≤16~80ms
          </li>
          <li>≤0.5s<br />
            ≤16~64ms
          </li>
        </ul>
        <ul class="row">
          <li>S/W</li>
          <li>NQVM RCS Expert Edition Server/Viewer Ver2.5.4 Hyper<br />
            NQVM RCS Expert Edition Server/Viewer Ver2.5.4 Hyper
          </li>
          <li>All</li>
          <li>≤60fps</li>
          <li>≤16~80ms<br />
            ≤16~80ms
          </li>
          <li>≤0.5s<br />
            ≤16~64ms
          </li>
        </ul>
        <ul class="row">
          <li>H/W</li>
          <li>KVMoIP Lite Encoder 30fps<br />
            ND100U-KAD-30L
          </li>
          <li>≤1920x1080p/1200p</li>
          <li>≤30fps</li>
          <li>≤128ms<br />
            ≤128ms
          </li>
          <li>≤0.5s<br />
            ≤16~64ms
          </li>
        </ul>
        <ul class="row">
          <li>H/W</li>
          <li>KVMoIP Standard Encoder 30fps
            ND100U-KAD-30S
          </li>
          <li>≤1920x1080p/1200p</li>
          <li>≤30fps</li>
          <li>≤80~96ms<br />
            ≤80~96ms
          </li>
          <li>≤0.5s<br />
            ≤16~64ms
          </li>
        </ul>
        <ul class="row">
          <li>H/W</li>
          <li>KVMoIP Standard Encoder 60fps
            ND100U-KAD-60S
          </li>
          <li>≤1920x1080p/1200p</li>
          <li>≤60fps</li>
          <li>≤64~80ms<br />
            ≤64~80ms
          </li>
          <li>≤0.5s<br />
            ≤16~64ms
          </li>
        </ul>
        <ul class="row">
          <li>H/W</li>
          <li>KVMoIP Professional Encoder 60fps
            ND100U-KAD-60P
          </li>
          <li>≤1920x1080p/1200p</li>
          <li>≤60fps</li>
          <li>≤32~48ms<br />
            ≤32~48ms
          </li>
          <li>≤0.5s<br />
            ≤16~64ms
          </li>
        </ul>
        <ul class="row">
          <li>H/W</li>
          <li>KVMoIP Professional Encoder 30fps 4K
            ND100U-KAD-30P-4K
          </li>
          <li>≤3840x2160p</li>
          <li>≤30fps</li>
          <li>≤48~64ms<br />
            ≤48~64ms
          </li>
          <li>≤0.5s<br />
            ≤16~64ms
          </li>
        </ul>
        <ul class="row">
          <li>H/W</li>
          <li>KVMoIP Professional Encoder 30fps 4K
            ND100U-KAD-30P-4K
          </li>
          <li>≤3840x2160p</li>
          <li>≤60fps</li>
          <li>≤32~48ms<br />
            ≤32~48ms
          </li>
          <li>≤0.5s<br />
            ≤16~64ms
          </li>
        </ul>
      </div>
    </section>
    <section class="nqvm">
      <h3>주요활용처</h3>
      <!--                <p>독자적인 기술력을 가진 NQVM 주요활용처</p>-->
      <ul>
        <li>
          <img src="assets/images/solutions/rcs/01.png" alt="">
          <span>생산설비 원격제어</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/02.png" alt="">
          <span>중요시스템 서버관리</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/03.png" alt="">
          <span>리소스 알람&모니터링</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/04.png" alt="">
          <span>산업설비와 연동한 원격관리</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/05.png" alt="">
          <span>통합관제센터 구축</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/06.png" alt="">
          <span>사내 전산자원 원격관리</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/07.png" alt="">
          <span>제조기업 제품 원격검사</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/08.png" alt="">
          <span>키오스크&DID</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/09.png" alt="">
          <span>원격 교육</span>
        </li>
        <li>
          <img src="assets/images/solutions/rcs/10.png" alt="">
          <span>생산공정 통합관리 및 모니터링</span>
        </li>
      </ul>
    </section>
  </div>
</div>
<script>
  $('.rcs-function').slick({
    infinite: true,
    speed: 500,
    fade: true,
    autoplay: true,
    arrows: true,
    dots: true,
    cssEase: 'linear'
  });
</script>
{% endblock %}