{% extends "base.html" %} 
{% block content %}
<main class="sub bookstore wrapper">
  <aside>
    <h3>정보안내</h3>
      <a href="bookstore.html">서점안내</a>
      <a href="academy.html">학원안내</a>
      <a href="bank.html">입금계좌안내</a>
      <a href="returns.html">반품/교환안내</a>
      <a href="books_all.html">도서정보 전체보기</a>
  </aside>
  <div class="content">
    <div class="breadscrumb">
      <a href="">Home</a>
      <a href="">정보안내</a>
      <a href="">서점안내</a>
    </div>
    <div class="title">
      <h2>서점안내</h2>
      <p>도서출판 구민사의 서적을 만날 수 있는 온라인 서점 및 전국 오프라인 서점정보입니다.</p>
    </div>
    <section>
      <h3>온라인 서점</h3>
      <div>
        <a href="http://www.kyobobook.co.kr/">
          <img src="assets/images/logo/bookstore/kyobo.jpg" alt="">
          <span>교보문고</span>
        </a>
      </div>
    </section>
  </div>
</main>
{% endblock %}