{% extends "base.html" %}
{% block content %}
<header>
  <button class="btn-back" onclick="history.back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
      <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z" />
    </svg>
  </button>
  <div class="title">CCTV 상세정보</div>
</header>
<main class="content cctv-details">
  <section class="title">
    <strong>W2P002-14_1_백석동 911(51호공원)_PTZ</strong>
    <p>충청남도 천안시 서북구 백석동 911</p>
    <button class="btn-navigation" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <path
          d="M21.71 11.29l-9-9c-.39-.39-1.02-.39-1.41 0l-9 9c-.39.39-.39 1.02 0 1.41l9 9c.39.39 1.02.39 1.41 0l9-9c.39-.38.39-1.01 0-1.41zM14 14.5V12h-4v3H8v-4c0-.55.45-1 1-1h5V7.5l3.5 3.5-3.5 3.5z" />
      </svg>
      <span>내비게이션</span>
    </button>
  </section>
  <section class="view">

    <!-- 뷰 영역 -->
    <div class="view-detail">
      <img style="width: 100%"
        src="https://images.unsplash.com/photo-1533106497176-45ae19e68ba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
        alt="">
    </div>

    <button class="btn-refresh">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z" />
      </svg>
      <span>새로고침</span>
    </button>
  </section>
  <section class="information">
    <div class="row">
      <span>식별번호</span>
      <span>W2P002-14_1</span>
    </div>
    <div class="row">
      <span>지역코드</span>
      <span>CHEONAN</span>
    </div>
    <div class="row">
      <span>모델명</span>
      <span>기타</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
    <div class="row">
      <span>자산이름</span>
      <span>W2P002-14_1_백석동 911(51호공원)_PTZ</span>
    </div>
  </section>
</main>
<footer>
  <ul class="footer-menu">
    <li class="active">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z" />
      </svg>
      <span>CCTV</span>
    </li>
    <li>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-6 15h-2v-2h2v2zm0-4h-2V8h2v6zm-1-9c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z" />
      </svg>
      <span>장애관리</span>
    </li>
    <li>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
      </svg>
      <span>자산관리</span>
    </li>
    <li>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M20 6h-3V4c0-1.11-.89-2-2-2H9c-1.11 0-2 .89-2 2v2H4c-1.11 0-2 .89-2 2v11c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zM9 4h6v2H9V4zm11 15H4v-2h16v2zm0-5H4V8h3v2h2V8h6v2h2V8h3v6z" />
      </svg>
      <span>업무관리</span>
    </li>
    <li onclick="location.href='complaints.html'">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M22 3H2C.9 3 0 3.9 0 5v14c0 1.1.9 2 2 2h20c1.1 0 1.99-.9 1.99-2L24 5c0-1.1-.9-2-2-2zM8 6c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H2v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1zm3.85-4h1.64L21 16l-1.99 1.99c-1.31-.98-2.28-2.38-2.73-3.99-.18-.64-.28-1.31-.28-2s.1-1.36.28-2c.45-1.62 1.42-3.01 2.73-3.99L21 8l-1.51 2h-1.64c-.22.63-.35 1.3-.35 2s.13 1.37.35 2z" />
      </svg>
      <span>민원관리</span>
    </li>
  </ul>
</footer>
{% endblock %}