{% extends "base.html" %}
{% block content %}
<aside>
    <header>
        <div class="logo"></div>
        <button class="btn-login" onclick="location.href='login.html'">login</button>
    </header>
    {% import 'macros/nav-macro.nunjucks' as nav %}
    {{nav.active('clinicalTrialPatient_upload')}}
</aside>
<main class="patient_add">
    <header>
        <h3>임상시험 대상환자 정보 업로드</h3>
        <button>등록</button>
    </header>
    <section>
        <div class="row">
            <div class="input-title">
                파일 선택
            </div>
            <button class="btn-file">
                <span>파일 찾기</span>
                <input type="file" accept=".csv" name="FileAttachment" id="FileAttachment" class="upload"/>
            </button>
            <span class="upload-file">Maximum file size is 100mb</span>
        </div>
    </section>
</main>
</div>
{% endblock %}
