{% extends "base_edit.html" %}
{% block content %}
<aside>
    <header>
        <div class="logo"></div>
        <button class="btn-login" onclick="location.href='login.html'">login</button>
    </header>
    {% import 'macros/nav-macro.nunjucks' as nav %}
    {{nav.active('clinicalTrialPatient_add')}}
</aside>
<main class="clinical-trial-patient-add">
    <header>
        <h3>임상시험 참여자 상세정보 추가<small>환자 ID: 6544513</small></h3>
        <button>등록</button>
    </header>
    <section>
        <div class="row">
            <div class="input-title required">병원</div>
            <div class="input-select">
                <div>
                    <input type="radio" name="select-hospital" id="suwon">
                    <label for="suwon">수원병원</label>
                </div>
                <div>
                    <input type="radio" name="select-hospital" id="ansung">
                    <label for="ansung">안성병원</label>
                </div>
                <div>
                    <input type="radio" name="select-hospital" id="euijungbu">
                    <label for="euijungbu">의정부병원</label>
                </div>
                <div>
                    <input type="radio" name="select-hospital" id="pocheon">
                    <label for="pocheon">포천병원</label>
                </div>
                <div>
                    <input type="radio" name="select-hospital" id="paju">
                    <label for="paju">파주병원</label>
                </div>
                <div>
                    <input type="radio" name="select-hospital" id="icheon">
                    <label for="icheon">이천병원</label>
                </div>
                <div>
                    <input type="radio" name="select-hospital" id="ajou">
                    <label for="ajou">아주대병원</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="input-title">조사일</div>
                <input class="datepicker" type="text" id="investigationDate">
                <input type="time" value="00:00:00">
            </div>
            <div class="column">
                <div class="input-title required">연구 ID</div>
                <div class="selectbox">
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="input-title">감염추정지역</div>
                <div class="selectbox">
                    <select>
                        <option value="">특별시/도</option>
                    </select>
                </div>
                <div class="selectbox">
                    <select>
                        <option value="">시/군/구</option>
                    </select>
                </div>
            </div>
            <div class="column col-confirmation-number">
                <div class="input-title required">확진번호</div>
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="input-title">감염자 접촉여부</div>
            <div class="input-select">
                <div>
                    <input type="radio" name="select-contactInfected" id="contactInfected-yes">
                    <label for="contactInfected-yes">yes</label>
                </div>
                <div>
                    <input type="radio" name="select-contactInfected" id="contactInfected-no">
                    <label for="contactInfected-no">no</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-title">감염자 접촉일시</div>
            <input class="datepicker" type="text" id="contactInfectedDate">
            <input type="time" value="00:00:00">
        </div>
        <div class="row">
            <div class="input-title">의료종사자 여부</div>
            <div class="input-select">
                <div>
                    <input type="radio" name="select-healthcareWorkers" id="healthcareWorkers-yes">
                    <label for="healthcareWorkers-yes">yes</label>
                </div>
                <div>
                    <input type="radio" name="select-healthcareWorkers" id="healthcareWorkers-no">
                    <label for="healthcareWorkers-no">no</label>
                </div>
            </div>
        </div>

        <h3>부작용 정보</h3>
        <div class="row">
            <div class="input-title">부작용 발생일자</div>
            <input class="datepicker" type="text" id="sideEffectDate">
            <input type="time" value="00:00:00">
        </div>
        <div class="row">
            <button class="btn-plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                </svg>
            </button>
            <div class="column">
                <div class="input-title">부작용 테이블코드</div>
                <input type="text">
            </div>
            <div class="column">
                <div class="input-title">부작용 컬럼코드</div>
                <input type="text">
            </div>
        </div>

        <h3>신체계측 정보</h3>
        <div class="row">
            <div class="column">
                <div class="input-title">신체계측 조사일</div>
                <input type="text" class="datepicker" id="bodyMeasurementDate">
                <input type="time" value="00:00:00">
            </div>
        </div>
        <div class="row">
            <button class="btn-plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                </svg>
            </button>
            <div class="column">
                <div class="input-title">신체계측 종류코드</div>
                <input type="text">
            </div>
            <div class="column">
                <div class="input-title">신체계측값</div>
                <input type="text">
                <div class="selectbox">
                    <select>
                        <option value="키">키</option>
                        <option value="몸무게">몸무게</option>
                        <option value="체온">체온</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <div class="modal modal-confirmation-number">
        <h3>환자검색</h3>
        <div class="search">
            <input type="text">
            <button>검색</button>
        </div>
        <div class="table">
            <ul class="row th">
                <li>확진번호</li>
                <li>나이</li>
                <li>확진일자</li>
                <li>병원</li>
            </ul>
            <ul class="row">
                <li>5</li>
                <li>20</li>
                <li>2020-12-01</li>
                <li>수원</li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>
</main>
<script>
  $(function () {
    $("#investigationDate, #contactInfectedDate, #sideEffectDate, #bodyMeasurementDate").datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'yy-mm-dd'
    });
  });
</script>
{% endblock %}
