{% extends "base.html" %}
{% block content %}
<aside>
    <header>
        <div class="logo" onclick="location.href='patient_list.html'"></div>
        <button class="btn-login" onclick="location.href='login.html'">login</button>
    </header>
    {% import 'macros/nav-macro.nunjucks' as nav %}
    {{nav.active('admin')}}
</aside>
<main class="clinical-trial-research-list admin">
    <header>
        <h3>임상시험 조회</h3>
        <div class="buttons">
            <button onclick="location.href='user_list.html'">사용자 관리</button>
            <button onclick="location.href='hospital_list.html'">병원 관리</button>
            <button onclick="location.href='disease_list.html'">기저질환명 관리</button>
            <button class="btn-submit" onclick="location.href='clinicalTrialResearch_add.html'">생성</button>
        </div>
    </header>
    <section>
        <div class="search">
            <input type="search" id="search">
            <button class="btn-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                </svg>
            </button>
        </div>
        <div class="table">
            <ul class="row th">
                <li>No.</li>
                <li>연구ID</li>
                <li>연구제목</li>
                <li>연구설명</li>
            </ul>
            <ul class="row" onclick="location.href='clinicalTrialResearch_edit.html'">
                <li>1</li>
                <li>K192834</li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}
