{% extends "base.html" %}
{% block content %}
<aside>
    <header>
        <div class="logo"></div>
        <button class="btn-login" onclick="location.href='login.html'">login</button>
    </header>
    {% import 'macros/nav-macro.nunjucks' as nav %}
    {{nav.active('admin')}}
</aside>
<main class="clinical-trial-research-list admin">
    <header>
        <h3>임상시험 조회</h3>
        <div class="buttons">
            <button onclick="location.href='user_list.html'">사용자 관리</button>
            <button onclick="location.href='hospital_list.html'">병원 관리</button>
            <button onclick="location.href='disease_list.html'">기저질환명 관리</button>
            <button class="btn-submit" onclick="location.href='clinicalTrialResearch_add.html'">생성</button>
        </div>
    </header>
    <section>
        <div class="table">
            <ul class="row th">
                <li>No.</li>
                <li>연구ID</li>
                <li>연구제목</li>
                <li>연구설명</li>
            </ul>
            <ul class="row" onclick="location.href='clinicalTrialResearch_edit.html'">
                <li>1</li>
                <li>K192834</li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}
