{% extends "base_edit.html" %}
{% block content %}
<aside>
    <header>
        <div class="logo" onclick="location.href='patient_list.html'"></div>
        <button class="btn-login" onclick="location.href='login.html'">login</button>
    </header>
    {% import 'macros/nav-macro.nunjucks' as nav %}
    {{nav.active('clinicalTrialPatient_list')}}
</aside>
<main class="clinical-trials-list">
    <header>
        <h3>임상시험 참여자 조회</h3>
        <div class="buttons">
            <button class="csv-upload">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                    <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
                </svg>
                <span>참여자 CSV 데이터 업로드</span>
            </button>
        </div>
    </header>
    <div class="filters">
        <ul>
            <li>
                <label for="select-patient-id">환자ID</label>
                <div class="selectbox">
                    <select name="" id="select-patient-id">
                        <option value="">001</option>
                        <option value="">002</option>
                        <option value="">003</option>
                    </select>
                </div>
            </li>
            <li class="filter-age">
                <label>나이</label>
                <div>
                    <input type="text">
                    <span class="tilde">~</span>
                    <input type="text">
                </div>
            </li>
            <li>
                <label for="select-gender">성별</label>
                <div class="selectbox">
                    <select name="" id="select-gender">
                        <option value="male">남성</option>
                        <option value="female">여성</option>
                    </select>
                </div>
            </li>
            <li>
                <label for="select-hospital">병원</label>
                <div class="selectbox">
                    <select name="" id="select-hospital">
                        <option value="suwon">수원</option>
                        <option value="ansung">안성</option>
                        <option value="euijungbu">의정부</option>
                        <option value="pocheon">포천</option>
                        <option value="paju">파주</option>
                        <option value="icheon">이천</option>
                        <option value="ajou">아주대</option>
                    </select>
                </div>
            </li>
            <li>
                <label for="select-severity">중증도</label>
                <div class="selectbox">
                    <select name="" id="select-severity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </li>
            <li>
                <label for="select-research">참여연구</label>
                <input id="select-research" type="text" class="input-researchID">
            </li>
            <li>
                <label>최초내원일</label>
                <div class="input-select">
                    <input class="datepicker" type="text" id="confirmedStartDate">
                    <span class="tilde">~</span>
                    <input class="datepicker" type="text" id="confirmedEndDate">
                </div>
            </li>
            <li>
                <label for="select-severity">중증도 측정일자</label>
                <div class="input-select">
                    <input class="datepicker" type="text" id="severityStartDate">
                    <span class="tilde">~</span>
                    <input class="datepicker" type="text" id="severityEndDate">
                </div>
            </li>
            <li>
                <label>업데이트날짜</label>
                <div class="input-select">
                    <input class="datepicker" type="text" id="updatedStartDate">
                    <span class="tilde">~</span>
                    <input class="datepicker" type="text" id="updatedEndDate">
                </div>
            </li>
        </ul>
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
        </button>
    </div>
    <small>※ 나이는 최초내원일 기준 나이입니다.</small>
    <section>
        <!--<div class="buttons">
            <button class="btn-download">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                    <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
                </svg>
                <span>CSV 다운로드</span>
            </button>
        </div>-->
        <div class="table">
            <ul class="row th">
                <li>환자ID</li>
                <li>성별</li>
                <li>나이</li>
                <li>확진일자</li>
                <li>병원</li>
                <li>중증도</li>
                <li>중증도 측정일</li>
                <li>입원일수</li>
                <li>기저질환</li>
                <li>참여연구</li>
                <li>상태</li>
                <li>퇴원(사망)일자</li>
                <li>업데이트 날짜</li>
                <li>버튼</li>
            </ul>
            <div class="rows">
                <ul class="row" onclick="location.href='clinicalTrialPatient_edit.html'">
                    <li>6</li>
                    <li>여성</li>
                    <li>20</li>
                    <li>20201109</li>
                    <li>용인</li>
                    <li>1</li>
                    <li>20201115</li>
                    <li>3</li>
                    <li>고혈압, 당뇨</li>
                    <li>참여연구</li>
                    <li>입원</li>
                    <li>20201120</li>
                    <li>20201120</li>
                    <li class="col-buttons">
                        <button class="btn-edit" onclick="location.href='clinicalTrialPatient_add.html'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                            </svg>
                        </button>
                        <button class="btn-more">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                            </svg>
                        </button>
                    </li>
                </ul>
                <div class="sub-div">
                    <ul class="row sub-row">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>5</li>
                        <li>20201201</li>
                        <li>7</li>
                        <li></li>
                        <li></li>
                        <li>입원</li>
                        <li></li>
                        <li></li>
                        <li>
                            <button onclick="location.href='clinicalTrialPatient_edit.html'" class="btn-plus-text">
                                <small>수정</small>
                            </button>
                        </li>
                    </ul>
                    <ul class="row sub-row">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>5</li>
                        <li>20201201</li>
                        <li>7</li>
                        <li></li>
                        <li></li>
                        <li>입원</li>
                        <li></li>
                        <li></li>
                        <li>
                            <button onclick="location.href='clinicalTrialPatient_edit.html'" class="btn-plus-text">
                                <small>수정</small>
                            </button>
                        </li>
                    </ul>
                    <ul class="row sub-row">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>5</li>
                        <li>20201201</li>
                        <li>7</li>
                        <li></li>
                        <li></li>
                        <li>입원</li>
                        <li></li>
                        <li></li>
                        <li>
                            <button onclick="location.href='clinicalTrialPatient_edit.html'" class="btn-plus-text">
                                <small>수정</small>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="modal modal-csv-upload">
        <div class="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
            </svg>
        </div>
        <header>
            <h3>임상시험 참여자 업로드</h3>
        </header>
        <div class="modal-content">
            <div class="row">
                <button class="btn-file">
                    <span>파일 찾기</span>
                    <input type="file" accept=".csv" name="FileAttachment" id="FileAttachment" class="upload"/>
                </button>
                <span class="upload-file">Maximum file size is 100mb</span>
            </div>
        </div>
        <button>등록</button>
    </div>
    <div class="modal modal-researchID">
        <div class="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/>
            </svg>
        </div>
        <header>
            <h3>참여연구 ID</h3>
            <div class="search">
                <input type="text">
                <button>검색</button>
            </div>
        </header>
        <div class="table">
            <ul class="row th">
                <li>참여연구ID</li>
                <li>참여연구명</li>
            </ul>
            <ul class="row">
                <li>A29384</li>
                <li>감염병 연구</li>
            </ul>
            <ul class="row">
                <li>EA9293</li>
                <li>코로나 연구</li>
            </ul>
        </div>
    </div>
    <div class="overlay"></div>
</main>
<script>
    $(function () {
        $("#confirmedStartDate, #confirmedEndDate, #severityStartDate, #severityEndDate, #updatedStartDate, #updatedEndDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
{% endblock %}
