{% extends "base.html" %}
{% block content %}
<aside>
    <header>
        <div class="logo"></div>
        <button class="btn-login" onclick="location.href='login.html'">login</button>
    </header>
    {% import 'macros/nav-macro.nunjucks' as nav %}
    {{nav.active('clinicalTrialResearch_list')}}
</aside>
<main class="clinical-trial-research-list">
    <header>
        <h3>임상시험 정보조회</h3>
    </header>
    <section>
        <div class="table">
            <ul class="row th">
                <li>연구ID</li>
                <li>연구제목(요약)</li>
                <li>연구유형</li>
                <li>타시스템등록번호</li>
                <li>연구모집현황</li>
                <li>IRB승인번호</li>
                <li></li>
            </ul>
            <ul class="row">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li>
                    <button class="btn-edit" onclick="location.href='clinicalTrialResearch_edit.html'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </section>
</main>
</div>
{% endblock %}
