{% extends "base.html" %} {% block content %}
<main class="sub board-02 wrapper">
  <aside>
    <h3>고객센터</h3>
    <a href="notice.html">공지사항</a>
    <a href="qna.html">질의응답</a>
    <a href="errata.html">정오표</a>
    <a href="downloads.html">자료실</a>
    <a href="publish.html">출판문의</a>
  </aside>
  <div class="content">
    <div class="breadscrumb">
      <a href="">Home</a>
      <a href="">고객센터</a>
      <a href="">자료실</a>
    </div>
    <div class="title">
      <h2>자료실</h2>
      <p>도서출판 구민사의 자료실입니다.</p>
    </div>
    <section>
      <div class="search">
        <div class="selectbox">
          <select name="" id="">
            <option value="">제목</option>
            <option value="">작성자</option>
            <option value="">내용</option>
            <option value="">전체</option>
          </select>
        </div>
        <input type="search" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
        >
          <path
            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
          />
        </svg>
      </div>
      <div class="table">
        <ul class="row title">
          <li>번호</li>
          <li>제목</li>
          <li>작성자</li>
          <li>작성일</li>
          <li>조회수</li>
          <li>파일</li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
        <ul class="row">
          <li>49</li>
          <li>JSP(이해하기 쉬운 예제중심 Java Sever Page) - 소스코드</li>
          <li>구민사</li>
          <li>2021-04-28</li>
          <li>1</li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 24 24"
            >
              <path
                d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"
              />
            </svg>
          </li>
        </ul>
      </div>
      <div class="pagenation">
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
          </svg>
        </a>
        <a class="active" href="">1</a>
        <a href="">2</a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
          </svg>
        </a>
      </div>
    </section>
    <div class="buttons">
      <button class="btn-main">글쓰기</button>
    </div>
  </div>
</main>
{% endblock %}
