{% extends "base.html" %}
{% block content %}
{% import "header_search.html" as forms %}
{{forms.title("장비 현황 검색")}}
<main class="content list equipments">
  <section class="result" onclick="location.href='equipment_details.html'">
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div></section>
  <section class="no-result">검색 내역이 없습니다.</section>
</main>
{% endblock %}