{% extends "base.html" %}
{% block content %}
{% import "header_search.html" as forms %}
{{forms.title("장비 현황")}}
<aside class="local-navigation-menu">
  <div class="filters">
    <h4>
      <span>마커 표시</span>
    </h4>
    <div class="markers">
      <button class="checkbox">
        <input type="checkbox" id="markPublicParkingLot" name="filter-markers" />
        <label for="markPublicParkingLot">
          <i class="fad fa-parking-circle"></i>
          <span>공영주차장</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markPublicToilet" name="filter-markers" />
        <label for="markPublicToilet">
          <i class="fad fa-restroom"></i>
          <span>공중화장실</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markTrafficControlCenter" name="filter-markers" />
        <label for="markTrafficControlCenter">
          <i class="fad fa-traffic-light"></i>
          <span>교통관제센터</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markTrafficEnforcement" name="filter-markers" />
        <label for="markTrafficEnforcement">
          <i class="fad fa-traffic-light-go"></i>
          <span>교통단속</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markCityPark" name="filter-markers" />
        <label for="markCityPark">
          <i class="fad fa-trees"></i>
          <span>도시공원</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markCrimePrevention" name="filter-markers" />
        <label for="markCrimePrevention">
          <i class="fad fa-cctv"></i>
          <span>방범</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markCrimePreventionCityPark" name="filter-markers" />
        <label for="markCrimePreventionCityPark">
          <i class="fad fa-cctv"></i>
          <span>방범(도시공원)</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markCrimePreventionSchoolZone" name="filter-markers" />
        <label for="markCrimePreventionSchoolZone">
          <i class="fad fa-cctv"></i>
          <span>방범(스쿨존)</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markCrimePreventionResidentalArea" name="filter-markers" />
        <label for="markCrimePreventionResidentalArea">
          <i class="fad fa-cctv"></i>
          <span>방범(주택가)</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markCrimePreventionEmergencyBell" name="filter-markers" />
        <label for="markCrimePreventionEmergencyBell">
          <i class="fad fa-bell-on"></i>
          <span>방범비상벨1</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markWildfireMonitoring" name="filter-markers" />
        <label for="markWildfireMonitoring">
          <i class="fad fa-fire-alt"></i>
          <span>산불감시</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markLifeCrimePrevention" name="filter-markers" />
        <label for="markLifeCrimePrevention">
          <i class="fad fa-cctv"></i>
          <span>생활방범</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markSchoolZone" name="filter-markers" />
        <label for="markSchoolZone">
          <i class="fad fa-school"></i>
          <span>스쿨존</span>
        </label>
      </button>
      <button class="checkbox">
        <input type="checkbox" id="markFacilitiesManagement" name="filter-markers" />
        <label for="markFacilitiesManagement">
          <i class="fad fa-building"></i>
          <span>시설물관리</span>
        </label>
      </button>
    </div>
  </div>
</aside>
<div class="search-area">
  <div class="input">
    <input type="search" placeholder="작업명, 작성자를 입력하세요." />
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512">
      <title>ionicons-v5-f</title>
      <path d="M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z"
        style="fill:none;stroke:white;stroke-miterlimit:10;stroke-width:32px" />
      <line x1="338.29" y1="338.29" x2="448" y2="448"
        style="fill:none;stroke:white;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
    </svg>
  </div>
  <div class="filters filters-equipments">
    <button type="button" type="button">
      <input type="radio" id="input-address" name="filter-search-equipments" checked="checked" />
      <label for="input-address">
        <span>주소 검색</span>
      </label>
    </button>
    <button type="button" type="button">
      <input type="radio" id="input-cctv" name="filter-search-equipments" />
      <label for="input-cctv">
        <span>CCTV 검색</span>
      </label>
    </button>
  </div>
</div>
<main class="content equipments maps">
  <button class="local-toggle-menu">
    <i class="fad fa-map-marked-alt"></i>
  </button>

  <!-- 지도영역 -->
  <div class="maps"
    style="background: url(https://images.unsplash.com/photo-1500333070776-343c73e1eb4a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80); background-size: cover;">
  </div>

  <!-- 지도 확대/축소 -->
  <div class="zoom-in-out">
    <button class="zoom-out" type="button">
      <i class="fal fa-minus"></i>
    </button>
    <div class="range-slider">
      <input type="range" step="1" min="10" max="20" />
    </div>
    <button class="zoom-in" type="button">
      <i class="fal fa-plus"></i>
    </button>
  </div>

  <!-- class:marker인 마커를 누르면 details 출력 -->
  <div class="marker">
    <i class="fas fa-map-marker-alt"></i>
  </div>
</main>
<main class="content equipments list">
  <section class="result" onclick="location.href='equipment_details.html'">
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
  </section>
  <section class="no-result">검색 내역이 없습니다.</section>
</main>
<div class="modal modal-marker">
  <section class="move-down">
    <i class="fad fa-chevron-down"></i>
  </section>
  <section class="result" onclick="location.href='equipment_details.html'">
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
    <div class="row">
      <div class="tags">
        <span class="tag">TMS</span>
        <span class="tag">CCTV</span>
        <span class="tag">주정차 단속</span>
      </div>
      <div>2019_P_신정호_고정15_자기망</div>
    </div>
  </section>
</div>
<div class="modal modal-search-full">
  <header class="filters">
    <button type="button">
      <input id="selectAddress" type="radio" name="searchFilter" checked="checked" />
      <label for="selectAddress">주소검색</label>
    </button>
    <button type="button">
      <input id="selectLocation" type="radio" name="searchFilter" />
      <label for="selectLocation">좌표검색</label>
    </button>
    <button type="button">
      <input id="selectCCTV" type="radio" name="searchFilter" />
      <label for="selectCCTV">CCTV검색</label>
    </button>
  </header>
  <section style="display: none;">
    <div class="row">
      <ul>
        <li class="tags">
          <span>산불감시</span>
          <span>CCTV</span>
          <span>PTZ</span>
        </li>
        <li class="address">
          충청남도 천안시 서북구 백석동 895
        </li>
        <li class="title">
          W29C097-17_5 두정동 1246(두정중학교동남측사거리)
        </li>
      </ul>
      <div class="more">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
        </svg>
      </div>
    </div>
    <div class="row">
      <ul>
        <li class="tags">
          <span>산불감시</span>
          <span>CCTV</span>
          <span>PTZ</span>
        </li>
        <li class="address">
          충청남도 천안시 서북구 백석동 895
        </li>
        <li class="title">
          W29C097-17_5 두정동 1246(두정중학교동남측사거리)
        </li>
      </ul>
      <div class="more">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
        </svg>
      </div>
    </div>
    <div class="row">
      <ul>
        <li class="tags">
          <span>산불감시</span>
          <span>CCTV</span>
          <span>PTZ</span>
        </li>
        <li class="address">
          충청남도 천안시 서북구 백석동 895
        </li>
        <li class="title">
          W29C097-17_5 두정동 1246(두정중학교동남측사거리)
        </li>
      </ul>
      <div class="more">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
        </svg>
      </div>
    </div>
    <div class="row">
      <ul>
        <li class="tags">
          <span>산불감시</span>
          <span>CCTV</span>
          <span>PTZ</span>
        </li>
        <li class="address">
          충청남도 천안시 서북구 백석동 895
        </li>
        <li class="title">
          W29C097-17_5 두정동 1246(두정중학교동남측사거리)
        </li>
      </ul>
      <div class="more">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
        </svg>
      </div>
    </div>
    <div class="row">
      <ul>
        <li class="tags">
          <span>산불감시</span>
          <span>CCTV</span>
          <span>PTZ</span>
        </li>
        <li class="address">
          충청남도 천안시 서북구 백석동 895
        </li>
        <li class="title">
          W29C097-17_5 두정동 1246(두정중학교동남측사거리)
        </li>
      </ul>
      <div class="more">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z" />
        </svg>
      </div>
    </div>
  </section>
  <section class="empty">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
        <path
          d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
      </svg>
      조회된 기록이 없습니다.
    </div>
  </section>
</div>

{% endblock %}