{% extends "base.html" %}
{% block content %}
{% import "header.html" as forms %}
{{forms.title("장비 현황")}}
<main class="content list workspace">
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="row-title">
      <ul>
        <li class="tags">
          <span class="tag bg-blue">TMS</span>
          <span class="tag bg-blue">CCTV</span>
          <span class="tag bg-blue">주정차 단속</span>
        </li>
        <li class="title">
          <div>2019_P_신정호_고정15_자기망</div>
        </li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}