{% extends "base_dashboard.html" %}

{% block content %}
<aside>
    <header>
        <div class="logo" onclick="location.href='patient_list.html'"></div>
        <button class="btn-login" onclick="location.href='login.html'">login</button>
    </header>
    {% import 'macros/nav-macro.nunjucks' as nav %}
    {{nav.active('index')}}
</aside>
<main class="dashboard">
    <header>
        <ul class="sub-menu">
            <li>전체병원</li>
            <li>수원병원</li>
            <li>안성병원</li>
            <li>의정부병원</li>
            <li>포천병원</li>
            <li>파주병원</li>
            <li>이천병원</li>
            <li>아주대병원</li>
        </ul>
    </header>

    <section>
        <div class="row">
            <div class="count count-current">
                <small>현재 시행중인 임상시험 건수</small>
                <h1>1</h1>
            </div>
            <div class="count count-all">
                <small>누적 임상시험 건수</small>
                <h1>0</h1>
            </div>
        </div>
        <div class="row">
            <div class="chart-container">
                <div class="chart" id="chart-age"></div>
            </div>
            <div class="chart-container">
                <div class="chart" id="chart-gender"></div>
            </div>
        </div>
        <div class="row">
            <div class="chart-container">
                <div class="chart" id="chart-severity"></div>
            </div>
            <div class="chart-container">
                <div class="chart" id="chart-treatment"></div>
            </div>
            <div class="chart-container">
                <div class="chart" id="chart-discharge"></div>
            </div>
        </div>
        <div class="row">
            <div class="chart-container">
                <div class="chart" id="chart-days"></div>
            </div>
            <div class="chart-container">
                <div class="chart" id="chart-current"></div>
            </div>
        </div>
    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
    <section>

    </section>
</main>
{% endblock %}
