{% extends "base.html" %}
{% block content %}
<main class="wrapper main">
  <section class="slider">
    <div class="main-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="assets/images/banner/main_03.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/banner/main_02.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/banner/main_03.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/banner/main_04.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="assets/images/banner/main_05.jpg" alt="" />
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <section class="books-new">
    <h1>신간도서</h1>
    <div class="books-slider swiper-container">
      <div class="swiper-wrapper">
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/01.jpg" alt="샘플이미지" />
          <ul>
            <li>뷰티 트렌드</li>
            <li>홍수남 권오혁</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/02.jpg" alt="샘플이미지" />
          <ul>
            <li>자동차는 인간과 더불어 진화한다</li>
            <li>자동차인간학 연구회</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/01.jpg" alt="샘플이미지" />
          <ul>
            <li>뷰티 트렌드</li>
            <li>홍수남 권오혁</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/02.jpg" alt="샘플이미지" />
          <ul>
            <li>자동차는 인간과 더불어 진화한다</li>
            <li>자동차인간학 연구회</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/01.jpg" alt="샘플이미지" />
          <ul>
            <li>뷰티 트렌드</li>
            <li>홍수남 권오혁</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/02.jpg" alt="샘플이미지" />
          <ul>
            <li>자동차는 인간과 더불어 진화한다</li>
            <li>자동차인간학 연구회</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/01.jpg" alt="샘플이미지" />
          <ul>
            <li>뷰티 트렌드</li>
            <li>홍수남 권오혁</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/02.jpg" alt="샘플이미지" />
          <ul>
            <li>자동차는 인간과 더불어 진화한다</li>
            <li>자동차인간학 연구회</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/01.jpg" alt="샘플이미지" />
          <ul>
            <li>뷰티 트렌드</li>
            <li>홍수남 권오혁</li>
            <li>16,000원</li>
          </ul>
        </a>
        <a class="swiper-slide" href="#">
          <img src="assets/images/thumbnails/02.jpg" alt="샘플이미지" />
          <ul>
            <li>자동차는 인간과 더불어 진화한다</li>
            <li>자동차인간학 연구회</li>
            <li>16,000원</li>
          </ul>
        </a>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="boards">
      <div class="tab-menu">
        <ul>
          <li>공지사항</li>
          <li>자료실</li>
          <li>정오표</li>
        </ul>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
          </svg>
        </button>
      </div>
      <div class="tab-content">
        <section class="notice">
          <a href="#">
            <span>도서출판 미전사인언스 및 도서출판 미광</span>
            <small>2021.07.12</small>
          </a>
          <a href="#">
            <span>2020년 하계휴가 공지(2020 8.6 ~ 8.9)</span>
            <small>2020-08-05</small>
          </a>
          <a href="#">
            <span>재고확인 서점 전화번호</span>
            <small>2018-11-14</small>
          </a>
          <a href="#">
            <span>피부미용사 실기 교환에 대한 공지</span>
            <small>2018-03-29</small>
          </a>
          <a href="#">
            <span>질의응답 게시에 관한 안내</span>
            <small>2015-01-15</small>
          </a>
        </section>
        <section class="downloads">
          <a href="#">
            <span>JSP(이해하기 쉬운 예제중심 Java Sever Pa</span>
            <small>2021.07.12</small>
          </a>
          <a href="#">
            <span>PLC데이터통신 소스자료</span>
            <small>2021-04-22</small>
          </a>
          <a href="#">
            <span>전산회계2급 기출문제</span>
            <small>2021-04-05</small>
          </a>
          <a href="#">
            <span>전산회계2급 실기모의고사</span>
            <small>2021-04-05</small>
          </a>
          <a href="#">
            <span>전산회계2급 실습 파일</span>
            <small>2021-04-05</small>
          </a>
        </section>
        <section class="errata">
          <a href="#">
            <span>2021 대기환경산업기사 과년도 정오표</span>
            <small>2021.07.12</small>
          </a>
          <a href="#">
            <span>2021 대기환경기사 과년도 정오표</span>
            <small>2021.07.12</small>
          </a>
          <a href="#">
            <span>2021 수질환경산업기사 과년도 정오표</span>
            <small>2021.07.12</small>
          </a>
          <a href="#">
            <span>2021 수질환경기사 과년도 정오표</span>
            <small>2021.07.12</small>
          </a>
          <a href="#">
            <span>2021 폐기물처리기사 과년도 정오표</span>
            <small>2021.07.12</small>
          </a>
        </section>
      </div>
    </div>
    <div class="icon-menu">
      <a href="bookstore.html">서점안내</a>
      <a class="link-to-publish" href="publish.html">출판문의</a>
      <a class="link-to-group-buying" href="publish.html">공동구매</a>
      <a href="#">도서정보목록</a>

      <!-- 교수님 전용 -->
      <a href="lecture_material.html">강의자료실</a>
      <a href="sample_book.html">견본도서</a>
    </div>
  </section>
  <section class="bookstore">
    <div class="bookstore-slider swiper-container">
      <div class="swiper-wrapper">
        <a class="swiper-slide" href="http://www.kyobobook.co.kr">
          <img src="assets/images/logo/kyobo.gif" alt="교보문고 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.yes24.com/home/default.asp?SID=iuEqSs">
          <img src="assets/images/logo/yes24.gif" alt="yes24 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.interpark.com/bookPark/html/book.html">
          <img src="assets/images/logo/interpark.gif" alt="인터파크 도서 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.aladin.co.kr/">
          <img src="assets/images/logo/aladin.gif" alt="알라딘 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://duck-sung.co.kr/">
          <img src="assets/images/logo/ducksung.gif" alt="서울덕성기술학원 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.web1978.or.kr/index.php">
          <img src="assets/images/logo/hyundai.gif" alt="현대 CAD 디자인 직업 전문학교 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.sm6000.co.kr/index.html">
          <img src="assets/images/logo/sungmin.gif" alt="성민열관리기술학원 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.환경에듀.com/">
          <img src="assets/images/logo/jeon.gif" alt="전쌤의 환경에듀 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.hrdkorea.or.kr">
          <img src="assets/images/logo/hrdkorea.gif" alt="한국산업인력공단 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.dbedu.or.kr/w/main/main.do">
          <img src="assets/images/logo/dbedu.gif" alt="서울동부기술교육원 홈페이지 바로가기" />
        </a>
        <a class="swiper-slide" href="http://www.bukedu.or.kr/home/homeIndex.do">
          <img src="assets/images/logo/bukedu.gif" alt="서울북부기술교육원 홈페이지 바로가기" />
        </a>
      </div>
    </div>
  </section>
</main>
{% endblock %}