{% extends "base.html" %} {% block content %}
<main class="sub login wrapper">
  <div class="content">
    <div class="breadscrumb">
      <a href="#">Home</a>
      <a href="#">로그인</a>
    </div>
    <section>
      <div class="login-content">
        <h2>로그인</h2>
        <div class="row">
          <label for="inputID">ID</label>
          <input id="inputID" type="text" />
        </div>
        <div class="row">
          <label for="inputPassword">Password</label>
          <input id="inputPassword" type="password" />
        </div>
        <div class="checkbox">
          <input id="rememberID" type="checkbox" />
          <label for="rememberID">아이디 저장</label>
        </div>
        <button class="btn-main">로그인</button>
        <a href="signup.html">
          <button class="btn-signup">회원가입</button>
        </a>
        <a class="find-account" href="find_account.html">아이디/비밀번호 찾기</a>
      </div>
    </section>
  </div>
</main>
{% endblock %}