{% extends "base.html" %} {% block content %}
<main class="sub mypage wrapper">
  <aside>
    <h3>회원정보</h3>
    <a href="shoppingbag.html">장바구니</a>
    <a href="order_list.html">주문배송조회</a>
    <a href="mypage.html">마이페이지</a>
  </aside>
  <div class="content">
    <div class="breadscrumb">
      <a href="#">Home</a>
      <a href="#">회원정보</a>
      <a href="#">마이페이지</a>
    </div>
    <div class="title">
      <h2>마이페이지</h2>
      <p>회원님의 정보를 확인 및 수정하는 페이지입니다.</p>
    </div>
    <section>
      <ul class="inputs">
        <li>
          <span class="required">구분</span>
          <div>
            <input type="radio" id="userCommon" name="userType" checked="checked" />
            <label for="userCommon">일반</label>
            <input type="radio" id="userProfessor" name="userType" />
            <label for="userProfessor">교수</label>
          </div>
        </li>
        <li class="input-professor">
          <span class="required">대학명</span>
          <input type="text" />
        </li>
        <li class="input-professor">
          <span class="required">학과</span>
          <input type="text" />
        </li>
        <li>
          <span class="required">이름</span>
          <input type="text" value="홍길동" readonly="readonly" />
        </li>
        <li>
          <span class="required">ID</span>
          <input type="text" value="test" readonly="readonly" />
        </li>
        <li>
          <span class="required">현재 비밀번호</span>
          <input type="password" value="" />
        </li>
        <li>
          <span class="required">신규 비밀번호</span>
          <input type="password" value="" />
          <small>※ 영문과 숫자를 혼용하여 6~12자리로 하며, 특수문자는 사용하지 않습니다.</small>
        </li>
        <li>
          <span class="required">이메일</span>
          <input type="email" value="hong@naver.com" />
        </li>
        <li class="phone">
          <span class="required">전화번호</span>
          <div>
            <input type="number" />
            <span>-</span>
            <input type="number" />
            <span>-</span>
            <input type="number" />
          </div>
        </li>
        <li class="phone">
          <span class="required">휴대폰</span>
          <div>
            <input type="number" />
            <span>-</span>
            <input type="number" />
            <span>-</span>
            <input type="number" />
          </div>
        </li>
        <li class="address">
          <span class="required">주소</span>
          <input type="text" />
        </li>
        <li>
          <span>회원탈퇴</span>
          <button>회원탈퇴</button>
        </li>
      </ul>
      <div class="buttons">
        <button class="btn-sub">취소</button>
        <button class="btn-main">정보수정</button>
      </div>
    </section>
  </div>
</main>

<div class="modal modal-address">
  <header>
    <div class="title">
      <h3>주소 찾기</h3>
      <svg class="close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 18 18">
        <path
          d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
      </svg>
    </div>
    <section>
      <p>검색어(도로명,건물명,지번)를 입력해주세요(지번+도로명 통합 검색)</p>
    </section>
    <section class="address-search">
      <input type="text" placeholder='예) "서소문로 26" 또는 "중림동 157-2' />
      <button>검색</button>
    </section>
  </header>
  <div class="modal-content">
    <section class="address-results">
      <div class="table">
        <ul class="row title">
          <li>우편번호</li>
          <li>주소</li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<div class="overlay"></div>
<script>
  const common = document.getElementById("userCommon");
  const professor = document.getElementById("userProfessor");
  const inputProfessor = document.querySelectorAll(".input-professor");

  common.addEventListener("change", () => {
    inputProfessor.forEach((input) => {
      input.classList.remove("active");
    });
  })

  professor.addEventListener("change", () => {
    inputProfessor.forEach((input) => {
      input.classList.add("active");
    });
  });
</script>
{% endblock %}