{% extends "base.html" %} {% block content %}
<main class="sub board-02 wrapper">
  <div class="content">
    <div class="breadscrumb">
      <a href="#">Home</a>
      <a href="#">회원가입</a>
    </div>
    <div class="title">
      <h2>회원가입</h2>
      <p>도서출판 구민사는 오랫동안 사랑받아온 신기술서적 출판사입니다.</p>
    </div>
    <section>
      <ul class="inputs">
        <li>
          <span class="required">구분</span>
          <div>
            <input type="radio" id="userCommon" name="userType" checked="checked" />
            <label for="userCommon">일반</label>
            <input type="radio" id="userProfessor" name="userType" />
            <label for="userProfessor">교수</label>
          </div>
        </li>
        <li class="input-professor">
          <span class="required">대학명</span>
          <input type="text" />
        </li>
        <li class="input-professor">
          <span class="required">학과</span>
          <input type="text" />
        </li>
        <li>
          <span class="required">이름</span>
          <input type="text" value="" />
        </li>
        <li class="get-id">
          <span class="required">아이디(ID)</span>
          <input type="text" value="" />
          <small>ID는 영문, 숫자 조합으로 10이내로 합니다.</small>
        </li>
        <li>
          <span class="required">비밀번호</span>
          <input type="password" value="" />
          <small>영문과 숫자를 혼용 6~12자리로 하며, 특수문자는 사용안됩니다.</small>
        </li>
        <li>
          <span class="required">비밀번호 확인</span>
          <input type="password" value="" />
        </li>
        <li>
          <span class="required">이메일</span>
          <input type="email" value="" />
        </li>
        <li class="address">
          <span class="required">주소</span>
          <input type="text" />
        </li>
        <li class="phone">
          <span>전화번호</span>
          <div>
            <input type="number" />
            <span>-</span>
            <input type="number" />
            <span>-</span>
            <input type="number" />
          </div>
        </li>
        <li class="phone">
          <span>휴대폰</span>
          <div>
            <input type="number" />
            <span>-</span>
            <input type="number" />
            <span>-</span>
            <input type="number" />
          </div>
        </li>
      </ul>
      <div class="buttons">
        <button class="btn-sub" onclick="history.back()">취소</button>
        <button class="btn-main">회원가입</button>
      </div>
    </section>
  </div>
</main>
<div class="modal modal-get-id">
  <header>
    <div class="title">
      <h3>아이디 확인</h3>
      <svg class="close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 18 18">
        <path
          d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
      </svg>
    </div>
    <section>
      <p>사용하고자 하는 아이디를 입력하여 주세요.</p>
    </section>
    <section class="search">
      <input type="text" />
      <button>검색</button>
    </section>
  </header>
  <div class="modal-content">
    <section class="result">
      <span><strong>honggildong</strong>
        는 사용이 가능합니다.</span>
      <button class="btn-main">사용하기</button>
    </section>
  </div>
</div>

<div class="modal modal-address">
  <header>
    <div class="title">
      <h3>주소 찾기</h3>
      <svg class="close" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 18 18">
        <path
          d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
      </svg>
    </div>
    <section>
      <p>검색어(도로명,건물명,지번)를 입력해주세요(지번+도로명 통합 검색)</p>
    </section>
    <section class="search">
      <input type="text" placeholder='예) "서소문로 26" 또는 "중림동 157-2' />
      <button>검색</button>
    </section>
  </header>
  <div class="modal-content">
    <section class="address-results">
      <div class="table">
        <ul class="row title">
          <li>우편번호</li>
          <li>주소</li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
        <ul class="row">
          <li>04504</li>
          <li>
            <div>서울특별시 중구 서소문로 26 (중림동)</div>
            <div>서울특별시 중구 중림동 157-2</div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<div class="overlay"></div>
<script>
  const common = document.getElementById("userCommon");
  const professor = document.getElementById("userProfessor");
  const inputProfessor = document.querySelectorAll(".input-professor");

  common.addEventListener("change", () => {
    inputProfessor.forEach((input) => {
      input.classList.remove("active");
    });
  })

  professor.addEventListener("change", () => {
    inputProfessor.forEach((input) => {
      input.classList.add("active");
    });
  });
</script>
{% endblock %}