{% extends "base.html" %}
{% block content %}
{% import 'header.html' as menu %}
{{menu.active('solutions')}}
<div class="solutions digital-transformation sub content">
  <div class="title">
    <h1 class="wrapper">solutions</h1>
  </div>
  <div class="wrapper">
    <ul class="sub-menu">
      <li><a href="solutions-iiot.html">Smart IIoT</a></li>
      <li><a href="solutions-rcs.html">Remote Control System</a></li>
      <li><a href="solutions-fa.html">Smart Factory Automation</a></li>
      <li class="active"><a href="solutions-dt.html">Digital Transformation</a></li>
    </ul>
    <ul class="tabs">
      <li>IT Infrastructure</li>
    </ul>
  </div>
  <div class="tab-content wrapper">
    <!-- <div class="rss">
                <div class="sub-title">
                    <h2>RSS</h2>
                    <p>
                        CO-VIEW는 실시간 영상 원격 상담 솔루션으로, 복잡한 앱 다운로드 없이, SMS(문자발송) 전송만으로 고객과 상담원의 영상 상담이 가능한 새로운 서비스입니다.
                    </p>
                    <p>
                        고객이 보는 모습을 상담사도 실시간으로 같이 볼 수 있기 때문에 전화 설명만으로 불확실한 증상이나 실제 현장상황을 쉽게 파악할 수 있는 고객지향적 원격 상담 및 지원이 가능합니다.
                    </p>
                </div>
                <section class="about">
                    <img src="assets/images/solutions/rss/co-view.png" alt="">
                    <p>고객의 모바일 폰을 통하여 고객의 눈에 보이는 사물과 현장을 실시간 공유 하는 고객지원 서비스</p>
                </section>
                <section class="advantages">
                    <ul>
                        <li><h4>비 설치형 표준 웹</h4></li>
                        <li>
                            서비스를 받기 위해 모든 고객이 전용 앱을 다운받아야 하는 불편함 없이 음성 통화 중에도 통화 단절없이 ONE-STOP 접속을 통해 바로 연결
                        </li>
                    </ul>
                    <ul>
                        <li><h4>양방향 라이브 서비스</h4></li>
                        <li>고객의 모바일 카메라를 이용한 브라우저 기반의 실시간 영상/사진/스크린(문서, 도면) 공유를 통한 현장 지원 서비스</li>
                    </ul>
                    <ul>
                        <li><h4>다자간 영상 협업</h4></li>
                        <li>1:1 상담만으로 해결이 어려울 때 실시간으로 제3의 전문가를 참여시켜 조언을 구하여 문제를 해결</li>
                    </ul>
                    <ul>
                        <li><h4>실시간 시각화 서비스</h4></li>
                        <li>구두로 설명이 어렵거나, 실시간 작업 지시가 필요할 때 Remote Pointer 기능 및 Live PEN 기능을 이용하면 정확하고 신속한 협업이 가능</li>
                    </ul>
                </section>
            </div> -->
    <div class="it-infra">
      <div class="sub-title">
        <h2>IT Infrastructure</h2>
        <p>기업들이 사용하는 H/W와 S/W의 수가 늘어가고 이와 관련된 유지보수 업체 및 계약건수가 늘어감에 따라 기존 개별 유지보수 체계로는 기업의 효율적이고 안정적인
          IT운영을 지원하기 어려워지고 있습니다. IT 인프라 유지보수 서비스는 하나의 단일계약으로 모든IT 인프라에 대한 지원을 하는 새로운 형태의 유지보수 서비스입니다.</p>
        <p>㈜제이엠소프트는 다양한 컨설팅 및 서비스 운영경험을 바탕으로, 고객의 경영과 IT를 유기적으로 통합시켜 빠르게 변화하는 비즈니스 환경에 부합할 수 있도록 최적의 시스템을
          분석, 설계 방안을 제시해 나가겠습니다.
        </p>
      </div>
      <section class="advantages">
        <ul>
          <li>유지보수 프로세스 단일화, 표준화, 절차화</li>
          <li>유지보수 관리 최적화</li>
          <li>통합 보고서 관리</li>
          <li>유지보수 관리 노하우 적용</li>
        </ul>
        <ul>
          <li>통합적인 쟁애관리를 통한 안정적인 운영</li>
          <li>간접/직접 비용 절감</li>
          <li>유지보수 기술수준과 관리체계의 조화</li>
          <li>단일 창구 제공</li>
        </ul>
        <ul>
          <li>PM 의 종합적 관리</li>
          <li>일원화된 관리를 통한 업무 운영 효율 극대화</li>
          <li>유지보수 서비스 품질향상을 통한 고가용성 유지</li>
        </ul>

      </section>
      <section class="before-after">
        <h3>IT 인프라 통합유지보수</h3>
        <div>
          <ul>
            <li>
              <h4>통합유지보수 전</h4>
            </li>
            <li><img src="assets/images/solutions/it-infra-before.png" alt=""></li>
          </ul>
          <ul>
            <li>
              <h4>통합유지보수 후</h4>
            </li>
            <li><img src="assets/images/solutions/it-infra-after.png" alt=""></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
<script>
  $('.rcs-function').slick({
    infinite: true,
    speed: 500,
    fade: true,
    autoplay: true,
    arrows: true,
    dots: true,
    cssEase: 'linear'
  });
</script>
{% endblock %}