/*@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url({% static 'webfonts/NanumSquareR.eot' %});
    src: url({% static 'webfonts/NanumSquareR.eot?#iefix' %}) format('embedded-opentype'), src: url({% static 'webfonts/NanumSquareR.woff' %}) format('woff'), src: url({% static 'webfonts/NanumSquareR.ttf' %}) format('truetype'),
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: bold;
    src: url({% static 'webfonts/NanumSquareB.eot' %});
    src: url({% static 'webfonts/NanumSquareB.eot?#iefix' %}) format('embedded-opentype'), src: url({% static 'webfonts/NanumSquareB.woff' %}) format('woff'), src: url({% static 'webfonts/NanumSquareB.ttf' %}) format('truetype'),
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url({% static 'webfonts/NanumSquareL.eot' %});
    src: url({% static 'webfonts/NanumSquareL.eot?#iefix' %}) format('embedded-opentype'), src: url({% static 'webfonts/NanumSquareL.woff' %}) format('woff'), src: url({% static 'webfonts/NanumSquareL.ttf' %}) format('truetype'),
}*/

:root {
    --var-mainColor: #01797F;
    --var-secondaryColor: #0A2E51
}

* {
    box-sizing: border-box
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font: 17px/1.5 'NanumSquare';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex
}

a {
    text-decoration: none;
    color: #333
}

input {
    border: 0;
    padding: .7rem;
    font: 17px/1.5 'NanumSquare';
    background-color: transparent;
    outline: 0;
}

button {
    border: 0;
    background-color: transparent;
    display: flex;
    align-content: center;
    border-radius: .2rem;
    transition: background-color .2s;
    cursor: pointer;
    outline: 0;
}

button.new, button.submit {
    display: flex;
    align-items: center;
    font: normal 14px 'Work Sans', sans-serif;
    text-transform: uppercase;
    background-color: #0191B4;
    color: white
}

button.new [class*=icon-], button.submit [class*=icon-] {
    margin-right: .2rem;
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0
}

ion-icon {
    font-size: 1rem;
    vertical-align: middle
}

.container {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    display: flex;
    overflow: hidden
}

/* First Page */
.eicu-apex {
    justify-content: center;
    align-items: center;
    background: url("images/bg_04.gif") no-repeat;
    background-size: cover;
}

.eicu-apex .input-container {
    color: white;
    text-align: center;
    position: relative;
}
.eicu-apex .input-container label {
    display: block;
    margin-bottom: 1rem;
}

.eicu-apex .input-container label h1 {
    font: normal 4rem/1 "Nunito";
    text-transform: uppercase;
}

.eicu-apex .input-container label span {
    font: 20px "Nunito", "sans-serif";
    text-transform: capitalize;
    letter-spacing: 2px;
}

.eicu-apex .input-container input {
    background: white;
    border-radius: .5rem;
    padding: 1rem;
    width: 30vw;
}
.eicu-apex .input-container i {
    position: absolute;
    bottom: .25rem;
    right: 0;
    padding: 1rem;
    color: #333;
    cursor: pointer;
}

.eicu-apex .logo {
    position: absolute;
    bottom:1rem;
    right: 1rem
}


/* Index */
.index {
    background: url("./images/background.jpg") no-repeat center;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

.index input {
    background-color: white;
    border-radius: .5rem;
    width: 40vw;
    padding: 1rem;
}

aside {
    padding: 1rem .7rem 1.5rem;
    flex: 0 0 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside .logo {
    text-align: center;
    margin-bottom: .5rem;
}

aside .logo a {
    font: 1.5rem/2 "Nunito", "sans-serif";
    color: #3d2aa8;
}

aside .menu {
    display: flex;
    flex-wrap: wrap;
}

aside .menu li {
    flex: 1 1 100%;
    margin-bottom: .5rem;
}

aside .menu a {
    font-family: "Raleway", "sans-serif";
    display: block;
    border-radius: .3rem;
    color: #A3A6A9;
    padding: .5rem 1rem;
    transition: background-color .2s;
}

aside .menu a.active, aside .menu a:hover {
    color: white;
    background-color: #3d2aa8;
}

aside .btn-record {
    font-size: 1rem;
    color: #3d2aa8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
    background-color: #ebebf5;
    border-radius: .5rem;
}

aside .btn-record span {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500;
    text-transform: capitalize;
    margin: .5rem
}

/* Content */
.content {
    padding: 1rem;
    background-color: #ebeef5;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto
}

.content .title {
    padding: .5rem;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.content .title .btn-save {
    font-size: 1rem;
    color: white;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    background-color: LightSeaGreen;
    border-radius: .5rem;
}

.content .title .btn-save span {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500;
    text-transform: capitalize;
    margin: .5rem
}

.content h1 {
    flex: 0 0 auto;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    text-transform: capitalize;
}

.frame {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -.5rem;
    box-sizing: border-box;
}

.content .chart-container {
    flex: 1 1 50%;
    padding: .5rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.content .chart-container a {
    background: white;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.content .chart {
    flex: 1;
}


/* Record */

.content .records {
    flex: 1 1 50%;
}

.content .record-container {
    background: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: .5rem
}

.content .record-title {
    color: #0191B4;
    font-family: "Raleway", "sans-serif";
    font-weight: bold;
    margin-bottom: 1rem;
}

.content .record {
    font-family: "Nunito", "sans-serif";
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
}

.content .record label {
    font-size: 16px;
    color: #A3A6A9;
    flex: 1 1 auto
}

.content .record input {
    font-family: "Nunito", "sans-serif";
    flex: 0 0 30%;
    text-align: right;
    font-weight: bold;
    box-shadow: 0 0 0 0;
}

.content .record input:focus {
    outline: 1px solid #0191B4;
}