@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src: url('fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url('fonts/Raleway-Medium.ttf');
}

:root {
    --var-mainColor: #01797F;
    --var-secondaryColor: #0A2E51
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-clear-button {
    display: none;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font: 17px/1.5 'Nunito', 'sans-serif', 'NanumSquare';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex
}

a {
    text-decoration: none;
    color: #333
}

input {
    border: 0;
    padding: .3rem .6rem;
    font: 17px/1.5 'NanumSquare';
    background-color: transparent;
    outline: 0;
}

button {
    border: 0;
    background-color: transparent;
    display: flex;
    align-content: center;
    border-radius: .2rem;
    transition: background-color .2s;
    cursor: pointer;
    outline: 0;
}

button.new, button.submit {
    display: flex;
    align-items: center;
    font: normal 14px 'Work Sans', sans-serif;
    text-transform: uppercase;
    background-color: #47CACC;
    color: white
}

button.new [class*=icon-], button.submit [class*=icon-] {
    margin-right: .2rem;
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0
}

.active {
    visibility: visible !important;
    opacity: 1 !important
}


/* Toggle Button */
.btn-toggle {
    width: 3rem;
    height: 1.5rem;
    vertical-align: middle;
    border-radius: 1.5rem;
    display: inline-block;
    position: relative;
    background-color: #47CACC;
    background-size: 12px;
    cursor: pointer;
    transition: .25s
}

.btn-toggle.light {
    background-color: #47CACC;
    background-size: 12px
}

.btn-toggle.light .round-btn {
    left: calc(2rem - 4px)
}

.btn-toggle .round-btn {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: .25s
}

.btn-toggle .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
}


.container {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
}


/* First Page */
.eicu-apex {
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20vh 10vw;
    background: url("images/bg_04.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.eicu-apex::before {
    content: '';
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.eicu-apex .input-container {
    color: white;
    text-align: center;
    position: relative;
}

.eicu-apex .input-container label {
    display: block;
    margin-bottom: 1rem;
}

.eicu-apex .input-container label h1 {
    font: normal 4rem/1 "Nunito";
    text-transform: uppercase;
}

.eicu-apex .input-container label span {
    font: 20px "Nunito", "sans-serif";
    text-transform: capitalize;
    letter-spacing: 2px;
}

.eicu-apex .input-container input {
    background: white;
    border-radius: .5rem;
    padding: 1rem;
    width: 30vw;
}

.eicu-apex .input-container i {
    position: absolute;
    bottom: .25rem;
    right: 0;
    padding: 1rem;
    color: #333;
    cursor: pointer;
}

.eicu-apex .logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem
}


.header {
    padding: .5rem 1rem;
    flex: 0 0 auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .2s;
}

.header .logo {
    text-align: center;
}

.header .logo a {
    font: 18px/1.5 "Nunito", "sans-serif";
}

.header .navigation {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header .navigation a {
    font-family: "Raleway", "sans-serif";
    display: flex;
    align-items: center;
    border-radius: .3rem;
    text-transform: capitalize;
    color: white;
    padding: .5rem 1rem;
    transition: background-color .4s;
}

.header .navigation a.active, nav .navigation a:hover {
    color: white;
    background-color: #333;
}

.header .navigation svg {
    fill: white;
    margin-right: .5rem;
}

.header .search {
    position: relative;
}

.header .search input {
    border-radius: .3rem;
    width: 8rem;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 2rem;
}

.header .search svg {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    fill: white;
    cursor: pointer;
}

.header .change-theme {
    font-family: "Nunito", "sans-serif";
    color: #A3A6A9;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.header .change-theme small {
    display: none;
}


/* Filters Container */
.filter-charts {
    color: white;
    background-color: slategrey;
    padding: 1rem;
    margin: 1rem;
    border-radius: .3rem;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    justify-content: space-between;
}

.filter-charts .checkbox {
    display: flex;
}

.filter-charts .checkbox label {
    font-size: 15px;
    color: rgba(255, 255, 255, .3);
}


/* Content */
.content {
    flex: 1 1 100%;
    background-color: #ebeef5;
    overflow: auto;
}

.content-chart {
    flex-direction: column;
    flex: 1 1 100%;
}


.title {
    flex: 1 1 auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.title .btn-save {
    height: 100%;
    font-size: 1rem;
    color: white;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background-color: #47CACC;
    border-radius: .2rem;
}

.title .btn-save span {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500;
    text-transform: capitalize;
    margin: .5rem
}

.content h1 {
    font-size: 1.2rem;
    flex: 0 0 auto;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    text-transform: capitalize;
}

.content h1 span {
    font-weight: bold;
}

.frame {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    margin: -.25rem -.5rem 0;
    box-sizing: border-box;
}

.chart-container {
    opacity: 0;
    background: white;
    border-radius: .5rem;
    padding: .2rem;
    margin: .5rem;
    display: flex;
    width:3000px;
    height: 180px;
    position: relative;
    overflow: hidden;
    animation: fadeIn .7s forwards;
}

.chart-container:nth-of-type(1) {
    animation-delay: 1.0s
}

.chart-container:nth-of-type(2) {
    animation-delay: 1.1s
}

.chart-container:nth-of-type(3) {
    animation-delay: 1.2s
}

.chart-container:nth-of-type(4) {
    animation-delay: 1.3s
}

.chart-container:nth-of-type(5) {
    animation-delay: 1.4s
}

.chart-container:nth-of-type(6) {
    animation-delay: 1.5s
}

.chart-container:nth-of-type(7) {
    animation-delay: 1.6s
}

.chart-container:nth-of-type(8) {
    animation-delay: 1.7s
}

.chart-container:nth-of-type(9) {
    animation-delay: 1.8s
}

.chart-container:nth-of-type(10) {
    animation-delay: 1.9s
}

.chart-container:nth-of-type(11) {
    animation-delay: 2.0s
}

.chart-container:nth-of-type(12) {
    animation-delay: 2.1s
}

.chart-container:nth-of-type(13) {
    animation-delay: 2.2s
}

.chart-container:nth-of-type(14) {
    animation-delay: 2.3s
}

.chart-container:first-of-type {
    margin-top: 0
}

.chart-container .more {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}


.chart-container .chart {
    flex: 1;
    position: relative;
}

.chart-container .chart::before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 10rem;
    width: 1px;
    height: 100%;
    background-color: yellow;
}


/* Record */

.content-input {
    padding: .5rem;
    padding-top: 0
}

.records {
    display: flex;
    flex-wrap: wrap;
}

.records .record-container {
    flex: 1 1 50%;
    padding: .25rem;
}

.records-checkbox {
    padding: 1rem
}

.records .checkbox {
    flex: 1 1 20%
}

.record-container {
    background: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: .5rem;
    transition: background-color .4s;
}

.record-title {
    color: #47CACC;
    font-family: "Raleway", "sans-serif";
    font-weight: bold;
    margin: 1rem 1rem .5rem;
}

.record {
    font-family: "Nunito", "sans-serif";
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.record label {
    font-size: 16px;
    color: #A3A6A9;
    position: absolute;
    left: 1rem
}

.record input {
    font-family: "Nunito", "sans-serif";
    flex: 1 1 100%;
    text-align: right;
    font-weight: bold;
    box-shadow: 0 0 0 0;
    border-bottom: 1px solid #EEE;
    transition: border-bottom-color .4s;
}

.record input:focus {
    outline: 1px solid #47CACC;
}


/* Modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 31;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s
}


.modal {
    opacity: 0;
    width: 90%;
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    padding: 2rem;
    top: 50%;
    left: 50%;
    background: white;
    display: flex;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    transition: .25s
}

.modal.active {
    pointer-events: auto;
    z-index: 50;
}

.modal .chart-container {
    width:100%;
    height: 500px
}


/* Dark Theme */
.theme-dark {
    background: #111523;
}

.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5 {
    color: white;
}

.theme-dark .header {
    background: linear-gradient(90deg, darkslateblue, darkslategray);
}

.theme-dark .header .logo a {
    color: white;
}

.theme-dark .header .navigation a.active, .theme-dark nav .navigation a:hover {
    background-color: white;
    color: #333;
}

.theme-dark .header .btn-record {
    background-color: rgba(235, 235, 245, .1);
}

.theme-dark .header .btn-record {
    color: #c5b1f4;
}

.theme-dark .content {
    background: #111523;
}

.theme-dark .content .title {
    color: white;
}

.theme-dark .chart-container, .theme-dark .record-container {
    background: #252936;
}

.theme-dark .chart rect {
}

.theme-dark .chart text {
    stroke: transparent;
    fill: white;
}

.theme-dark .google-visualization-tooltip {
    color: black;
}

.theme-dark .chart-container .more svg {
    fill: white;
}

.theme-dark .record {;
}

.theme-dark .record input {
    color: white;
    border-color: rgba(255, 255, 255, .1)
}

.theme-dark .record textarea {
    color: white;
    border: 1px solid rgba(255, 255, 255, .1)
}

.theme-dark .modal {
    background-color: #252936;
}


@media screen and (max-width: 1080px) {
    .chart-container, .records {
        flex: 1 1 100% !important
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


/* Scrollbar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #eee;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a3a6a9;
}


/* Checkbox */
.checkbox input {
    position: absolute;
    opacity: 0
}

.checkbox label {
    color: #D3D6D9;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: .2s color;
}

.checkbox input:checked + label {
    color: white;
}

.checkbox label:before {
    border-radius: 2px;
    transition: .2s;
    content: '';
    margin-right: 3px;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, .3)
}

.checkbox input:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 10px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 #ffffff, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}


select {
    font-size: 14px;
    font-family: "Nunito", "sans-serif";
    border: 0;
    border-radius: .3rem;
    padding: .5rem;
    margin-right: .5rem;
    cursor: pointer;
}

textarea {
    font-size: 17px;
    font-family: "Nanumsquare";
    background-color: transparent;
    width: 100%;
    border: 0;
    resize: none;
    color: white;
}


@media screen and (max-width: 480px) {
    .header .navigation {
        position: relative;
        left: auto;
        transform: initial;
    }

    .header .navigation svg {
        margin-right: 0;
    }

    .header .navigation span {
        display: none;
    }

    .header .search {
        display: none;
    }

    .filter-charts .checkbox {
        flex: 1 1 25%
    }
}