/*@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url({% static 'webfonts/NanumSquareR.eot' %});
    src: url({% static 'webfonts/NanumSquareR.eot?#iefix' %}) format('embedded-opentype'), src: url({% static 'webfonts/NanumSquareR.woff' %}) format('woff'), src: url({% static 'webfonts/NanumSquareR.ttf' %}) format('truetype'),
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: bold;
    src: url({% static 'webfonts/NanumSquareB.eot' %});
    src: url({% static 'webfonts/NanumSquareB.eot?#iefix' %}) format('embedded-opentype'), src: url({% static 'webfonts/NanumSquareB.woff' %}) format('woff'), src: url({% static 'webfonts/NanumSquareB.ttf' %}) format('truetype'),
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url({% static 'webfonts/NanumSquareL.eot' %});
    src: url({% static 'webfonts/NanumSquareL.eot?#iefix' %}) format('embedded-opentype'), src: url({% static 'webfonts/NanumSquareL.woff' %}) format('woff'), src: url({% static 'webfonts/NanumSquareL.ttf' %}) format('truetype'),
}*/

:root {
    --var-mainColor: #01797F;
    --var-secondaryColor: #0A2E51
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font: 17px/1.5 'NanumSquare';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex
}

a {
    text-decoration: none;
    color: #333
}

input {
    border: 0;
    padding: .7rem;
    font: 17px/1.5 'NanumSquare';
    background-color: transparent;
    outline: 0;
}

button {
    border: 0;
    background-color: transparent;
    display: flex;
    align-content: center;
    border-radius: .2rem;
    transition: background-color .2s;
    cursor: pointer;
    outline: 0;
}

button.new, button.submit {
    display: flex;
    align-items: center;
    font: normal 14px 'Work Sans', sans-serif;
    text-transform: uppercase;
    background-color: #0191B4;
    color: white
}

button.new [class*=icon-], button.submit [class*=icon-] {
    margin-right: .2rem;
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 0
}

ion-icon {
    font-size: 1rem;
    vertical-align: middle
}

/* Toggle Button */
.btn-toggle {
    width: 3rem;
    height: 1.5rem;
    vertical-align: middle;
    border-radius: 1.5rem;
    display: inline-block;
    position: relative;
    background-color: #0191B4;
    background-size: 12px;
    cursor: pointer;
    transition: .25s
}

.btn-toggle.dark {
    background-color: #0191B4;
    background-size: 12px
}

.btn-toggle.dark .round-btn {
    left: calc(2rem - 4px)
}

.btn-toggle .round-btn {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    transition: .25s
}

.btn-toggle .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
}


.container {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    display: flex;
}


/* First Page */
.eicu-apex {
    justify-content: center;
    align-items: center;
    background: url("images/bg_04.jpg") no-repeat;
    background-size: cover;
}

.eicu-apex .input-container {
    color: white;
    text-align: center;
    position: relative;
}

.eicu-apex .input-container label {
    display: block;
    margin-bottom: 1rem;
}

.eicu-apex .input-container label h1 {
    font: normal 4rem/1 "Nunito";
    text-transform: uppercase;
}

.eicu-apex .input-container label span {
    font: 20px "Nunito", "sans-serif";
    text-transform: capitalize;
    letter-spacing: 2px;
}

.eicu-apex .input-container input {
    background: white;
    border-radius: .5rem;
    padding: 1rem;
    width: 30vw;
}

.eicu-apex .input-container i {
    position: absolute;
    bottom: .25rem;
    right: 0;
    padding: 1rem;
    color: #333;
    cursor: pointer;
}

.eicu-apex .logo {
    position: absolute;
    bottom: 1rem;
    right: 1rem
}


aside {
    padding: 1.5rem .7rem;
    flex: 0 0 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: background-color .2s;
}

aside > div {
    width: 100%
}

aside .logo {
    text-align: center;
    margin-bottom: 2rem;
}

aside .logo a {
    font: 1.5rem/2 "Nunito", "sans-serif";
}

aside .menu {
    display: flex;
    flex-wrap: wrap;
}

aside .menu li {
    flex: 1 1 100%;
    margin-bottom: .5rem;
}

aside .menu a {
    font-family: "Raleway", "sans-serif";
    display: block;
    border-radius: .3rem;
    color: #A3A6A9;
    padding: .5rem 1rem;
    transition: background-color .4s;
}

aside .menu a.active, aside .menu a:hover {
    color: white;
    background-color: #333;
}

aside .btn-record {
    width: 100%;
    font-size: 1rem;
    color: #3d2aa8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    background-color: #ebebf5;
    border-radius: .5rem;
}

aside .btn-record span {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500;
    text-transform: capitalize;
    margin: .5rem
}

aside .change-theme {
    font-family: "Nunito", "sans-serif";
    color: #A3A6A9;
    text-transform: capitalize;
    width: 80%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/* Content */
.content {
    padding: 1rem;
    background-color: #ebeef5;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: background-color .4s;
}

.content .title {
    height: 40px;
    padding: 0 .5rem;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.content .title .btn-save {
    height: 100%;
    font-size: 1rem;
    color: white;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background-color: #0191B4;
    border-radius: .2rem;
}

.content .title .btn-save span {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500;
    text-transform: capitalize;
    margin: .5rem
}

.content h1 {
    font-size: 1.2rem;
    flex: 0 0 auto;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 400;
    text-transform: capitalize;
}

.content h1 span {
    font-weight: bold;
}

.frame {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -.5rem;
    box-sizing: border-box;
}

.content .chart-container {
    flex: 1 1 50%;
    padding: .5rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.content .chart-container a {
    background: white;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.content .chart {
    flex: 1;
}


/* Record */

.content .records {
    flex: 1 1 50%;
}

.content .record-container {
    background: white;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: .5rem;
    transition: background-color .4s;
}

.content .record-title {
    color: #0191B4;
    font-family: "Raleway", "sans-serif";
    font-weight: bold;
    margin-bottom: 1rem;
}

.content .record {
    font-family: "Nunito", "sans-serif";
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    transition: border-bottom-color .4s;
}

.content .record label {
    font-size: 16px;
    color: #777;
    flex: 1 1 auto
}

.content .record input {
    font-family: "Nunito", "sans-serif";
    flex: 0 0 30%;
    text-align: right;
    font-weight: bold;
    box-shadow: 0 0 0 0;
}

.content .record input:focus {
    outline: 1px solid #0191B4;
}


/* Dark Theme */

.theme-dark aside {
    background: #252936;
}

.theme-dark aside .logo a {
    color: white;
}

.theme-dark aside .menu a.active, .theme-dark aside .menu a:hover {
    background-color: white;
    color: #333;
}

.theme-dark aside .btn-record {
    background: rgba(235, 235, 245, .1);
}

.theme-dark aside .btn-record {
    color: #c5b1f4;
}

.theme-dark .content {
    background: #111523;
}

.theme-dark .content .title {
    color: white;
}

.theme-dark .chart-container a, .theme-dark .record-container {
    background: #252936;
}

.theme-dark .chart rect {
    fill: transparent;
}

.theme-dark .chart text {
    stroke: transparent;
    fill: white;
}

.theme-dark .record {
    border-color: rgba(255, 255, 255, .1);
}

.theme-dark .record input {
    color: white
}



@media screen and (max-width:1280px) {
    .chart-container, .records {
        flex: 1 1 100% !important
    }
}