{% extends "base.html" %}
{% block content %}
<header class="user">
  <button class="toggle-menu" type="button">
    <svg viewBox="0 0 100 100" width="80">
      <path
        d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
      <path d="m 30,50 h 40" />
      <path
        d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
    </svg>
  </button>
  <div class="title">신청조회</div>
  <button class="btn-search" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path
        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
    </svg>
  </button>
</header>
<main class="content user list complaints">
  <div class="row" onclick="location.href='user_complain_details.html'">
    <div class="type request">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path
            d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="title">
        서울특별시 구로구 디지털로31길
      </li>
      <li class="date">
        2021-05-26 14:26:18
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="type request">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path
            d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="title">
        서울특별시 구로구 디지털로31길
      </li>
      <li class="date">
        2021-05-26 14:26:18
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="type receipt">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path
            d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="title">
        서울특별시 구로구 디지털로31길
      </li>
      <li class="date">
        2021-05-26 14:26:18
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="type proceed">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <path
            d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="title">
        서울특별시 구로구 디지털로31길
      </li>
      <li class="date">
        2021-05-26 14:26:18
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="type reject">
      <div class="icon"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 18">
          <path
            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="title">
        서울특별시 구로구 디지털로31길
      </li>
      <li class="date">
        2021-05-26 14:26:18
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="type done">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 18">
          <path d="M6.61 11.89L3.5 8.78 2.44 9.84 6.61 14l8.95-8.95L14.5 4z" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="title">
        서울특별시 구로구 디지털로31길
      </li>
      <li class="date">
        2021-05-26 14:26:18
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="type done">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 18">
          <path d="M6.61 11.89L3.5 8.78 2.44 9.84 6.61 14l8.95-8.95L14.5 4z" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="title">
        서울특별시 구로구 디지털로31길
      </li>
      <li class="date">
        2021-05-26 14:26:18
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="type done">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 18 18">
          <path d="M6.61 11.89L3.5 8.78 2.44 9.84 6.61 14l8.95-8.95L14.5 4z" />
        </svg>
      </div>
    </div>
    <ul>
      <li class="title">
        서울특별시 구로구 디지털로31길
      </li>
      <li class="date">
        2021-05-26 14:26:18
      </li>
    </ul>
  </div>
</main>
<footer>
  <ul class="footer-menu">
    <li onclick="location.href='user_about.html'">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
      </svg>
      <span>사업안내</span>
    </li>
    <li onclick="location.href='user_cctv.html'">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
      </svg>
      <span>CCTV 설치신청</span>
    </li>
    <li class="active" onclick="location.href='user_complaints.html'">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path
          d="M22 3H2C.9 3 0 3.9 0 5v14c0 1.1.9 2 2 2h20c1.1 0 1.99-.9 1.99-2L24 5c0-1.1-.9-2-2-2zM8 6c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H2v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1zm3.85-4h1.64L21 16l-1.99 1.99c-1.31-.98-2.28-2.38-2.73-3.99-.18-.64-.28-1.31-.28-2s.1-1.36.28-2c.45-1.62 1.42-3.01 2.73-3.99L21 8l-1.51 2h-1.64c-.22.63-.35 1.3-.35 2s.13 1.37.35 2z" />
      </svg>
      <span>신청조회</span>
    </li>
  </ul>
</footer>
<div class="modal modal-search">
  <div class="modal-header">
    <div class="title">
      <h3>상세 검색</h3>
      <button class="close" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18">
          <path
            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-content">
    <section class="keywords">
      <span>신청인</span>
      <input type="search" placeholder="신청인을 입력하세요" />
    </section>
    <section>
      <span>조회기간</span>
      <div class="filters">
        <button type="button" type="button">
          <input type="radio" id="input-a-month" name="filter-term" checked="checked" />
          <label for="input-a-month">
            <span>1개월</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="input-3-months" name="filter-term" />
          <label for="input-3-months">
            <span>3개월</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="input-6-months" name="filter-term" />
          <label for="input-6-months">
            <span>6개월</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="input-a-year" name="filter-term" />
          <label for="input-a-year">
            <span>1년</span>
          </label>
        </button>
      </div>
      <div class="filters calendar">
        <div class="input">
          <input type="text" />
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
            <path
              d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z" />
          </svg>
        </div>
        <div class="input">
          <input type="text" />
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
            <path
              d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z" />
          </svg>
        </div>
      </div>
    </section>
    <section>
      <span>상태</span>
      <div class="filters">
        <button type="button" type="button">
          <input type="radio" id="inputRequest" name="filter-type" checked="checked" />
          <label for="inputRequest">
            <span>신청</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="inputReceipt" name="filter-type" />
          <label for="inputReceipt">
            <span>접수</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="inputProceed" name="filter-type" />
          <label for="inputProceed">
            <span>진행</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="inputReject" name="filter-type" />
          <label for="inputReject">
            <span>반려</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="inputDone" name="filter-type" />
          <label for="inputDone">
            <span>완료</span>
          </label>
        </button>
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <button class="btn-cancel close" type="button">취소</button>
    <button class="btn-search" type="button">검색</button>
  </div>
</div>
{% endblock %}