{% extends "base.html" %}
{% block content %}
{% import "header.html" as forms %}
{{forms.title("업무 요청")}}
<main class="content details add workspace">
  <div class="inputs">
    <div class="input title">
      <span>작업명</span>
      <input type="text" placeholder="작업명을 입력하세요." />
    </div>
    <div class="input">
      <span>중요도</span>
      <div class="filters">
        <button type="button" type="button">
          <input type="radio" id="input-emergency" name="filter-importance" checked="checked" />
          <label for="input-emergency">
            <span>긴급</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="input-high" name="filter-importance" />
          <label for="input-high"></label>
            <span>높음</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="input-normal" name="filter-importance" />
          <label for="input-normal">
            <span>보통</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="input-low" name="filter-importance" />
          <label for="input-low">
            <span>낮음</span>
          </label>
        </button>
      </div>
    </div>
    <div class="input">
      <span>업무유형</span>
      <div class="filters work-type">
        <button type="button">
          <input type="radio" id="request-permission" name="work-type" checked="checked" />
          <label for="request-permission">
            <span>권한요청</span>
          </label>
        </button>
        <button type="button">
          <input type="radio" id="personal-information" name="work-type" />
          <label for="personal-information">
            <span>개인정보변경</span>
          </label>
        </button>
        <button type="button">
          <input type="radio" id="reset-password" name="work-type" />
          <label for="reset-password">
            <span>비밀번호 초기화</span>
          </label>
        </button>
        <button type="button">
          <input type="radio" id="etc" name="work-type" />
          <label for="etc">
            <span>기타</span>
          </label>
        </button>
      </div>
    </div>
    <div class="input send-to">
      <span>받는사람</span>
      <input type="text" />
    </div>
    <div class="input">
      <span>플랫폼관리자 공개여부</span>
      <div class="filters">
        <button type="button">
          <input type="radio" id="content-public" name="content-type" checked="checked" />
          <label for="content-public">
            <span>예</span>
          </label>
        </button>
        <button type="button">
          <input type="radio" id="content-private" name="content-type" />
          <label for="content-private">
            <span>아니오</span>
          </label>
        </button>
      </div>
    </div>
    <textarea name="" id="" rows="6"></textarea>
    <div class="buttons attach">
      <button>
        <input type="file" id="input-attach" />
        <label for="input-attach">
          <i class="fad fa-cloud-upload"></i>
        </label>
      </button>
    </div>
  </div>
</main>
<div class="buttons">
  <button class="btn-main">업무 요청 등록</button>
</div>
<div class="modal modal-confirm">
  <div class="modal-header">
    <div class="title">
      <h3>업무 요청</h3>
      <button class="btn-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18">
          <path
            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-content">
    업무 요청을 등록 하시겠습니까?
  </div>
  <div class="modal-footer buttons">
    <button class="btn-cancel" type="button">아니오</button>
    <button class="btn-submit" type="button">예</button>
  </div>
</div>
<div class="modal modal-done">
  <div class="modal-content">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512">
      <path d="M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z"
        style="fill:none;stroke:slategray;stroke-miterlimit:10;stroke-width:32px" />
      <polyline points="352 176 217.6 336 160 272"
        style="fill:none;stroke:slategray;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
    </svg>
    <p>업무 요청이 등록 되었습니다.</p>
  </div>
  <div class="modal-footer buttons">
    <button class="btn-cancel" type="button">확인</button>
  </div>
</div>
{% endblock %}