{% extends "base.html" %}
{% block content %}
{% import "header.html" as forms %}
{{forms.title("Workspace #101")}}
<main class="content details workspace">
  <div class="row high">
    <div class="row-title">
      <div class="tags">
        <span class="tag bg-red">긴급</span>
        <span class="tag bg-blue">요청</span>
      </div>
      <ul>
        <li class="title">
          <div>카메라 위치 조정 요청 건카메라 위치 조정 요청 건카메라 위치 조정 요청 건</div>
        </li>
        <li class="created">
          <span class="writer">홍길동</span>
          <span class="date">2021-08-03 12:42:32</span>
        </li>
      </ul>
    </div>
    <div class="details">
      <p>
        모니터링 중 근처 가로수로 인하여 정확한 모니터링이 불가하오니 조치 부탁드립니다.
        아래 관련 자료 첨부 하오니, 확인 후 빠른 조치 부탁 드립니다.
        주정차 단속 관련 장비 이므로 빠른 처리가 필요합니다.
        감사합니다.
      </p>
      <div class="images">
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1610819610413-3e42356fc150?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            alt="">
        </div>
        <div class="image">
          <img
            src="https://images.unsplash.com/photo-1596311087104-86dba6be2aad?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzJ8fHN0cmVldHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            alt="">
        </div>
      </div>
    </div>
    <div class="status">
      <div class="attach">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
          <path
            d="M216.08,192V335.85a40.08,40.08,0,0,0,80.15,0l.13-188.55a67.94,67.94,0,1,0-135.87,0V337.12a95.51,95.51,0,1,0,191,0V159.74"
            style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
        </svg>
      </div>
      <div>
        <span class="comment">3</span>
        <span class="read">5</span>
      </div>
    </div>
  </div>
  <div class="row comments">
    <div class="new">
      <div class="title">댓글작성</div>
      <div class="filters">
        <button type="button" type="button">
          <input type="radio" id="input-request" name="filter-search" checked="checked" />
          <label for="input-request">
            <span>요청</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="input-undertake" name="filter-search" />
          <label for="input-undertake">
            <span>진행</span>
          </label>
        </button>
        <button type="button" type="button">
          <input type="radio" id="input-done" name="filter-search" />
          <label for="input-done">
            <span>완료</span>
          </label>
        </button>
      </div>
      <textarea name="" id="" rows="6"></textarea>
      <div class="comment-footer">
        <div class="attach">
          <button class="attach-images">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
              <path d="M432,112V96a48.14,48.14,0,0,0-48-48H64A48.14,48.14,0,0,0,16,96V352a48.14,48.14,0,0,0,48,48H80"
                style="fill:none;stroke-linejoin:round;stroke-width:32px" />
              <rect x="96" y="128" width="400" height="336" rx="45.99" ry="45.99"
                style="fill:none;stroke-linejoin:round;stroke-width:32px" />
              <ellipse cx="372.92" cy="219.64" rx="30.77" ry="30.55"
                style="fill:none;stroke-miterlimit:10;stroke-width:32px" />
              <path d="M342.15,372.17,255,285.78a30.93,30.93,0,0,0-42.18-1.21L96,387.64"
                style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
              <path d="M265.23,464,383.82,346.27a31,31,0,0,1,41.46-1.87L496,402.91"
                style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
            </svg>
          </button>
          <button class="attach-files">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
              <path
                d="M216.08,192V335.85a40.08,40.08,0,0,0,80.15,0l.13-188.55a67.94,67.94,0,1,0-135.87,0V337.12a95.51,95.51,0,1,0,191,0V159.74"
                style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
            </svg>
          </button>
        </div>
        <div class="buttons">
          <button class="btn-cancel">취소</button>
          <button class="btn-submit">등록</button>
        </div>
      </div>
    </div>
    <div class="other-comment">
      <ul class="information">
        <li class="tags">
          <span class="tag request"></span>
        </li>
        <li class="created">
          <span class="writer">홍길동</span>
          <span class="date">2021-08-03 12:42:32</span>
        </li>
      </ul>
      <div>
        내용 확인 했습니다.
        최대한 빨리 조치 가능 하도록 하겠습니다.
      </div>
      <div class="status">
        읽음: 박보검, 정우성, 전지현, 이정재, 이영애, 손예진, 현빈, 고길동, 둘리, 또치
      </div>
    </div>
    <div class="other-comment">
      <ul class="information">
        <li class="tags">
          <span class="tag undertake"></span>
        </li>
        <li class="created">
          <span class="writer">홍길동</span>
          <span class="date">2021-08-03 12:42:32</span>
        </li>
      </ul>
      <div>
        내용 확인 했습니다.
        최대한 빨리 조치 가능 하도록 하겠습니다.
      </div>
      <div class="status">
        읽음: 박보검, 정우성, 전지현, 이정재, 이영애, 손예진, 현빈, 고길동, 둘리, 또치
      </div>
    </div>
    <div class="other-comment">
      <ul class="information">
        <li class="tags">
          <span class="tag done"></span>
        </li>
        <li class="created">
          <span class="writer">홍길동</span>
          <span class="date">2021-08-03 12:42:32</span>
        </li>
      </ul>
      <div>
        내용 확인 했습니다.
        최대한 빨리 조치 가능 하도록 하겠습니다.
      </div>
      <div class="status">
        읽음: 박보검, 정우성, 전지현, 이정재, 이영애, 손예진, 현빈, 고길동, 둘리, 또치
      </div>
    </div>
  </div>
</main>
<div class="modal modal-comment">
  <div class="modal-header">
    <div class="title">
      <h3>댓글 등록</h3>
      <button class="btn-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18">
          <path
            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-content">
    작업 내용을 등록 하시겠습니까?
  </div>
  <div class="modal-footer buttons">
    <button class="btn-cancel" type="button">아니오</button>
    <button class="btn-submit" type="button">예</button>
  </div>
</div>
<div class="modal modal-done">
  <div class="modal-content">
    <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
      <path d="M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z"
        style="fill:none;stroke:slategray;stroke-miterlimit:10;stroke-width:32px" />
      <polyline points="352 176 217.6 336 160 272"
        style="fill:none;stroke:slategray;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
    </svg>
    <p>작업 내용이 등록 되었습니다.</p>
  </div>
  <div class="modal-footer buttons">
    <button class="btn-close" type="button">확인</button>
  </div>
</div>
{% endblock %}