{% macro title(text) %}
<header>
  <div class="row">
    <button class="toggle-menu" type="button">
      <i class="fad fa-bars"></i>
    </button>
    <div class="title">{{ text }}</div>
    <div class="buttons">
      <button class="btn-request" onclick="location.href='workspace_add.html'" type="button">
        <i class="fad fa-briefcase"></i>
      </button>
      <button class="btn-warning" onclick="location.href='equipment_add.html'" type="button">
        <i class="fad fa-tools"></i>
      </button>
      <button class="btn-search" type="button">
        <i class="fad fa-search"></i>
      </button>
    </div>
  </div>
</header>
{% endmacro %}